<header><h2>Payment</h2></header>
<div class="row" style="margin-left: 5%" >
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
      Name on Card: <input ng-model="name_on_card"><br><br>
      Card Number:  <input  ng-model="card_number"><br><br>
      Card Cvv:     <input  ng-model="card_cvv"><br><br>
      Expiration:   <input ng-model="card_expiry"placeholder="MM/YY"><br><br>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">

  </div>
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
    <h2>Order summary</h2>
    <h3>Item Cost:{{item_cost}}</h3>
    <h3>Shipping Cost:{{shipment_cost}}</h3>
    <hr>
    <h3>Total: {{total_cost}}</h3>
    <!-- <h3>Product price: ${{cartItem.product_price}}</h3> -->
    <!-- <h3 ng-if="cartItem.product_price_after_personalisation">Customisation cost: ${{getCustomisationCost(cartItem.product_price_after_personalisation, cartItem.product_price)}}</h3>
    <h3 ng-if="cartItem.product_price_after_personalisation == undefined">Customisation cost: ${{0*0}}</h3>

    <hr>
    <h3 ng-if="cartItem.product_price_after_personalisation">Total: ${{(cartItem.product_price_after_personalisation * product_quantity).toFixed(2)}}</h3>
    <h3 ng-if="cartItem.product_price_after_personalisation == undefined">Total: ${{(cartItem.product_price * product_quantity).toFixed(2)}}</h3>

    <br><br> -->
    <button class="btn btn-success" ng-click="proceed_to_checkout_gateway()">save & continue</button>
  </div>



</div>
