<div class="container-fluid row">
  <div id="luxire-container" class="row col col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <div id="luxire-logo">
      <img src="lib/assets/Luxire_logo_collection_page.png" >
    </div>
    <div style="border: solid 2px #AD7984;border-radius: 10px;margin-top: 3%;padding-bottom: 2%">
      <div class="row" style="margin-left: 2%;margin-top: 2%">
        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-5">
          <h4 ng-init="selected_payment_method == 'cc'">Payment method</h4>
          <div class="row" style="border: solid 1px grey; padding: 2% 0% 2% 2%">
            <input type="radio" ng-model="selected_payment_method" ng-change="change_payment_method(selected_payment_method)" value="cc" >
            Credit Card [EBS]
          </div>
          <div ng-show="selected_payment_method == 'cc'"  class="row" style="border: solid 1px grey; padding: 2% 0% 2% 2%">
            <input placeholder="Card number" ng-model="card_number" class="form-control"><br>
            <input style="width: 40%;" placeholder="Name on card" ng-model="name_on_card" class="form-control"><br>
            <input style="width: 25%;" placeholder="MM/YY" class="form-control" ng-model="card_expiry"><br>
            <input style="width: 25%;" placeholder="CVV" class="form-control" ng-model="card_cvv"><br>
            <form style="display: none" class="form-inline" role="form" method="post" action="https://secure.ebs.in/pg/ma/payment/request" name="frmTransaction" id="ebs_transaction">
                <!---->
                <input style="display: none" name="channel" type="hidden" value="{{ebs_object.channel}}" />
                 <input style="display: none" name="account_id" type = "hidden" value="{{ebs_object.account_id}}" /><br/>
                 <input style="display: none" id="refNum" name="reference_no"  type="hidden" value="{{ebs_object.reference_no}}"/> <br/>
                 <input style="display: none" id="amount" name="amount"  type="hidden" value="{{ebs_object.amount}}" /><br/>
                 <input style="display: none" name="mode"   type="hidden"  value="{{ebs_object.mode}}" /> <br/>
                 <input style="display: none" name="currency"  type="hidden"  value="{{ebs_object.currency}}" /> <br/>
                 <input style="display: none" name="description"  type="hidden"   value="{{ebs_object.description}}" /> <br/>
                 <input style="display: none" name="return_url"  type="hidden"  value="{{ebs_object.return_url}}" /> <br/>
                 <input style="display: none" name="name"  type="hidden"  value="{{ebs_object.name}}" /><br/>
                 <input style="display: none" name="address"  type="hidden"  value="{{ebs_object.address}}" /><br/>
                 <input style="display: none" name="city"  type="hidden"  value="{{ebs_object.city}}" /><br/>
                 <input style="display: none" name="state"  type="hidden"  value="{{ebs_object.state}}" /><br/>
                 <input style="display: none" name="country"  type="hidden"  value="{{ebs_object.country}}" /><br/>
                 <input style="display: none" name="postal_code"  type="hidden"  value="{{ebs_object.postal_code}}" /><br/>
                 <input style="display: none" name="phone"  type="hidden"  value="{{ebs_object.phone}}" /><br/>
                 <input style="display: none" name="email"  type="hidden"  value="{{ebs_object.email}}" /><br/>

                 <input style="display: none" name="bank_code"  type="hidden"  value="" /><br/>
                 <input style="display: none" name="name_on_card"  type="hidden"   value="{{ebs_object.name_on_card}}"/>
                 <input style="display: none" name="card_number"  value="{{ebs_object.card_number}}"/> <br/>
                 <input style="display: none" name="card_expiry"  type="hidden"  value="{{ebs_object.card_expiry}}" />
                  <input style="display: none" name="card_cvv"  value="{{ebs_object.card_cvv}}"/> <br/>

                 <input style="display: none" id="secureHash" name="secure_hash"  value="{{ebs_object.secure_hash}}" /> <br/>
                 <!-- <input value="Submit" type="submit" /> -->

                <!---->
            </form>
          </div>
          <div class="row" style="border: solid 1px grey; padding: 2% 0% 2% 2%">
            <input type="radio" ng-model="selected_payment_method" ng-change="change_payment_method(selected_payment_method)" value="pp" >
            Pay Pal
          </div>
          <div ng-show="selected_payment_method == 'pp'" class="row" style="border: solid 1px grey; padding: 2% 0% 2% 2%">
            Pay Pal Flow
          </div>
        </div>
        <div style="text-align: left;padding-right: 4%" class="col-md-7 col-sm-7 col-lg-7 col-xs-7">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
              <img src="http://54.169.41.36:3000{{line_items[0].variant.images[0].small_url}}">
            </div>
            <div style="margin-left: -20%" class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
              <span class="badge">{{line_items[0].quantity}}</span>
            </div>
            <div class="col-md-5 col-sm-5 col-lg-5 col-xs-5">
              <p style="font-size: 12px">{{line_items[0].variant.name}}<p>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
              {{line_items[0].display_amount}}
            </div>
          </div>
          <hr style="margin-top: 2%">
            <!-- <div class="row">
              <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
                <input type="text" placeholder="Gift card or Coupon code" class="form-control" ng-model="coupon_code">
              </div>
              <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                <button class="btn-primary" ng-click="apply_coupon_code()">Apply</button>
              </div>
            </div> -->
          <hr style="margin-top: 5%;margin-bottom: 2%">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
              Subtotal:<br>
              Coupon Discount:<br>
              Shipping Cost:<br>
            </div>
            <div style="margin-left: -15%" class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
            </div>
            <div class="col-md-5 col-sm-5 col-lg-5 col-xs-5">
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
              {{display_item_total}}<br>
              {{adjustment_total}}<br>
              {{shipping_total}}
            </div>
          </div>
          <hr style="margin-top: 2%;margin-bottom: 2%">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
              Total:
            </div>
            <div style="margin-left: -15%" class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
            </div>
            <div class="col-md-5 col-sm-5 col-lg-5 col-xs-5">
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
              {{display_total}}
            </div>
          </div>
          <br>
          <br>
          <button class="btn btn-primary" type="submit" form="ebs_transaction">Complete order</button>
        </div>
      </div>

    </div>
    <div>
      Luxire Custom Clothing process all orders in USD. While the content of your cart is currently displayed in , you will checkout using USD at the most current exchange rate.
    </div>

    <div style="margin-top: 30%">
      <div style="border-top: solid 2px #C7BD98;margin-top: 2%;padding-top: 2%">
        <div style="display: inline-block;margin-left: 2%">search&nbsp;&nbsp;</div>
        <div style="display: inline-block" >&nbsp;&nbsp;about us&nbsp;&nbsp;</div>
        <div style="display: inline-block">&nbsp;&nbsp;privacy policy&nbsp;&nbsp;</div>
        <div style="display: inline-block">&nbsp;&nbsp;shipping & returns&nbsp;&nbsp;</div>
        <div style="display: inline-block">&nbsp;&nbsp;FAQs&nbsp;&nbsp;</div>
        <div style="display: inline-block">&nbsp;&nbsp;quality and satisfaction&nbsp;&nbsp;</div>
        <div style="display: inline-block" >&nbsp;&nbsp;contact us&nbsp;&nbsp;</div>
      </div>
      <div style="text-align: center">
        responsible manufacturing
      </div>
      <div>
        <div style="display: inline-block;text-align: right;width:40%;padding-top: 2%">
          Enter in your email to join our mailing list:
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div  style="display: inline-block;">
            <input type="text" class="form-control" id="email-feild" placeholder="email">
        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div  style="display: inline-block;">
            <button type="button" style="background-color:black;color: white" class="btn btn-default btn-sm">Submit</button>
        </div>
      </div>
      <div style="text-align: center;padding-top: 2%;color: #C7BD98">
        Copyright © 2012 Luxire Custom clothing
      </div>
      <!-- <button style="margin-left: 86%" class="btn btn-primary" ng-click="go_to_checkout_address(product_quantity)">Checkout</button> -->
  </div>
</div>

</div>



<!-- <header><h2>Payment</h2></header>
<div class="row" style="margin-left: 5%" >
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
      Name on Card: <input ng-model="name_on_card"><br><br>
      Card Number:  <input  ng-model="card_number"><br><br>
      Card Cvv:     <input  ng-model="card_cvv"><br><br>
      Expiration:   <input ng-model="card_expiry"placeholder="MM/YY"><br><br>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">

  </div>
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
    <h2>Order summary</h2>
    <h3>Item Cost:{{item_cost}}</h3>
    <h3>Shipping Cost:{{shipment_cost}}</h3>
    <hr>
    <h3>Total: {{total_cost}}</h3>
    <!-- <h3>Product price: ${{cartItem.product_price}}</h3> -->
    <!-- <h3 ng-if="cartItem.product_price_after_personalisation">Customisation cost: ${{getCustomisationCost(cartItem.product_price_after_personalisation, cartItem.product_price)}}</h3>
    <h3 ng-if="cartItem.product_price_after_personalisation == undefined">Customisation cost: ${{0*0}}</h3>

    <hr>
    <h3 ng-if="cartItem.product_price_after_personalisation">Total: ${{(cartItem.product_price_after_personalisation * product_quantity).toFixed(2)}}</h3>
    <h3 ng-if="cartItem.product_price_after_personalisation == undefined">Total: ${{(cartItem.product_price * product_quantity).toFixed(2)}}</h3>

    <br><br> -->
    <!-- <button class="btn btn-success" ng-click="proceed_to_checkout_gateway()">save & continue</button>
  </div> -->



<!-- </div> --> -->
