<header><h2>Delivery</h2></header>
<div class="row" style="margin-left: 5%" >
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
    <h2>Shipping Methods</h2>
    <li ng-repeat="shipping_rate in shipments.shipping_rates">
        <input type="radio" ng-model="$parent.selected_shipping_rate" ng-change="change_shipping_rate($parent.selected_shipping_rate)" ng-value="shipping_rate" >
        {{shipping_rate.name}} [{{shipping_rate.display_cost}}]</br>
    </li>

    <!-- {{selected_shipping_rate}} -->
  </div>
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">

  </div>
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
    <h2>Order summary</h2>
    <h3>Item Price: ${{item_price}}</h3>
    <h3>Shipping Cost: ${{shipping_cost}}</h3>
    <hr>
    <h3>Total: ${{total_cost}}</h3>
    
    <button class="btn btn-success" ng-click="proceed_to_checkout_payment()">save & continue</button>
  </div>



</div>
