<div class="container-fluid" style="width: 100%; height:100%">
	<div class="row" style="width: 100%; height:100%; margin: 0px;">
		<div class="col-lg-2 col-md-2" style="height:100%;background-color: #31373D;">
      <div class="container-fluid" style="height:100%;">
        <div class="row" style="height:100%;">
          <div class="col-lg-3 col-md-3" style="padding: 0px;text-align: center;font-size: 20px;height:100%;" ng-class="{'sublinkActive': isActive}">
            <div class="admin-sidebar-header">
              <h3 style="margin: 0px; padding: 10px 0px;">&nbsp;&nbsp;&nbsp;</h3>
            </div>
            <div class="search admin-sidebar-tab" id="search">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-search" style="font-size:20px;"></i>
            </div>
            <div class="home admin-sidebar-tab" id="home">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="font-size:20px;"></i>
            </div>
            <div class="orders admin-sidebar-tab" id="orders" ng-click="activeButton('orders')">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-check-square" style="font-size:20px;"></i>
            </div>
            <div class="products admin-sidebar-tab" id="products" ng-click="activeButton('products')">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-tag" style="font-size:20px;"></i>
            </div>
            <div class="customers admin-sidebar-tab" id="customers">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-users" style="font-size:20px;"></i>
            </div>
            <div class="reports admin-sidebar-tab" id="reports">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-bar-chart" style="font-size:20px;"></i>
            </div>
            <div class="discounts admin-sidebar-tab" id="discounts">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-scissors" style="font-size:20px;"></i>
            </div>
          </div>
          <div class="col-lg-9 col-md-9" style="padding: 0px;" ng-switch on="navbar">
						<div ng-switch-default>
							<div class="col-lg-11 col-md-11" style="padding: 0px;">
	              <div class="admin-sidebar-header"><h3 style="margin: 0px; padding: 10px 0px;">Luxire</h3></div>
	              <div class="search admin-sidebar-tab" style="font-size:13px;" id="search">Search</div>
	              <div class="home admin-sidebar-tab" style="font-size:13px;" id="home">Home</div>
	              <div class="orders admin-sidebar-tab" style="font-size:13px;" id="orders" ng-click="navbar = 'orders'">Orders</div>
	              <div class="products admin-sidebar-tab" style="font-size:13px;" id="products" ng-click="navbar = 'products'">Products</div>
	              <div class="customers admin-sidebar-tab" style="font-size:13px;" id="customers">Customers</div>
	              <div class="reports admin-sidebar-tab" style="font-size:13px;" id="reports">Reports</div>
	              <div class="discounts admin-sidebar-tab" style="font-size:13px;" id="discounts">Discounts</div>
	            </div>
	            <div class="col-lg-1 col-md-1" style="padding: 0px;">
	              <div class="admin-sidebar-header"><h3 style="margin: 0px; padding: 10px 0px;">&nbsp;</h3></div>
	              <div class="search admin-sidebar-tab" style="font-size:13px;" id="search"></div>
	              <div class="home admin-sidebar-tab" style="font-size:13px;" id="home"></div>
	              <div class="orders admin-sidebar-tab" style="font-size:13px;" id="orders" ng-click="navbar = 'orders'"><i class="fa fa-chevron-right" style="font-size:11px;"></i></div>
	              <div class="products admin-sidebar-tab" style="font-size:13px;" id="products" ng-click="navbar = 'products'"><i class="fa fa-chevron-right" style="font-size:11px;"></i></div>
	              <div class="customers admin-sidebar-tab" style="font-size:13px;" id="customers"></div>
	              <div class="reports admin-sidebar-tab" style="font-size:13px;" id="reports"></div>
	              <div class="discounts admin-sidebar-tab" style="font-size:13px;" id="discounts"></div>
	            </div>
						</div>

						<div ng-switch-when="orders">
							<div class="admin-sidebar-header2">&nbsp;&nbsp;&nbsp;&nbsp;ORDERS</div>
							<div class="admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Orders</div>
							<div class="admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Drafts</div>
							<div class="home admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Abandonned Checkouts</div>
						</div>

						<div ng-switch-when="products">
							<div class="admin-sidebar-header2">&nbsp;&nbsp;&nbsp;&nbsp;PRODUCTS</div>
							<div class="admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Products</div>
							<div class="admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Inventory</div>
							<div class="admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Collections</div>
						<div class="admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Gift Card</div>
						</div>

          </div>
        </div>
      </div>
		</div>
		<div class="col-lg-10 col-md-10" style="height:100%">
      <div ng-switch on="navbar" style="height:100%">
				<div ng-switch-when="products" style="height:100%">
					<div class="container-fluid" style="height:100%">
						<div class="row" style="height: 3.3em; line-height: 3.3em; border-bottom: 1px solid #DBDEE0;">
							<div class="col-lg-2 col-md-2" style="text-align: center;font-size: 20px;">
								<i class="fa fa-tag" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:100;color:#928CA2;">Products</span>
							</div>
							<div class="col-lg-6 col-md-6">

							</div>
							<div class="col-lg-4 col-md-4" style="text-align: right;">
								<div class="btn-group" role="group" aria-label="...">
  								<button type="button" class="btn btn-default">Export</button>
  								<button type="button" class="btn btn-default">Import</button>
								</div>
								<button type="button" class="btn btn-primary">Add a product</button>
							</div>
						</div>
						<div class="row" style="height: 93vh;">
							<div class="container-fluid admin-console-content">
								<div class="row" style="margin:0px; background-color: white; border: 1px solid #DBDEE0;">
									<div class="row" style="margin:0px; background-color: white;">
										<div  class="col-lg-1 col-md-1" style="padding:0px; height:6vh; line-height: 6vh; text-align: center; border-right: 1px solid #DBDEE0;">
											<span style="font-size: 12px;">All Products</span>
										</div>
										<div  class="col-lg-11 col-md-11" style="height:6vh;background-color:#F5F6F7; border-bottom: 1px solid #DBDEE0;">

										</div>
									</div>
									<div class="row" style="margin:0px; background-color: white; padding: 20px;">
										<div class="input-group">
      								<div class="input-group-btn">
        							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
        							<ul class="dropdown-menu">
          							<li><a href="#">Filter Products</a></li>
          							<li><a href="#">Another action</a></li>
          							<li><a href="#">Something else here</a></li>
          							<li role="separator" class="divider"></li>
          							<li><a href="#">Separated link</a></li>
        							</ul>
      								</div><!-- /btn-group -->
      								<input type="text" class="form-control" aria-label="...">
    								</div>
									</div>
									<div class="row" style="margin:0px; background-color: white; padding: 20px;">
										<table class="table table-hover">
											<thead>
												<tr>
													<th>
														<input type="checkbox" name="selectAll" value="">
													</th>
													<th>
														Product
													</th>
													<th>
														Inventory
													</th>
													<th>
														Type
													</th>
													<th>
														Vendor
													</th>
												</tr>
											</thead>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    $(".search").hover(function(){
      $(".search").toggleClass("hover-sidebar");
    });
		$(".search").click(function(){
      $(".search").toggleClass("active-sidebar2");
    });
    $(".home").hover(function(){
      $(".home").toggleClass("hover-sidebar");
    });
		$(".home").click(function(){
      $(".home").toggleClass("active-sidebar1");
    });
    $(".orders").hover(function(){
      $(".orders").toggleClass("hover-sidebar");
    });
		$(".orders").click(function(){
      $(".orders").toggleClass("active-sidebar2");
    });
    $(".products").hover(function(){
      $(".products").toggleClass("hover-sidebar");
    });
		$(".products").click(function(){
      $(".products").toggleClass("active-sidebar2");
    });
    $(".customers").hover(function(){
      $(".customers").toggleClass("hover-sidebar");
    });
		$(".customers").click(function(){
      $(".customers").toggleClass("active-sidebar1");
    });
    $(".reports").hover(function(){
      $(".reports").toggleClass("hover-sidebar");
    });
		$(".reports").click(function(){
      $(".reports").toggleClass("active-sidebar1");
    });
    $(".discounts").hover(function(){
      $(".discounts").toggleClass("hover-sidebar");
    });
		$(".discounts").click(function(){
      $(".discounts").toggleClass("active-sidebar1");
    });
</script>
