<div class="container-fluid" style="width: 100%; height:100%">
	<div class="row" style="width: 100%; height:100%; margin: 0px;">
		<div class="col-lg-2 col-md-2" style="height:100%;background-color: #31373D;">
      <div class="container-fluid" style="height:100%;">
        <div class="row" style="height:100%;">
          <div class="col-lg-3 col-md-3" style="padding: 0px;text-align: center;font-size: 20px;height:100%;" ng-class="{'sublinkActive': isActive}">
            <div class="admin-sidebar-header">
              <h3 style="margin: 0px; padding: 10px 0px;">&nbsp;&nbsp;&nbsp;</h3>
            </div>
            <div class="search admin-sidebar-tab" id="search">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-search" style="font-size:20px;"></i>
            </div>
            <div class="home admin-sidebar-tab" id="home">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="font-size:20px;"></i>
            </div>
            <div class="orders admin-sidebar-tab" id="orders" ng-click="activeButton('orders')">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-check-square" style="font-size:20px;"></i>
            </div>
            <div class="products admin-sidebar-tab" id="products" ng-click="activeButton('products')">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-tag" style="font-size:20px;"></i>
            </div>
            <div class="customers admin-sidebar-tab" id="customers">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-users" style="font-size:20px;"></i>
            </div>
            <div class="reports admin-sidebar-tab" id="reports">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-bar-chart" style="font-size:20px;"></i>
            </div>
            <div class="discounts admin-sidebar-tab" id="discounts">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-scissors" style="font-size:20px;"></i>
            </div>
          </div>
          <div class="col-lg-9 col-md-9" style="padding: 0px;" ng-switch on="navbar">
						<div ng-switch-default>
							<div class="col-lg-11 col-md-11" style="padding: 0px;">
	              <div class="admin-sidebar-header"><h3 style="margin: 0px; padding: 10px 0px;">Luxire</h3></div>
	              <div class="search admin-sidebar-tab" style="font-size:13px;" id="search">Search</div>
	              <div class="home admin-sidebar-tab" style="font-size:13px;" id="home">Home</div>
	              <div class="orders admin-sidebar-tab" style="font-size:13px;" id="orders" ng-click="navbar = 'orders'">Orders</div>
	              <div class="products admin-sidebar-tab" style="font-size:13px;" id="products" ng-click="navbar = 'products'">Products</div>
	              <div class="customers admin-sidebar-tab" style="font-size:13px;" id="customers">Customers</div>
	              <div class="reports admin-sidebar-tab" style="font-size:13px;" id="reports">Reports</div>
	              <div class="discounts admin-sidebar-tab" style="font-size:13px;" id="discounts">Discounts</div>
	            </div>
	            <div class="col-lg-1 col-md-1" style="padding: 0px;">
	              <div class="admin-sidebar-header"><h3 style="margin: 0px; padding: 10px 0px;">&nbsp;</h3></div>
	              <div class="search admin-sidebar-tab" style="font-size:13px;" id="search"></div>
	              <div class="home admin-sidebar-tab" style="font-size:13px;" id="home"></div>
	              <div class="orders admin-sidebar-tab" style="font-size:13px;" id="orders" ng-click="navbar = 'orders'"><i class="fa fa-chevron-right" style="font-size:11px;"></i></div>
	              <div class="products admin-sidebar-tab" style="font-size:13px;" id="products" ng-click="navbar = 'products'"><i class="fa fa-chevron-right" style="font-size:11px;"></i></div>
	              <div class="customers admin-sidebar-tab" style="font-size:13px;" id="customers"></div>
	              <div class="reports admin-sidebar-tab" style="font-size:13px;" id="reports"></div>
	              <div class="discounts admin-sidebar-tab" style="font-size:13px;" id="discounts"></div>
	            </div>
						</div>

						<div ng-switch-when="orders">
							<div class="admin-sidebar-header2">&nbsp;&nbsp;&nbsp;&nbsp;ORDERS</div>
							<div class="admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Orders</div>
							<div class="admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Drafts</div>
							<div class="home admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Abandonned Checkouts</div>
						</div>

						<div ng-switch-when="products">
							<div class="admin-sidebar-header2">&nbsp;&nbsp;&nbsp;&nbsp;PRODUCTS</div>
							<div class="admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Products</div>
							<div class="admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Inventory</div>
							<div class="admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Collections</div>
						<div class="admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Gift Card</div>
						</div>

          </div>
        </div>
      </div>
		</div>
		<div class="col-lg-10 col-md-10" style="height:100%">

      <div ng-switch on="navbar" style="height:100%">

				<!-- Products Home Page -->
				<div ng-switch-when="products" style="height:100%">
					<div class="container-fluid" style="height:100%">
						<div class="row" style="height: 3.3em; line-height: 3.3em; border-bottom: 1px solid #DBDEE0;">
							<div class="col-lg-2 col-md-2" style="text-align: center;font-size: 20px;">
								<i class="fa fa-tag" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:100;color:#928CA2;">Products</span>
							</div>
							<div class="col-lg-6 col-md-6">

							</div>
							<div class="col-lg-4 col-md-4" style="text-align: right;">
								<div class="btn-group" role="group" aria-label="...">
  								<button type="button" class="btn btn-default">Export</button>
  								<button type="button" class="btn btn-default">Import</button>
								</div>
								<button type="button" class="btn btn-primary" ng-click="activeButton('addProducts')">Add a product</button>
							</div>
						</div>
						<div class="row" style="height: 93vh;">
							<div class="container-fluid admin-console-content">
								<div class="row" style="margin:0px; background-color: white; border: 1px solid #DBDEE0;">
									<div class="row" style="margin:0px; background-color: white;">
										<div  class="col-lg-1 col-md-1" style="padding:0px; height:6vh; line-height: 6vh; text-align: center; border-right: 1px solid #DBDEE0;">
											<span style="font-size: 12px;">All Products</span>
										</div>
										<div  class="col-lg-11 col-md-11" style="height:6vh;background-color:#F5F6F7; border-bottom: 1px solid #DBDEE0;">

										</div>
									</div>
									<div class="row" style="margin:0px; background-color: white; padding: 20px;">
										<div class="input-group">
      								<div class="input-group-btn">
        							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
        							<ul class="dropdown-menu">
          							<li><a href="#">Filter Products</a></li>
          							<li><a href="#">Another action</a></li>
          							<li><a href="#">Something else here</a></li>
          							<li role="separator" class="divider"></li>
          							<li><a href="#">Separated link</a></li>
        							</ul>
      								</div><!-- /btn-group -->
      								<input type="text" class="form-control" aria-label="...">
    								</div>
									</div>
									<div class="row" style="margin:0px; background-color: white; padding: 20px;">
										<table class="table table-hover admin-product-list">
											<thead>
												<tr>
													<th>
														<input type="checkbox" name="selectAll" value="">
													</th>
													<th>
														Product
													</th>
													<th>
														Inventory
													</th>
													<th>
														Type
													</th>
													<th>
														Vendor
													</th>
												</tr>
											</thead>
											<tbody>
												<tr ng-repeat="x in jsonresponse.data.products">
													<td>
														<input type="checkbox" name="selectAll" value="">
													</td>
													<td>
														<span ng-if="x.master.images[0].mini_url != null"><img src="http://54.169.41.36:3000{{x.master.images[0].mini_url}}"></span><span ng-if="x.master.images[0].mini_url == null"><img src="lib/assets/no-image-available.jpg" style="height: 48px; width: 48px;"/></span> &nbsp;&nbsp;&nbsp;&nbsp;{{x.name}}
													</td>
													<td>
														{{x.total_on_hand}}
													</td>
													<td>
														Shirts
													</td>
													<td>
														Luxire
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End of Products Home Page -->

				<!-- Add Products Page -->
				<div ng-switch-when="addProducts" style="height:100%">
					<div class="container-fluid" style="height:100%">
						<div class="row" style="height: 3.3em; line-height: 3.3em; border-bottom: 1px solid #DBDEE0;">
							<div class="col-lg-4 col-md-4" style="text-align: center;font-size: 20px;">
								<i class="fa fa-tag" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:100;color:#928CA2;">Products / <span style="color: black;">Add a product</span></span>
							</div>
							<div class="col-lg-5 col-md-5">

							</div>
							<div class="col-lg-3 col-md-3" style="text-align: right;">
  							<button type="button" class="btn btn-default">Cancel</button>
  							<button type="button" class="btn btn-default" disabled>Save product</button>
							</div>
						</div>

						<div class="row" style="height: 93vh;">
							<div class="container-fluid admin-console-content">
								<div class="row">
									<div class="col-lg-8 col-md-8">
										<div class="placard">
											<span style="font-size: 13px;">Title</span>
											<br>
											<input type="text" ng-model="name" class="form-control" placeholder="Short Sleeve T-Shirt">
											<br>
											<span style="font-size: 13px;">Description</span>
											<br>
											<div class="panel panel-default">
  											<div class="panel-heading" style="padding: 5px;">
													<div class="btn-group" role="group" aria-label="...">
														<div class="btn-group" role="group">
    													<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      													<span class="fa fa-font"></span>
      													<span class="caret"></span>
    													</button>
													    <ul class="dropdown-menu">
													      <li><a href="#">Paragraph</a></li>
													      <li><a href="#">Heading 1</a></li>
																<li><a href="#">Heading 2</a></li>
																<li><a href="#">Heading 3</a></li>
																<li><a href="#">Heading 4</a></li>
																<li><a href="#">Heading 5</a></li>
																<li><a href="#">Heading 6</a></li>
																<li><a href="#">Blockquote</a></li>
													    </ul>
													  </div>
														<button type="button" class="btn btn-default"><span class="fa fa-bold"></span></button>
														<button type="button" class="btn btn-default"><span class="fa fa-italic"></span></button>
													</div>
													<div class="btn-group" role="group" aria-label="...">
														<button type="button" class="btn btn-default" aria-label="Unordered List">
  														<span class="fa fa-list-ul" aria-hidden="true"></span>
														</button>
														<button type="button" class="btn btn-default" aria-label="Ordered List">
  														<span class="fa fa-list-ol" aria-hidden="true"></span>
														</button>
														<button type="button" class="btn btn-default" aria-label="Indent">
  														<span class="fa fa-indent" aria-hidden="true"></span>
														</button>
														<button type="button" class="btn btn-default" aria-label="Outdent">
  														<span class="fa fa-outdent" aria-hidden="true"></span>
														</button>
													</div>
												</div>
  											<div class="panel-body">
    											<textarea class="description" ng-model="description" rows="9" cols="40"></textarea>
  											</div>
											</div>
										</div>

										<div class="placard">
											<span style="font-size: 20px;">Images</span>
												<label ng-file-select ng-file-change="uploadSponsorLogo($files)" style="float: right; color: #479ccf;cursor: pointer;" id="uploadImage">Upload image</label>
											<br>
											<div class="drag-drop">
												<img ng-src="{{productImage}}" style="margin: 30px;">
											</div>
										</div>

										<div class="placard">
											<span style="font-size: 20px;">Pricing</span>
											<br>
											<br>
											<div class="row">
												<div class="col-lg-6 col-md-6">
													<span style="font-size: 13px;">Price</span>
												</div>
												<div class="col-lg-6 col-md-6">
													<span style="font-size: 13px;">Compare at price</span>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6 col-md-6">
													<input type="text" class="form-control" ng-model="price">
												</div>
												<div class="col-lg-6 col-md-6">
													<input type="text" class="form-control" ng-model="compare_at_price">
												</div>
											</div>
											<br>
											<input type="checkbox" ng-model="taxFlag" value="true"> &nbsp;&nbsp;&nbsp;<span style="font-size: 13px;">Charge taxes on this product</span>
											<hr>
											<span style="font-size: 20px;">Inventory</span>
											<br>
											<br>
											<div class="row">
												<div class="col-lg-6 col-md-6">
													<span style="font-size: 13px;">SKU <span style="color:#95A7B7;">(Stock keeping unit)</span></span>
												</div>
												<div class="col-lg-6 col-md-6">
													<span style="font-size: 13px;">Barcode <span style="color:#95A7B7;">(ISBN, UPC, etc.)</span></span>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6 col-md-6">
													<input type="text" class="form-control" ng-model="price">
												</div>
												<div class="col-lg-6 col-md-6">
													<input type="text" class="form-control" ng-model="compare_at_price">
												</div>
											</div>
											<br>
											<div class="row">
												<div class="col-lg-6 col-md-6">
													<span style="font-size: 13px;">Inventory Policy</span></span>
												</div>
												<div class="col-lg-6 col-md-6">
													<span style="font-size: 13px;"></span>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6 col-md-6">
													<select class="form-control" name="">
														<option value="1">Don't track inventory</option>
														<option value="2">Spree tracks this product's inventory</option>
													</select>
												</div>
												<div class="col-lg-6 col-md-6">

												</div>
											</div>
											<hr>
											<span style="font-size: 20px;">Shipping</span>
											<br>
											<br>
											<div class="row">
												<div class="col-lg-6 col-md-6">
													<span style="font-size: 13px;">Weight</span></span>
												</div>
												<div class="col-lg-6 col-md-6">
													<span style="font-size: 13px;"></span>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-6 col-md-6">
													<div class="form-group">
														<div class="input-group">
															<input type="text" class="form-control" aria-label="..." value="0.0">
															<div class="input-group-btn">
																<select class="form-control" name="" style="margin-left: -1px; width: auto; border-top-right-radius: 4px; border-bottom-right-radius: 4px;">
																	<option value="kg">kg</option>
																	<option value="lb">lb</option>
																	<option value="oz">oz</option>
																	<option value="g">g</option>
													      </select>
															</div>
														</div>
											    </div><!-- /input-group -->
												</div>
												<div class="col-lg-6 col-md-6">

												</div>
											</div>
										</div>

									</div>
									<div class="col-lg-4 col-md-4">
										<div class="placard-grey" ng-init="calFlag = true">
											<span style="font-size: 20px;">
												Visibility
											</span>
											<hr>
											<div class="row">
												<div class="col-lg-10 col-md-10">
													<input type="checkbox" ng-model="onlineStore" value="true"> <span style="font-size: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;Online store</span>
												</div>
												<div class="col-lg-2 col-md-2" style="text-align: right;">
													<i class="fa fa-calendar-o" style="color: #479CCF; float: right;" tooltip="Set a publish date" ng-click="calFlag = !calFlag"></i>
												</div>
											</div>
											<div class="row" ng-hide="calFlag" style="-webkit-transition: all linear 0.5s; transition: all linear 0.5s; margin-top: 10px">
												<div class="col-lg-12 col-md-12">
													<span style="font-size: 13px;">Publish on this date</span>
													<datetimepicker data-ng-model="data.date"></datetimepicker>
												</div>
											</div>
										</div>
										<div class="placard-grey">
											<span style="font-size: 20px;">
												Organization
											</span>
											<br>
											<br>
											<div class="row">
												<div class="col-lg-12 col-md-12">
													<span style="font-size: 13px;">Product type</span>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-12 col-md-12">
													<select class="form-control" ng-model="prodType">
														<option value="shirts">Shirts</option>
													</select>
												</div>
											</div>
											<br>
											<br>
											<div class="row">
												<div class="col-lg-12 col-md-12">
													<span style="font-size: 13px;">Vendor</span>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-12 col-md-12">
													<select class="form-control" ng-model="vendor">
														<option value="shirts">Luxire</option>
													</select>
												</div>
											</div>
											<hr>
											<div class="row">
												<div class="col-lg-12 col-md-12">
													<span style="font-size: 13px;">Collections</span>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-12 col-md-12">
													<input type="text" class="form-control" placeholder="Search for collections">
												</div>
											</div>
											<br>
											<span style="font-size: 13px; color: #798C9E;">Add this product to a collection so it's easy to find in your store.</span>
											<br>
											<hr>
											<div class="row">
												<div class="col-lg-8 col-md-8">
													<span style="font-size: 13px;">Tags</span>
												</div>
												<div class="col-lg-4 col-md-4" style="text-align: right;">
													<a href="#" style="font-size: 13px">View all tags</a>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-12 col-md-12">
													<input type="text" class="form-control" ng-model="tags" placeholder="Vintage, cotton, summer">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- End of Add Products Page -->

			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    $(".search").hover(function(){
      $(".search").toggleClass("hover-sidebar");
    });
		$(".search").click(function(){
      $(".search").toggleClass("active-sidebar2");
    });
    $(".home").hover(function(){
      $(".home").toggleClass("hover-sidebar");
    });
		$(".home").click(function(){
      $(".home").toggleClass("active-sidebar1");
    });
    $(".orders").hover(function(){
      $(".orders").toggleClass("hover-sidebar");
    });
		$(".orders").click(function(){
      $(".orders").toggleClass("active-sidebar2");
    });
    $(".products").hover(function(){
      $(".products").toggleClass("hover-sidebar");
    });
		$(".products").click(function(){
      $(".products").toggleClass("active-sidebar2");
    });
    $(".customers").hover(function(){
      $(".customers").toggleClass("hover-sidebar");
    });
		$(".customers").click(function(){
      $(".customers").toggleClass("active-sidebar1");
    });
    $(".reports").hover(function(){
      $(".reports").toggleClass("hover-sidebar");
    });
		$(".reports").click(function(){
      $(".reports").toggleClass("active-sidebar1");
    });
    $(".discounts").hover(function(){
      $(".discounts").toggleClass("hover-sidebar");
    });
		$(".discounts").click(function(){
      $(".discounts").toggleClass("active-sidebar1");
    });
</script>
