  <div class="container-fluid" style="width: 100%; height:100%" >
	<div class="row" style="width: 100%; height:100%; margin: 0px;">
		<div class="col-lg-2 col-md-2" style="height:100%;background-color: #31373D;">
      <div class="container-fluid" style="height:100%;">
        <div class="row" style="height:100%;">
          <div class="col-lg-3 col-md-3" style="padding: 0px;text-align: center;font-size: 20px;height:100%;" ng-class="{'sublinkActive': isActive}" ng-mouseover="mouseoverNav()">
            <div class="admin-sidebar-header">
              <h3 style="margin: 0px; padding: 10px 0px;">&nbsp;&nbsp;&nbsp;</h3>
            </div>
            <div class="search admin-sidebar-tab">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-search" style="font-size:20px;"></i>
            </div>
            <div class="home admin-sidebar-tab">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-home" style="font-size:20px;"></i>
            </div>
            <div class="orders admin-sidebar-tab" ui-sref="admin.order">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-check-square" style="font-size:20px;"></i>
            </div>
            <div class="products admin-sidebar-tab" ui-sref="admin.product">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-tag" style="font-size:20px;"></i>
            </div>
            <div class="customers admin-sidebar-tab" ui-sref="admin.customer">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-users" style="font-size:20px;"></i>
            </div>
            <div class="reports admin-sidebar-tab" >
              &nbsp;&nbsp;&nbsp;<i class="fa fa-bar-chart" style="font-size:20px;"></i>
            </div>
            <div class="discounts admin-sidebar-tab" ui-sref="admin.discount">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-scissors" style="font-size:20px;"></i>
            </div>
            <div class="settings admin-sidebar-tab" ui-sref="admin.shipping_setting">
              &nbsp;&nbsp;&nbsp;<i class="fa fa-cog" style="font-size:20px;"></i>
            </div>

          </div>
          <div class="col-lg-9 col-md-9" style="padding: 0px;" >
						<div ng-hide = "showDefaultNav" ui-view="sideContent" style="width: 100%; height:100%"></div>
						<div ng-show = "showDefaultNav" ng-mouseleave="mouseleaveNav()">
							<div class="col-lg-11 col-md-11" style="padding: 0px;">
								<div class="admin-sidebar-header"><h3 style="margin: 0px; padding: 10px 0px;">Luxire</h3></div>
								<div class="search admin-sidebar-tab" style="font-size:13px;" id="search">Search</div>
								<div class="home admin-sidebar-tab" style="font-size:13px;" id="home">Home</div>
								<div class="orders admin-sidebar-tab" style="font-size:13px;" id="orders" ui-sref="admin.order">Orders</div>
								<div class="products admin-sidebar-tab" style="font-size:13px;" ui-sref="admin.product">Products</div>
								<div class="customers admin-sidebar-tab" style="font-size:13px;" id="customers" ui-sref="admin.customer">Customers</div>
								<div class="reports admin-sidebar-tab" style="font-size:13px;" id="reports">Reports</div>
								<div class="discounts admin-sidebar-tab" style="font-size:13px;" id="discounts" ui-sref="admin.discount">Discounts</div>
                <div class="settings admin-sidebar-tab" style="font-size:13px;" id="settings" ui-sref="admin.shipping_setting">Settings</div>
							</div>
							<div class="col-lg-1 col-md-1" style="padding: 0px;">
								<div class="admin-sidebar-header"><h3 style="margin: 0px; padding: 10px 0px;">&nbsp;</h3></div>
								<div class="search admin-sidebar-tab" style="font-size:13px;" id="search"></div>
								<div class="home admin-sidebar-tab" style="font-size:13px;" id="home"></div>
								<div class="orders admin-sidebar-tab" style="font-size:13px;" id="orders" ui-sref="admin.order"><i class="fa fa-chevron-right" style="font-size:11px;"></i></div>
								<div class="products admin-sidebar-tab" style="font-size:13px;" id="products" ui-sref="admin.product"><i class="fa fa-chevron-right" style="font-size:11px;"></i></div>
								<div class="customers admin-sidebar-tab" style="font-size:13px;" id="customers" ui-sref="admin.customer"></div>
								<div class="reports admin-sidebar-tab" style="font-size:13px;" id="reports"></div>
								<div class="discounts admin-sidebar-tab" style="font-size:13px;" id="discounts" ui-sref="admin.discount"></div>
              	<div class="settings admin-sidebar-tab" style="font-size:13px;" id="settings" ui-sref="admin.shipping_setting"><i class="fa fa-chevron-right" style="font-size:11px;"></i></div>
							</div>
						</div>


						<!-- <div ng-switch-default>
							<div class="col-lg-11 col-md-11" style="padding: 0px;">
	              <div class="admin-sidebar-header"><h3 style="margin: 0px; padding: 10px 0px;">Luxire</h3></div>
	              <div class="search admin-sidebar-tab" style="font-size:13px;">Search</div>
	              <div class="home admin-sidebar-tab" style="font-size:13px;">Home</div>
	              <div class="orders admin-sidebar-tab" style="font-size:13px;" ng-click="activeButton('orders')">Orders</div>
	              <div class="products admin-sidebar-tab" style="font-size:13px;" ng-click="activeButton('products')">Products</div>
	              <div class="customers admin-sidebar-tab" style="font-size:13px;" ng-click="activeButton('customerHome')">Customers</div>
	              <div class="reports admin-sidebar-tab" style="font-size:13px;">Reports</div>
	              <div class="discounts admin-sidebar-tab" style="font-size:13px;" ng-click="activeButton('discountsHome')">Discounts</div>
	            </div>
	            <div class="col-lg-1 col-md-1" style="padding: 0px;">
	              <div class="admin-sidebar-header"><h3 style="margin: 0px; padding: 10px 0px;">&nbsp;</h3></div>
	              <div class="search admin-sidebar-tab" style="font-size:13px;"></div>
	              <div class="home admin-sidebar-tab" style="font-size:13px;"></div>
	              <div class="orders admin-sidebar-tab" style="font-size:13px;" ng-click="navbar = 'orders'"><i class="fa fa-chevron-right" style="font-size:11px;"></i></div>
	              <div class="products admin-sidebar-tab" style="font-size:13px;" ng-click="activeButton('products')"><i class="fa fa-chevron-right" style="font-size:11px;"></i></div>
	              <div class="customers admin-sidebar-tab" style="font-size:13px;" ng-click="activeButton('customerHome')"></div>
	              <div class="reports admin-sidebar-tab" style="font-size:13px;"></div>
	              <div class="discounts admin-sidebar-tab" style="font-size:13px;" ng-click="activeButton('discountsHome')"></div>
	            </div>
						</div>

						<div ng-switch-when="orders">
							<div class="admin-sidebar-header2">&nbsp;&nbsp;&nbsp;&nbsp;ORDERS</div>
							<div class="admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Orders</div>
							<div class="admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Drafts</div>
							<div class="home admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Abandonned Checkouts</div>
						</div>

						<div ng-switch-when="products">
							<div class="admin-sidebar-header2">&nbsp;&nbsp;&nbsp;&nbsp;PRODUCTS</div>
							<div class="admin-sidebar-tab" style="font-size:13px;" ng-click="activeButton('products')">&nbsp;&nbsp;&nbsp;&nbsp;Products</div>
							<div class="admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Inventory</div>
							<div class="admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Collections</div>
							<div class="admin-sidebar-tab" style="font-size:13px;" ng-click="activeButton('giftCardHome')">&nbsp;&nbsp;&nbsp;&nbsp;Gift Card</div>
						</div> -->

          </div>
        </div>
      </div>
		</div>
		<div class="col-sm-10 col-xs-10 col-lg-10 col-md-10" style="height:100%; padding-left: 0px; padding-right: 0px">
			<div ui-view="mainContent" style="width: 100%; height:100%"></div>

      <!-- <div ng-switch on="navbar" style="height:100%">

				<div ng-switch-default>
					<div admin-home>

					</div>
				</div> -->
				<!-- Products Home Page -->
				<!-- <div ng-switch-when="products" style="height:100%">
					<div product-home>

					</div>
				</div> -->
				<!-- End of Products Home Page -->

				<!-- Add Products Page -->
				<!-- <div ng-switch-when="addProducts" style="height:100%">
					<div add-product>

					</div>
				</div> -->
				<!-- End of Add Products Page -->

				<!-- Customer Home -->
				<!-- <div ng-switch-when="customerHome" style="height: 100%">
					<div customer-home>

					</div>
				</div> -->
				<!-- End of Customer Home -->

				<!-- Add Customer -->
				<!-- <div ng-switch-when="addCustomer" style="height: 100%">
					<div add-customer>

					</div>
				</div> -->
				<!-- End of Add Customer -->

				<!-- Discounts Home -->
				<!-- <div ng-switch-when="discountsHome" style="height: 100%">
					<div discounts-home>

					</div>
				</div> -->
				<!-- End of Discounts Home -->

				<!-- Add Discounts -->
				<!-- <div ng-switch-when="addDiscounts" style="height: 100%">
					<div add-discounts>

					</div>
				</div> -->
				<!-- End of Add Discounts -->

				<!-- Gift Card Home -->
				<!-- <div ng-switch-when="giftCardHome" style="height: 100%">
					<div gift-card-home>

					</div>
				</div> -->
				<!-- End of Gift Card home -->

				<!-- Manage Gift Card -->
				<!-- <div ng-switch-when="manageGiftCard" style="height: 100%">
					<div manage-gift-card>

					</div>
				</div> -->
				<!-- End of manage gift card -->

				<!-- Add a gift card -->
				<!-- <div ng-switch-when="addGiftProducts">
					<div add-gift-products>

					</div>
				</div> -->
				<!-- End of add gift card -->

				<!-- Order Home -->
				<!-- <div ng-switch-when="orders">
					<div order-home>

					</div>
				</div> -->
				<!-- End of order home -->

				<!-- Add order -->
				<!-- <div ng-switch-when="addOrder">
					<div add-order>

					</div>
				</div> -->
				<!-- End of add order -->
			<!-- </div> -->
		</div>
	</div>
</div>
<script type="text/javascript">
    $(".search").hover(function(){
      $(".search").toggleClass("hover-sidebar");
    });
		$(".search").click(function(){
      $(".search").toggleClass("active-sidebar2");
    });
    $(".home").hover(function(){
      $(".home").toggleClass("hover-sidebar");
    });
		$(".home").click(function(){
      $(".home").toggleClass("active-sidebar1");
    });
    $(".orders").hover(function(){
      $(".orders").toggleClass("hover-sidebar");
    });
		$(".orders").click(function(){
      $(".orders").toggleClass("active-sidebar2");
    });
    $(".products").hover(function(){
      $(".products").toggleClass("hover-sidebar");
    });
		$(".products").click(function(){
      $(".products").toggleClass("active-sidebar2");
    });
    $(".customers").hover(function(){
      $(".customers").toggleClass("hover-sidebar");
    });
		$(".customers").click(function(){
      $(".customers").toggleClass("active-sidebar1");
    });
    $(".reports").hover(function(){
      $(".reports").toggleClass("hover-sidebar");
    });
		$(".reports").click(function(){
      $(".reports").toggleClass("active-sidebar1");
    });
    $(".discounts").hover(function(){
      $(".discounts").toggleClass("hover-sidebar");
    });
		$(".discounts").click(function(){
      $(".discounts").toggleClass("active-sidebar1");
    });
    $(".settings").hover(function(){
      $(".settings").toggleClass("hover-sidebar");
    });
		$(".settings").click(function(){
      $(".settings").toggleClass("active-sidebar1");
    });
</script>
