<div class="row container-fluid">
    <div id="left-side-space" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

    </div>
    <div id="customize-shirt-body"class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="margin-top:2%;">
          <div class="row container-fluid" style="padding-bottom:1%;">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <span style="font-size:140%;color:black;">Grey Wool Flannel</span>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <span style="font-size:110%;color:black;">new Pre-set Style</span>
                </div>

          </div>
          <hr>
          <div class="row container-fluid" style="width:100%;height:100%;">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="padding-left:2.5%;">
                  <div class="row" style="margin-top:1%;padding-bottom:10%;">
                      <img src="{{preSetStyles.styleTypes[0].imgurl}}" alt="{{preSetStyles.styleTypes[0].alt}}" style="width:90%;height:300px;" />
                  </div>
                  <div class="row" style="margin-top:4%; border-bottom: 1px solid #DDDCDA;padding-bottom:10%;">
                      <span style="font-size:130%;">Selected Options</span>
                      <!--<div>
                          <table class="shirt-details">
                              <tr ng-repeat="item in shirtDetails.description" style="">
                                  <td >{{item.name}}:</td>
                                  <td >{{item.value}}</td>
                              </tr>
                          </table>
                      </div>-->
                  </div>
                  <div class="row container-fluid" style="margin-top: 10%;">
                      <span style="font-size:120%;">Show More Details</span>
                      <span style="margin-left:2%;"><span class="glyphicon glyphicon-chevron-down"></span></span>
                  </div>
                  <!--<div class="row" style="margin-top:12%;">
                      <span style="font-size:200%;">{{shirtDetails.price}}</span>
                  </div>-->
              </div>
              <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="">
                  <div class="row container-fluid">
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                      <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <span ng-hide="hidePrev" class="glyphicon glyphicon-chevron-left" ng-click="slidePrev()" style="padding-right:0%;padding-top:%;font-size:200%;"></span>
                      </div>
                      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">

                      </div>
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                        <span ng-hide="hideNext" class="glyphicon glyphicon-chevron-right" ng-click="slideNext()" style="padding-left:0%;padding-top:%;font-size:200%;"></span>
                      </div>-->
                      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                          <div class="row" style="display:block;padding-bottom:2%;">
                              <div class="" style="display:inline-block;width:5%;float:left;">
                                <span ng-hide="hidePrev" class="glyphicon glyphicon-chevron-left" ng-click="slidePrev()" style="padding-right:0%;padding-top:50%;font-size:200%;"></span>
                              </div>
                              <div class="" style="display:inline-block;float:left;width:90%;">
                                  <div class="item active"  ng-repeat="style in preSetStyles.styleTypes | limitTo: 10" style="display:inline-block;float:left;margin-right:1%;border: 1px solid #DDDCDA;">
                                      <div class="" ng-class="{'activeFitClass': $index == selectedFitIndex }">
                                        <div class="" style="width:79px;height:79px;background-color: #9F9F9F;" >
                                            <img src="{{style.imgurl}}" style="width:100%;height:100%;" ng-click="selectFit($index,style.text)" >
                                        </div>
                                        <div style="font-size:80%;text-align:center;padding-top:1%;"><span>{{style.name}}</span></div>
                                      </div>
                                  </div>

                              </div>
                              <div class="" style="display:inline-block; width:5%;float:left;">
                                <span ng-hide="hideNext" class="glyphicon glyphicon-chevron-right" ng-click="slideNext()" style="padding-left:0%;padding-top:50%;font-size:200%;"></span>
                              </div>
                          </div>
                            <div class=""></div>

                      </div>
                  </div>
                  <hr>
                  <div class="row container-fluid">
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                          <div class="row container-fluid">
                              <div id="style-part" class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <span style="font-size:150%; ">Customization</span>
                              </div>
                              <div id="style-size-checkout" class="col-lg-9 col-md-9 col-sm-9 col-xs-9">

                              </div>

                          </div>
                      </div>
                    </div>
                    <div class="row container-fluid" style="width:100%;height:100%;margin-top:2%;">
                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                          <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11" style="border: 1px solid #DDDCDA;">
                              <div id="option-design-details" class="row container-fluid">
                                <div id="option-part" class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="border-right: 1px solid #DDDCDA;">
                                    <div class="row container-fluid">
                                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                          </div>
                                          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin-top:4%;">
                                              <div class="row" style="margin-top:3%;">
                                                <div><span style="font-size:110%;">Options</span></div>
                                              </div>
                                              <div class="row container-fluid" style="margin-top:5%;">
                                                      <div class="" ng-repeat="style in preSetStyles.cuffStyle | limitTo: 5" style="margin-top:8%;border: 1px solid #DDDCDA;" >
                                                          <div class="" ng-class="{'activeCuffsClass': $index == selectedCuffsIndex }">
                                                            <div class="" style="width:100%;height:100px;background-color: #CCCCCC;">
                                                              <img src="{{style.imgurl}}" style="width:100%;height:100%;" ng-click="selectCuffs($index,style.text)" >
                                                            </div>
                                                            <div style="font-size:80%;text-align:center;padding-top:1%;"><span>{{style.text}}</span></div>
                                                          </div>
                                                      </div>
                                              </div>

                                          </div>
                                          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="margin-top:2%;">

                                          </div>
                                    </div>
                                </div>
                                <div id="design-style" class="col-lg-7 col-md-7 col-sm-7 col-xs-7" style="">
                                  <div class="row container-fluid" style="margin-top:2%;padding-left:2%;">
                                      <div><span style="font-size:110%;padding-left:3%;">Choose Design Style</span></div>
                                  </div>
                                  <div class="row container-fluid" style="margin-top:2%;">
                                    <div class="item active"  ng-repeat="style in attributeStyle| limitTo: 5" style="display:inline-block;float:left;margin-left:2%;border: 1px solid #DDDCDA;" >
                                        <div class="" ng-class="{'activeCollarClass': $index == selectedCollarIndex }">
                                          <div class="" style="width:95px;height:95px;background-color: #CCCCCC;" >
                                              <img src="{{style.imgurl}}" style="width:100%;height:100%;" ng-click="selectCollar($index,style.text)" >
                                          </div>
                                          <div style="font-size:80%;text-align:center;padding-top:1%;"><span>{{style.text}}</span></div>
                                        </div>

                                    </div>
                                  </div>
                                </div>
                                <div id="details" class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="border-left: 1px solid #DDDCDA;">

                                  <div class="row container-fluid" style="margin-top:3%;">
                                      <div class="row" style="padding-left:11%;" >
                                          <span style="font-size:110%;">Details</span>
                                      </div>
                                      <div class="row" style="margin-top:5%;">
                                          <span>{{}}</span>
                                      </div>
                                      <div class="row">
                                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="position:relative;height:650px;">
                                            <div class=""  style="padding: 3% 3% 3% 3%;border:1px solid #DDDCDA;position:absolute;bottom:3%;width:80%;">
                                              <button type="button" class="btn btn-default" style="width:100%;height:3.5em;font-size:120%;background-color:black;color:white;border-radius:0px;color:white;">Next Step</button>
                                            </div>
                                          </div>
                                          <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                          </div>

                    </div>



              </div>
          </div>
    </div>
    <div id="right-side-space" class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

    </div>
</div>
