<div>
	ID: <input type="text" ng-model="prodID">
	<br>
	Name: <input type="text" ng-model="prodName">
	<br>
	Price: <input type="text" ng-model="prodPrice">
	<br>
	Shipping Category: <input type="text" ng-model="prodShipCat">
	<br>
	<button ng-click="getProductByID(prodID)">GET Product By ID</button>
	<button ng-click="createProduct(prodName, prodPrice, prodShipCat)">POST Product</button>
	<button ng-click="getProducts()">GET Products</button>
	<button ng-click="updateProduct(prodID,{name: prodName, price:prodPrice, shipping_category:prodShipCat})">PUT Product</button>
	<button ng-click="deleteProduct(prodID)">DELETE Product</button>
	<div>{{jsonresponse}}</div>
</div>

<h1>User Mangement</h1>
<h4>Login</h4>
<form ng-submit="login(luxire_user)" class="col-md-3 col-sm-3">
  <div class="form-group ">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" ng-model="luxire_user.user.email" placeholder="Email">
  </div>
  <div class="form-group ">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" ng-model="luxire_user.user.password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default col-md-3">Submit</button>
</form>
<h4>Signup</h4>
<form ng-submit="signup(luxire_user)" class="col-md-3 col-sm-3">
  <div class="form-group ">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" ng-model="luxire_user.user.email" placeholder="Email">
  </div>
  <div class="form-group ">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" ng-model="luxire_user.user.password" placeholder="Password">
  </div>
	<div class="form-group ">
    <label for="exampleInputPassword1">Password Confirmation</label>
    <input type="password" class="form-control" id="exampleInputPassword1" ng-model="luxire_user.user.password_confirmation" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default col-md-3">Submit</button>
</form>
