<!-- <h1>Product listing</h1>
<button ng-click="go_to_product_detail('shirts','casual','grey-wool-flannel')">Product Listing('shirts','casual','grey-wool-flannel')</button> -->
<style media="screen">
.quick-view-modal .modal-dialog{
  width: 42%;
  margin-top: 5%;
  border-radius: none !important;
  box-shadow: 5px 5px 5px 5px 15px #D0D0D0;
}
.quick-view-modal .modal-dialog .modal-content{
  border-radius: 0px !important;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.49);
}
.active-predicate{
  color: #8A247C;
}

.productImage{
  position: relative;
  overflow: hidden;
}
.productImage img{
  max-width: 100%;
  -moz-transition: all 1.5s;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}
.productImage img:hover {
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);
}

.activeFilter{
  color: #7F0E6E !important;
  font-weight: 400 !important;
}



</style>

<div class="container" style="position: fixed;background-color: #FDFDFD;width: 100%;font-family: Roboto;border-bottom: solid 1px #E4E4E4;margin-top: 5.7%;z-index: 1">
  <div class="row" style="margin: 0.75% 0.25%">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  style="color: #7e7d7d">
      <!-- You are at &nbsp;&nbsp;{{stateParams.taxonomy_name}}&nbsp;&nbsp;>&nbsp;&nbsp;Formal&nbsp;&nbsp;|&nbsp;&nbsp;Casual -->
      You are at &nbsp;&nbsp;{{stateParams.taxonomy_name}}&nbsp;&nbsp;>&nbsp;&nbsp;{{stateParams.taxon_name}}

    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  style="text-align: right;color: #817e7e">
      <span>
        Sort by
      </span>&nbsp;&nbsp;
      <span>
        Price&nbsp;&nbsp;
      </span>
      <span style="cursor: pointer; font-size: 130%">
        <i  ng-class="{'active-predicate': reverse_price==true}" class="fa fa-caret-down" ng-click="reverse_price=true"></i>
        <i  ng-class="{'active-predicate': reverse_price==false}" class="fa fa-caret-up" ng-click="reverse_price=false"></i>
      </span>
      <!-- |&nbsp;&nbsp;<span>
        Arrival
      </span>
      <i class="fa fa-caret-down"></i>
      <i class="fa fa-caret-up"></i>&nbsp;|&nbsp;&nbsp;
      <span>
        Popularity
      </span>
      <i class="fa fa-caret-down"></i>
      <i class="fa fa-caret-up"></i> -->
    </div>
  </div>
</div>
<div id="product-body-part" class="row" style="margin-left: 0px; margin-right: 0px;padding-top: 8.7%;background-color: #FDFDFD;font-family: Roboto; ">
  <div id="main-body" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left: 0px">
    <div class="container-fluid">
        <div id="filter-categories" class="" style="float:left;display:inline-block;width:15%;border-right:1px solid #EAEAEA;text-align: left; padding-top: 1%">
          <div class="container-fluid" style="margin: 5% 10%;">
            <div style="">
              <span style="font-size:115%;font-weight: 100;">Filter By</span>
            </div>
            <div class="row" ng-repeat="property in filter_properties" style="margin-left: 9%; font-size: 80%" ng-cloak>
              <!--COLOR-->
              <div ng-if="property.name.toLowerCase()=='color'" class="row" style="margin-top: 3%">
                <span style="font-size:115%;font-weight: 100;">COLOR</span>
                <div ng-repeat="filter_option in property.value.split(',')" ng-mouseover="active_filter_option_index=$index" ng-mouseleave="active_filter_option_index=-1" >
                  <div style="cursor: pointer; width: 100%" ng-click="select_filter_option(property.name, filter_option)">
                    <div style="width: 20px;display: inline-block">
                      <img ng-hide="active_filter_option_index==$index||selected_filters[property.name]==filter_option" src="assets/images/customer/checkbox_unchecked.png" alt="" />
                      <img ng-show="active_filter_option_index==$index||selected_filters[property.name]==filter_option" src="assets/images/customer/checkbox_checked.png" alt="" />&nbsp;&nbsp;
                    </div>
                    <div class="" style="display: inline-block">
                      <div ng-if="filter_option!='all'" class="" style="display: inline-block; position: relative">
                        <div class="" style="display: inline-block; position: relative;bottom: -3.5px;background: {{color_variants[filter_option].display_color}};width: 11.5px; height: 11.5px;border: solid 1px {{color_variants[filter_option].display_color=='#FFFFFF'? grey: color_variants[filter_option].display_color}};">
                        </div>

                        <!-- <div class="" style="display: inline-block; background: {{color_variants[filter_option].primary}};width: 15px; height: 9px;border-top: solid 1px grey;border-bottom: solid 1px grey;border-left: solid 1px grey;">
                        </div>
                        <div class="" style="display: inline-block;background: {{color_variants[filter_option].secondary}};width: 11px; height: 9px;margin-left:-4px;border-top: solid 1px grey;border-bottom: solid 1px grey;border-right: solid 1px grey;">
                        </div> -->
                      </div>
                      <span ng-class="{'activeFilter': selected_filters[property.name]==filter_option}" style="font-weight:100; font-size: 100%">&nbsp;&nbsp;{{filter_option[0].toUpperCase()+filter_option.slice(1).toLowerCase()}}</span>
                    </div>
                  </div>
                </div>

              </div>

              <!--PRICE-->
              <div ng-if="property.name.toLowerCase()=='price'" class="row" style="margin-top: 3%">
                <span style="font-size:115%;font-weight: 100;">PRICE</span>
                <div ng-repeat="filter_option in property.value.split(',')" ng-mouseover="active_filter_option_index=$index" ng-mouseleave="active_filter_option_index=-1" >
                  <div style="cursor: pointer; width: 100%" ng-click="select_filter_option(property.name, filter_option)">
                    <div style="width: 20px;display: inline-block">
                      <img ng-hide="active_filter_option_index==$index||selected_filters[property.name]==filter_option" src="assets/images/customer/checkbox_unchecked.png" alt="" />
                      <img ng-show="active_filter_option_index==$index||selected_filters[property.name]==filter_option" src="assets/images/customer/checkbox_checked.png" alt="" />&nbsp;&nbsp;
                    </div>
                    <div class="" style="display: inline-block">
                      <span ng-class="{'activeFilter': selected_filters[property.name]==filter_option}" style="font-weight:100; font-size: 100%">{{filter_option[0].toUpperCase()+filter_option.slice(1).toLowerCase()}}</span>
                    </div>
                  </div>
                </div>


              </div>

              <!--Other Filters-->
              <div ng-if="property.name.toLowerCase()!=='price'&&property.name.toLowerCase()!=='color'" class="row" style="margin-top: 3%">
                <span style="font-size:115%;font-weight: 100;">{{property.display_name}}</span>
                <div ng-repeat="filter_option in property.value.split(',')" ng-mouseover="active_filter_option_index=$index" ng-mouseleave="active_filter_option_index=-1" >
                  <div style="cursor: pointer; width: 100%" ng-click="select_filter_option(property.name, filter_option)">
                    <div style="width: 20px;display: inline-block">
                      <img ng-hide="active_filter_option_index==$index||selected_filters[property.name]==filter_option" src="assets/images/customer/checkbox_unchecked.png" alt="" />
                      <img ng-show="active_filter_option_index==$index||selected_filters[property.name]==filter_option" src="assets/images/customer/checkbox_checked.png" alt="" />&nbsp;&nbsp;
                    </div>
                    <div class="" style="display: inline-block">
                      <span ng-class="{'activeFilter': selected_filters[property.name]==filter_option}" style="font-weight:100; font-size: 100%">{{filter_option[0].toUpperCase()+filter_option.slice(1).toLowerCase()}}</span>
                    </div>
                  </div>
                </div>
              </div>

              <!--Weave Type-->
              <!-- <div ng-if="property.name.toLowerCase()=='weave-type'" class="row" style="margin-top: 3%">
                <span style="font-size:115%;font-weight: 100;">WEAVE TYPE</span>
                <div ng-repeat="filter_option in property.value.split(',')" ng-mouseover="active_filter_option_index=$index" ng-mouseleave="active_filter_option_index=-1" >
                  <div style="cursor: pointer; width: 100%" ng-click="selected_weavetype(selected_weave_type, filter_option)">
                    <div style="width: 20px;display: inline-block">
                      <img ng-hide="active_filter_option_index==$index||selected_weave_type==filter_option" src="assets/images/customer/checkbox_unchecked.png" alt="" />
                      <img ng-show="active_filter_option_index==$index||selected_weave_type==filter_option" src="assets/images/customer/checkbox_checked.png" alt="" />&nbsp;&nbsp;
                    </div>
                    <div class="" style="display: inline-block">
                      <span style="font-weight:100; font-size: 100%">{{filter_option[0].toUpperCase()+filter_option.slice(1).toLowerCase()}}</span>
                    </div>
                  </div>
                </div>
              </div> -->


            </div>

          </div>
        </div>

        <div class="" style="display:inline-block;width:82%;margin-left:2.25%;background-color:#FFFFFF;padding-top: 1%">
          <div id="product-type-name-part" class=" container-fluid" style="margin-top: 1%;">
            <div id="product-type-name-part" class="row" >
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            </div>
          </div>
          <div class="row">
            <div style="padding-bottom: 2%;overflow: auto;" ng-repeat="product in allProductsData | orderBy:'price':reverse_price | filter:filter_with_selections" class="col-xs-4 col-sm-4 col-md-4 col-lg-4" ng-cloak>
              <div style="border: solid 1px #DBDBDB" style="width: 96%;padding-left:1.5%;padding-right: 1.5%;overflow: auto;">
                <div class="productImage">
                  <img ng-click="go_to_product_detail(product.id)" src="{{getImage(product.master.images[0].large_url)}}" style="max-width: 100%; cursor: pointer"></img>
                </div>
                <div class="container-fluid" style="background-color: ">
                  <div id="image-name" class="row" style="margin-left:0%;margin-right:0%;border-bottom:1px solid #E5E5E5;padding-top:2%;font-family: Roboto; font-weight: 300">
                    <center><span style="font-size:140%;word-break: break-all">{{product.name && product.name.length>35? product.name.slice(0,35)+'...' : product.name}}</span></center>
                    <center><span style="font-size:90%;color:#7F7F7F;">{{product.display_price}}</span></center>
                  </div>
                  <div id="image-btn" class="row" style="margin-left:0%;margin-right:0%;margin-top:0%;text-align:center;border-bottom:1px solid #E5E5E5;">
                      <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"style="border-right:1px solid #E5E5E5;cursor: pointer" ng-click="order_swatch(product.variants[0])">
                        <div style="margin-top:5%;margin-bottom:5%;">
                          <span style="text-align:center;font-size:80%;">Order fabric swatch</span><br>
                        </div>
                      </div>
                      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="cursor: pointer" ng-click="showQuickView(product,'md')">
                        <div style="margin-top:5%;margin-bottom:10%;">
                          <span style="font-size:80%;">Quick View</span><br>
                        </div>
                      </div>
                  </div>
                  <div id="image-icon" class="row" style="margin-left:0%;margin-right:0%;margin-top:0%;">
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8"  style="border-right:1px solid #E5E5E5;padding-top:3%;padding-bottom:3%;display: block">
                        <span>
                          <img style="max-width: 12%" title="{{product.luxire_product.gsm}} gsm" src="assets/images/customer/luxire-weight-icons/weight-{{weight_index(product.luxire_product.gsm)}}.png" alt="" />&nbsp;&nbsp;
                          <img style="max-width: 14%" title="{{product.luxire_product.thickness}} thickness" src="assets/images/customer/luxire-thickness-icons/{{thickness_index(product.luxire_product.thickness)}}.png" alt="" />&nbsp;&nbsp;
                          <img style="max-width: 14%" title="{{product.luxire_product.stiffness}} stiffness" src="assets/images/customer/luxire-stiffness-icons/{{stiffness_index(product.luxire_product.stiffness, product.luxire_product.stiffness_unit)}}.png" alt="" />
                        </span>

                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin:0%;padding:2% 1% 1% 1%;">
                        <button type="button" class="btn btn-default" ng-click="go_to_product_detail(product.id)" style="width:100%;font-size:90%;background-color: #7F0E6E;color:#EDEDED;border-radius:0px;">SELECT</button>
                      </div>
                     </div>
                  </div>
                </div>

              </div>

            </div>

          </div>
        </div>
        <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>-->
        </div>
   </div>
</div>
<!--<footer > -->
<div style="margin-top: 30%">
</div>

<div  id="footer" class="row" style="margin-left: 0px; margin-right: 0px;background-color:#000000;color:white;margin-top:10%;padding-top:1%;padding-bottom:2%;">
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-top:5%;padding-bottom:5%;">
    <div id="luxire-logo">
      <img style="max-width: 75%" src="assets/images/customer/luxire_logo_grey.png" >
    </div>
    <div style="margin-top:2%;">
        <span style="margin-left:10%; background-color:;color:#D2D2D2;font-size:90%;">All copyrights to luxire Corporation</span>
    </div>

  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="color:white;margin-top:5%;font-size:90%">
    <span><a href="#" style="color:#D2D2D2;">Home</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">About Us</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Contact Us</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Catalogue</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Search</a></span><br><br>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="color:white;margin-top:5%;font-size:90%;">
    <span><a href="#" style="color:#D2D2D2;">Privacy policy</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Shipping & Returns</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">FAQs</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Quality and Satisfaction</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Responsible Manufacturing</a></span><br><br>
  </div>

</div>

<!--Filter-->
<!--Material-->
<!-- <div ng-if="property.name.toLowerCase()=='material'" class="row" style="margin-top: 3%">
  <span style="font-size:115%;font-weight: 100;">MATERIAL</span>

</div>

<!--WEIGHT-->
<!-- <div ng-if="property.name.toLowerCase()=='weight'" class="row" style="margin-top: 3%">
  <span style="font-size:115%;font-weight: 100;">WEIGHT</span>

</div>
 -->
<!--PATTERN-->
<!-- <div ng-if="property.name.toLowerCase()=='pattern'" class="row" style="margin-top: 3%">
  <span style="font-size:115%;font-weight: 100;">PATTERN</span>

</div> -->

<!--WRINKLE RESISTANCE-->
<!-- <div ng-if="property.name.toLowerCase()=='wrinkle-resistant'"  class="row" style="margin-top: 3%">
  <span style="font-size:115%;font-weight: 100;">WRINKLE RESISTANCE</span>

</div> -->

<!--Thickness-->
<!-- <div ng-if="property.name.toLowerCase()=='thickness'"  class="row" style="margin-top: 3%">
  <span style="font-size:115%;font-weight: 100;">THICKNESS</span>

</div> -->

<!--TRANSPARENCY-->
<!-- <div ng-if="property.name.toLowerCase()=='transparency'"  class="row" style="margin-top: 3%">
  <span style="font-size:115%;font-weight: 100;">TRANSPARENCY</span>

</div> -->

<!--Construction-->
<!-- <div ng-if="property.name.toLowerCase()=='construction'"  class="row" style="margin-top: 3%">
  <span style="font-size:115%;font-weight: 100;">CONSTRUCTION</span>

</div>
 -->
<!--BRAND-->
<!-- <div ng-if="property.name.toLowerCase()=='brand'"  class="row" style="margin-top: 3%">
  <span style="font-size:115%;font-weight: 100;">BRAND</span>

</div> -->

<!--filter-->
<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <span style="font-size:200%;font-weight: 100;">Taxonomies</span>
    <p ng-repeat="taxonomy in taxonomies" ng-click="get_taxons(taxonomy.id, taxonomy.name)">{{taxonomy.name}}</p>
</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <span style="font-size:200%;font-weight: 100;">Taxons</span>
    <p ng-repeat="taxon in taxons" ng-click="get_taxon_products(taxon.id, taxon.name)">{{taxon.name}}</p>

</div>
<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
    <span style="font-size:200%;font-weight: 100;">Casual Shirt Collection</span>
</div> -->
<!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
  <div style="float:right;">
      <p style="font-size:80%;float:left;">Sort by</p>&nbsp;&nbsp;&nbsp;&nbsp;
      <div class="" style="float:right;margin-top:-2%;">
        <select class="form-control" ng-model="key" ng-change="priceSort(key)">
              <option value = "0" label = "Please Select" selected></option>
              <option ng-repeat="price in priceTagOption" value="{{price.value}}"
                          ng-selected="{{ price.selected == true }}" >
                  {{price.name}}
              </option>
        </select>
      </div>
  </div>
</div> -->
<!-- <span ng-repeat="climate in product.luxire_product.suitable_climates.split(',')" >
  <img style="max-width: 12%" src="assets/images/customer/luxire-season-icons/season-{{climate}}.png" alt="" />
</span> -->
<!-- <span class="glyphicon glyphicon-dashboard" style="margin-left:8%; font-size:130%;"></span>
<span><i class="fa fa-umbrella" style="font-size:130%;margin-left:8%;"></i></span>
<i class="fa fa-black-tie" style="margin-left:8%; font-size:130%;"></i>
<span class="glyphicon glyphicon-flag" style="margin-left:8%; font-size:130%;"></span> -->
