<div class="row" style="margin-left: 0px;height: 3.3em; line-height: 3.3em; border-bottom: 1px solid #DBDEE0;">
  <div class="col-lg-8 col-md-8" style="text-align: left;font-size: 20px;">
    <i class="fa fa-tag" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:100;">Product Attributes</span>
  </div>
  <div class="col-lg-4 col-md-4" style="text-align: right;">
    <button type="button" style="margin-right: 2%" class="btn btn-primary" ui-sref="admin.product_attributes_new">Add product attribute</button>
  </div>
</div>
<div class="row" ng-show="loading" style="height: 93vh; width: 100%; background-color:white; opacity: 0.6; line-height: 93vh; text-align: center;z-index: 9999; padding: 0; margin: 0; position: absolute;">
  <img src="lib/assets/loader.gif"/>
</div>
<div class="container-fluid admin-console-content">
    <div class="row" style="margin:0px; background-color: white; border: 1px solid #DBDEE0;margin-bottom: 10%">
      <div class="row" style="margin:0px; background-color: white;">
        <div  class="col-lg-3 col-md-3" style="padding:0px; height:6vh; line-height: 6vh; text-align: center; border-right: 1px solid #DBDEE0;">
          <span style="font-size: 16px;">All Product Attributes</span>
        </div>
        <div  class="col-lg-9 col-md-9" style="height:6vh;background-color:#F5F6F7; border-bottom: 1px solid #DBDEE0;">
        </div>
      </div>
      <div class="row" style="margin:0px; background-color: white; padding: 2% 2% 0 2%">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">
            <i class="fa fa-search"></i>
          </span>
          <input type="text" ng-model="searchText" class="form-control" aria-label="..." placeholder="Start typing to search for product attributes...">
        </div>
      </div>
      <div class="row " style="margin:0px; background-color: white; padding: 0 2%;">
        <div class="row" ng-show="filteredResults.length == 0 && !loading" style="padding-top:2%;padding-buttom:2%;">
          <div class="" style="color:black; font-size:120%;padding: 2%">
            <center>No match found</center>
          </div>
        </div>
        <div ng-show="!(filteredResults.length == 0)">
          <div class="row" style="margin:0px; background-color: white;text-align: center;border-bottom: solid 1.5px grey;padding: 1% 0;font-weight: 600">
            <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
              Image
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
              Name
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
              Category
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
            </div>
          </div>
          <div ng-init="active_attribute=false" ng-mouseenter="active_attribute=true" ng-mouseleave="active_attribute=false" ng-class="{'active-attribute-row': active_attribute}" ng-repeat="product_attribute in product_attributes  | filter: { name: searchText } as filteredResults" class="row" style="margin-left:0px;margin-right: 0px; background-color: white;text-align: center;padding: 1% 0%;border-bottom: solid 1.5px grey">
            <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
              <img class="img-circle" style="border: solid 1px grey" ng-init="img=product_attribute.image.small||'/lib/assets/imagenotavailable.png'" ng-src="{{img}}" alt="" />
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3" style="padding: 1.75%">
              <a href="#" ng-click="edit_product_attribute($event, product_attribute.id)">{{product_attribute.name}}</a>
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3" style="padding: 1.75%">
              {{product_attribute.category}}
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3" style="padding: 1.75%">
              <i href="#" class="fa fa-pencil-square-o" ng-click="edit_product_attribute($event, product_attribute.id)" style="font-size: 24px;color: #3276B1;cursor: pointer"></i>&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fa fa-trash-o" ng-click="delete_product_attribute(product_attribute, $index)" style="font-size: 24px;color: #F22823;cursor: pointer"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="position: absolute;width: 100%;bottom: 0;font-size: 30px;text-align: center; z-index: 3">
  <uib-alert style="margin-bottom: 0px !important"  ng-repeat="alert in alerts" type="{{alert.type}}" close="close_alert($index)" dismiss-on-timeout="3000">{{alert.message}}</uib-alert>
</div>
<script type="text/ng-template" id="delete_attribute.html">
  <div class="row" ng-show="loading" style="height: 93vh; width: 100%;line-height: 75vh; text-align: center;z-index: 9999; padding: 0; margin: 0; position: absolute;">
    <img src="lib/assets/loader.gif"/>
  </div>
  <div class="modal-header row " style="border-bottom: 1px solid #e5e5e5 !important;margin-left: 0px;margin-right: 0px">
      <h3 class="modal-title col-md-10 col-sm-10 col-xs-10 col-lg-10">Delete attribute "{{product_attribute.name}}"?</h3>
      <span><i class="fa fa-close col-md-2 col-sm-2 col-xs-2 col-lg-2" style="cursor: pointer;text-align: right;font-size: 18px; margin-top: 2%;color: #807F7F"  ng-click="cancel()"></i></span>
  </div>
  <div class="modal-body" >
      <p>Are you sure you want to delete the attribute "{{product_attribute.name}} "? This action cannot be reversed.</p>
  </div>
  <div class="modal-footer" style="padding: 15px 20px 15px !important; margin-top: 0px !important">
      <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
      <button class="btn btn-danger" type="button" ng-click="delete()">Delete</button>
  </div>
</script>
