<div class="container-fluid" style="height:100%">
  <div class="row" style="margin-left: 0px;height: 3.3em; line-height: 3.3em; border-bottom: 1px solid #DBDEE0;">
    <div class="col-lg-8 col-md-8" style="text-align: left;font-size: 20px;">
      <i class="fa fa-tag" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:100;">Product Attributes</span>
    </div>

    <div class="col-lg-4 col-md-4" style="text-align: right;">
    </div>
  </div>
  <div class="row" ng-show="loading" style="height: 93vh; width: 100%; background-color:white; opacity: 0.6; line-height: 93vh; text-align: center;z-index: 9999; padding: 0; margin: 0; position: absolute;">
    <img src="lib/assets/loader.gif"/>
  </div>
  <div class="row" style="height: 93vh;margin-left: 0px; margin-right: 0px">
    <div class="container-fluid admin-console-content">
      <script type="text/ng-template" id="nodes_renderer.html">
        <div class="tree-node tree-node-content" style="border: solid 1px black;padding: 1%;margin-top: 1%;">
          <a class="btn btn-success btn-xs" ng-if="!checkIsString(node.value)" data-nodrag ng-click="toggle(this)"><span
              class="glyphicon"
              ng-class="{'glyphicon-chevron-right': collapsed,'glyphicon-chevron-down': !collapsed}"></span></a>
              <span>
              <label style="width: 36%" ng-show="node.key=='Add Attributes' || node.key=='name' || node.key=='description' || node.key=='value'  || node.key=='category' || node.key=='sub_category' || node.key=='image'">{{node.key}}</label>
              <label ng-if="node.key == 'name' || node.key == 'category'" class="required"></label>
              <input id="mandatory_field" style="font-size: medium;" type="text" contenteditable="true" ng-hide="node.key=='Add Attributes' || node.key=='name' || node.key=='description' || node.key=='value' || node.key=='category' || node.key=='sub_category' || node.key=='image'" ng-model="node.key" autofocus/>
              </span><span>&nbsp;&nbsp;
              <input style="font-size: medium;" type="text" ng-if="checkIsString(node.value)" ng-model="node.value"/></span>
              <a ng-hide="node.key == 'name' || node.key == 'description' || node.key.indexOf('category') !== -1 || node.key.indexOf('help') !== -1 || node.key == 'image'" class="pull-right btn btn-danger btn-xs" data-nodrag ng-if="node.key!=data[0]['key']" ng-click="remove(this)"><span
                  class="glyphicon glyphicon-remove"></span></a>
              <a ng-hide="node.key == 'name' || node.key == 'description' || node.key.indexOf('category') !== -1 || node.key.indexOf('help') !== -1 || node.key == 'image'" class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;"><span
                  class="glyphicon glyphicon-plus"></span>
              </a>
        </div>
        <div ng-if="!checkIsString(node.value)" ui-tree-nodes="" ng-model="node.value" ng-class="{hidden: collapsed}">
          <div ng-repeat="node in node.value track by $index" ui-tree-node ng-include="'nodes_renderer.html'">
          </div>
        </div>
      </script>
      <div class="row">
        <div class="col-sm-7 col-xs-7 col-md-7 col-lg-7">
          <div ui-tree id="tree-root">
            <div ui-tree-nodes ng-model="data">
              <div ng-repeat="node in data  track by $index" ui-tree-node ng-include="'nodes_renderer.html'"></div>
            </div>
          </div>
          <div class="pull-right">
            <button type="button" class="btn btn-default" ui-sref="admin.product_attributes" name="button">Cancel</button>
            <button type="button" class="btn btn-success" name="button" ng-click="save()">Save</button>
          </div>
        </div>
        <div class="col-sm-5 col-xs-5 col-md-5 col-lg-5">
          <div class="info">
            {{info}}
          </div>
          Instructions
          <ul>
            <li>Name and Image are  mandatory fields.</li>
            <li>Description should not contain '#'</li>
            <li>Where ever we need selection(dropdown in view), against the key add two childs 'options' and 'default'. Former contain available options seperated by '#' and default has default option.</li>
            <li>The value of 'category' feild should be either of customize, personalize, measurement.</li>
            <li>The value of 'sub_category' feild should be 'std' for standard measurement attributes and 'body' for body measurement attributes.</li>
            <li>Use help field to add help text.</li>
            <li>Compute steps: Used to compute the steps between start and end with step difference. This is used to compute dropdown for measurements.</li>
            <li>Image Upload(url extractor) uploads an image into the system and returns stored url for that image in system. Select 'small' option for attributes image in attribute selection section & 'help' option for attribute image in help section.</li>
          </ul>
          <div class="placard">
            <h4 style="font-size: 20px;" class="required">Compute Steps</h4>
            Start
            <input type="text" place-holder="start" class="form-control" ng-model="range.start">
            End
            <input type="text" place-holder="end" class="form-control" ng-model="range.end">
            Step size
            <input type="text" place-holder="Step Size" class="form-control"ng-model="range.step">
            <br>
            <div style="width: 100%">
              <button class="primary" ng-click="compute_range(range)">Compute</button>
            </div>
            Steps
            <textarea type="text" class="form-control" ng-model="range.steps"></textarea>
          </div>
          <div class="placard">
            <h4 style="font-size: 20px;" class="required">Image Upload</h4>
            Add Product Attribute Image
            <input type="file" name="name" ng-file-select ng-file-change="upload_prod_attr_image($files)" value=""><br>
            <img id="parent_image" src="" style="max-width: 100%" alt="" /><br>
          </div>
          <div class="placard" ng-init="image_size='64x64'">
            <h4 style="font-size: 20px;">Image Upload</h4>
            Url extractor <br>
            Size<br>
            <input type="radio" ng-model="image_size" value="64x64#" name="small">&nbsp;&nbsp;small(64X64)&nbsp;
            <input type="radio" ng-model="image_size" value="128x128#" name="medium" >&nbsp;&nbsp;medium(128X128)&nbsp;
            <input type="radio" ng-model="image_size" value="210x210" name="help" >&nbsp;&nbsp;help(210x)
            <input type="file" name="name" ng-file-select ng-file-change="upload_image($files)" value=""><br>
            <img id="attr_image" style="max-width: 100%" src="" alt="" /><br><br>
            <textarea name="name" ng-model="image_url" rows="2" cols="40"></textarea>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="position: absolute;width: 100%;bottom: 0;font-size: 30px;text-align: center; z-index: 3">
  <uib-alert style="margin-bottom: 0px !important"  ng-repeat="alert in alerts" type="{{alert.type}}" close="close_alert($index)" dismiss-on-timeout="3000">{{alert.message}}</uib-alert>
</div>
