<div ng-if="show_header" id="customer-main-nav-header" class="container" style="position: fixed;top: 0px;left: 0px;z-index: 99;background-color: transparent;width: 100%;font-family: Roboto;">
  <div class="row" id="customer-main-nav-sub-header1" style="margin-left: 0.2%; margin-right: 1%;margin-top: 1.5%;margin-bottom: 1.25%;">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"  style="">
      <img ng-src="assets/images/customer/luxire_logo.png" ui-sref="customer.home" style="max-width: 100%;cursor: pointer">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" >
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align: left; font-size: 92%; font-weight: 300; margin-top: 1.4%">
          Luxury Bespoke Menswear
        </div>
        <!-- Home Delivered. -->
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="text-align: right; margin-top: 0.5%">
          <angucomplete-alt style="height: 25px; position: absolute; top:0; left:0; z-index: 100;width: 100%"
            placeholder="Search products"
            pause="400"
            selected-object="select_product"
            remote-url="{{search_products_url}}"
            remote-url-data-field="products"
            title-field="name"
            template-url="search_template_product.html"
            match-class="highlight"
            input-class="form-control form-control-small"
            minlength="1"
            clear-selected="true"/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align: right; margin-top: 0.5%">
          <span ng-if="!isLoggedIn" style="font-size: 92%;font-weight: 300;margin-top: 1.4%">
            <i class="fa fa-user" style="color: #8A247C" aria-hidden="true"></i>
            &nbsp;<span ng-click="go_to_signup()" style="cursor: pointer">Sign Up</span>&nbsp;|
            &nbsp;<span ng-click="go_to_login()" style="cursor: pointer">Login</span>&nbsp;&nbsp;
          </span>
          <span ng-if="isLoggedIn" style="font-size: 92%;font-weight: 300;margin-top: 1.4%">
            <span uib-dropdown ng-init="is_open=false" ng-mouseenter="is_open=true" ng-mouseleave="is_open=false" is-open="is_open">
              <span class="user-drop-down" uib-dropdown-toggle>
                Hello, {{user_name}}
                <span class="caret"></span>&nbsp;&nbsp;
              </span>
              <ul class="dropdown-menu user-drop-down" uib-dropdown-menu aria-labelledby="simple-dropdown">
                <li class="user-drop-down" ng-click="go_to_my_account()">
                  My Account
                </li>
                <li class="user-drop-down" ng-click="logout()">
                  Logout
                </li>
              </ul>
            </span>


          </span>
          <span uib-dropdown ng-init="is_currency_dropdown_open=false" ng-mouseenter="is_currency_dropdown_open=true" ng-click="is_currency_dropdown_open=!is_currency_dropdown_open" ng-mouseleave="is_currency_dropdown_open=false" is-open="is_currency_dropdown_open" class="fa-stack"
          title="Change currency" style="margin-right: 1%; cursor: pointer;position: relative" >
            <i class="fa fa-circle-thin fa-stack-2x" style="background: #8A247C;color: transparent;border-radius: 50%"></i>
            <i class="fa fa-usd fa-stack-1x" style="color: white"></i>
            <ul class="dropdown-menu measurement-unit-dropdown" uib-dropdown-menu aria-labelledby="simple-dropdown">
              <li ng-repeat="(symbol,currency) in currencies" class="measurement-unit-dropdown" ng-class="{'active-currency': currency.symbol===selected_currency.symbol}" ng-click="change_currency(currency)">
                {{currency.label +' - '+ currency.symbol}}
              </li>
            </ul>
            <span class="badge" style="color: white;background: #DD9FDF;position: absolute;top: -45%;right: -50%">
               {{selected_currency.symbol}}
            </span>
          </span>
          <span uib-dropdown ng-init="is_open=false" ng-mouseenter="is_open=true" ng-click="is_open=!is_open" ng-mouseleave="is_open=false" is-open="is_open" class="fa-stack" title="Change measurement unit" style="margin-right: 1%; cursor: pointer;position: relative">
            <i class="fa fa-circle-thin fa-stack-2x" style="background: #8A247C;color: transparent;border-radius: 50%" uib-dropdown-toggle></i>
            <i class="fa fa-stack-1x" style="color: white">M</i>
            <ul class="dropdown-menu measurement-unit-dropdown" uib-dropdown-menu aria-labelledby="simple-dropdown">
              <li ng-repeat="measurement_unit in measurement_units" class="measurement-unit-dropdown" ng-class="{'active-measurement-unit': measurement_unit.label===selected_measurement_unit.label}" ng-click="change_measurement_unit(measurement_unit)">
                {{measurement_unit.label}}
              </li>
            </ul>
            <span class="badge" style="color: white;background: #DD9FDF;position: absolute;top: -35%;right: -35%">
               {{selected_measurement_unit.symbol}}
            </span>
          </span>
          <span class="fa-stack" style="margin-right: 1%; cursor: pointer;position: relative" ui-sref="customer.cart">
            <i class="fa fa-circle-thin fa-stack-2x" style="background: #8A247C;color: transparent;border-radius: 50%"></i>
            <i class="fa fa-shopping-cart fa-stack-1x" style="color: white"></i>
            <span class="badge" style="color: white;background: #DD9FDF;position: absolute;top: -35%;right: -35%">
              {{luxire_cart != {} && luxire_cart.line_items.length>0 ? luxire_cart.line_items.length: 0}}
            </span>
          </span>


        </div>



      </div>

    </div>
  </div>
  <div class="row yamm" style="border-bottom: solid 1px #E4E4E4;border-top: solid 1px #E4E4E4;text-align: center;padding: 0.5% 1%;font-family: Roboto;" >
    <span id="dropdown-mega-menu" class="taxonomy-dropdown dropdown yamm-fw" ng-init="is_open=false" is-open="is_open" ng-mouseenter="change_arrow_pos($event)" ng-mouseover="is_open=true;" ng-mouseleave="is_open=false;" uib-dropdown ng-repeat="taxonomy in taxonomies" >
      <div class="taxonomy-menu dropdown-toggle"  ng-class="{'taxonomy-menu-hover': is_open===true}" ng-click="go_to_collection($event, taxonomy.root.permalink)" style="display: inline-block;padding: 0.25% 0.5%;border-radius: 2px;margin-left: 0.5%;cursor: pointer;text-align: center;font-size: 95%" uib-dropdown-toggle>
        {{taxonomy.name}}&nbsp;&nbsp;<i style="font-size: 80%;margin-top: -3%" ng-if="taxonomy.root.taxons.length" class="fa fa-chevron-down" aria-hidden="true"></i>
      </div>
      <div ng-mouseover="is_open=true;" ng-if="taxonomy.root.taxons.length" uib-dropdown-menu aria-labelledby="simple-dropdown" style="padding: 0px;margin-top: -0.7%;border: none;border-radius: 0px;border-top: solid 1px #8A247C;width: 100%">
        <div style="margin-left: {{arrow_margin_left+'px'}}" ng-if="taxonomy.root.taxons.length && is_open" class="arrow-up"></div>
        <div class="row-eq-height" style="width: 100%">
          <div class="" style="display: inline-block;width: 20%;float:left">
            <img style="max-width: 100%" src="assets/images/customer/mega-menu/shirts/shirt1.png" alt="" />
          </div>
          <div class="taxon-name-section" style="">
            <div class="">
              <div class="taxon-name" ng-click="go_to_collection($event, taxon.permalink)" ng-repeat="taxon in taxonomy.root.taxons">
                {{taxon.name}}
              </div>
            </div>
            <div class="guarantee-banner row-eq-height">
              <div class="guarantee-banner-left">
                <div class="" style="font-size: 200%">
                  Guaranteed Accurate Size
                </div>
                <div class="" style="font-size: 110%">
                  Your Best Fitting Shirt, As You like it.
                </div>
              </div><div class="guarantee-banner-right">
                <div class="" style="font-size: 100%">
                  Only at
                </div>
                <div class="" style="font-size: 110%">
                  Luxire.com
                </div>
              </div>

            </div>
          </div>
          <div
          style="display: inline-block;width: 15%;
          margin: 2% 0% 2% 0%;float: left;
          border-right: solid 1px #DFDFDF;
          border-left: solid 1px #DFDFDF;
          padding: 5% 0;
          font-size: 98%;
          font-weight: 300;
          background: #F3F3F3;
          background: -webkit-linear-gradient(rgba(243,243,243,0),rgba(243,243,243,1),rgba(243,243,243,0));
          background: -o-linear-gradient(rgba(243,243,243,0),rgba(243,243,243,1),rgba(243,243,243,0));
          background: -moz-linear-gradient(rgba(243,243,243,0),rgba(243,243,243,1),rgba(243,243,243,0));
          background: linear-gradient(rgba(243,243,243,0),rgba(243,243,243,1),rgba(243,243,243,0));">
            <div style="cursor: pointer;" ng-click="go_to_collection($event, 'gift-cards')">
              <img src="assets/images/customer/gift_card.png" alt="" /><br>
              <span>Gift Card</span><br>
              <span>$100</span>
            </div>
          </div>
          <div class="" style="display:inline-block;width: 25%;text-align:right;position: relative">
            <img style="max-width: 100%;position: absolute;bottom: 0;right: 0" src="assets/images/customer/mega-menu/shirts/shirt2.png" alt="" />

          </div>


                    <!--
          <div style="display: inline-block;width: 63%;float: right;font-size: 98%;font-weight: 300">
            <div style="display: inline-block">
              <img src="assets/images/customer/mega-menu-shirt.png" alt="" />
            </div>

          </div> -->
          <!-- <div class="row-eq-height" style="display: inline-block;width: 15%;margin: 2% 0% 2% 2%;padding-right: 2%;float: left;border-right: solid 1px #DFDFDF">
            <div class="taxon-name" style="text-align: right" ng-click="go_to_collection($event, taxon.permalink)" ng-repeat="taxon in taxonomy.root.taxons">
              {{taxon.name}}
            </div>
          </div>
          <div class="row-eq-height"
          style="display: inline-block;width: 20%;
          margin: 2% 0% 2% 0%;float: left;
          border-right: solid 1px #DFDFDF;
          background: #F3F3F3;
          background: -webkit-linear-gradient(rgba(243,243,243,0),rgba(243,243,243,1),rgba(243,243,243,0));
          background: -o-linear-gradient(rgba(243,243,243,0),rgba(243,243,243,1),rgba(243,243,243,0));
          background: -moz-linear-gradient(rgba(243,243,243,0),rgba(243,243,243,1),rgba(243,243,243,0));
          background: linear-gradient(rgba(243,243,243,0),rgba(243,243,243,1),rgba(243,243,243,0));">
            <img src="assets/images/customer/gift_card.png" alt="" />
          </div> -->

          <!-- <div style="display: inline-block;width: 70%;padding-top:2%;padding-bottom: 2%;padding-left: 2%">
            <div class="row-eq-height"  style="display: inline-block;width: 20%;text-align: right;border-right: solid 2px #D8D8D8;padding-right: 5%">
              <div class="taxon-name" ng-click="go_to_collection($event, taxon.permalink)" ng-repeat="taxon in taxonomy.root.taxons">
                {{taxon.name}}
              </div>
            </div>
            <div class="row-eq-height" style="display: inline-block;width: 33%;">

            </div>
            <div class="row-eq-height" style="display: inline-block;width: 33%;">

            </div>
          </div> -->

        </div>
      </div>
    </span>
  </div>
</div>
<div ng-if="!show_header" class="container" style="position: fixed;top: 0px;left: 0px;z-index: 99;background-color: #F5F5F5;width: 100%;font-family: Roboto;border-bottom: solid 1px #E4E4E4">
  <div class="row" style="margin-left: 0.2%; margin-right: 1%;margin-top: 1.5%;margin-bottom: 1.25%; ">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"  style="">
      <img ng-src="assets/images/customer/luxire_logo.png" style="max-width: 100%;">
    </div>
    <div ng-if="checkout_state" class="col-lg-10 col-md-10 col-sm-10 col-xs-10" >
      <div class="row" >
        <div  style="text-align: left; font-family: Roboto;margin-top: 0.9%">
          <div ng-repeat="(checkout_step_name, checkout_step_val) in checkout_steps" style="display: inline-block;width: 10%;text-align: center;">
            <p ng-class="{'complete-state-font': luxire_cart && checkout_steps[luxire_cart.state].id>checkout_step_val.id}" style="font-size: 85%; color: grey" ng-click="go_to_checkout_state(checkout_step_val)">{{checkout_step_val.name}}</p>
            <div ng-class="{'completed-state': luxire_cart && checkout_steps[luxire_cart.state].id>checkout_step_val.id}" class="" style="width: 100%;border-bottom: solid 4px grey;">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div ui-view="customer" id="customer-view-container" autoscroll="false" style="width: 100%; height: 100%;font-family: Roboto;"></div>
<div style="position: fixed;width: 100%;bottom: 0;font-size: 30px;text-align: center; z-index: 3;font-family: Roboto;">
  <uib-alert style="margin-bottom: 0px !important"  ng-repeat="alert in alerts" type="{{alert.type}}" close="close_alert($index)" dismiss-on-timeout="3000">{{alert.message}}</uib-alert>
</div>
<script type="text/ng-template" id="customer_side_menu.html" style="background: transparent">

  <div style="width: 100%;color: #E1E1E1; font-family: Roboto;">
    <div class="row" style="margin-left: 0px; margin-right: 0px; font-family: Arial;text-align: right;font-size: 300%;-webkit-text-stroke: 2px #777171;padding: 3% 7%">
      <span style=" cursor: pointer;" ng-click="close_side_menu()">X<span>
    </div>
    <div class="row">
      <div class="col col-xs-1 col-sm-1 col-md-1 col-lg-1">
      </div>
      <div class="col col-xs-10 col-sm-10 col-md-10 col-lg-10" >
        <h6 style="margin-top: 3%;cursor: pointer">HOME</h6>
        <h6 style="margin-top: 3%;cursor: pointer">QUALITY</h6>
        <h6 style="margin-top: 3%;cursor: pointer" ng-repeat="taxonomy in taxonomies" >
          <span>
            <span>
              <i style="-webkit-text-stroke: 1px #777171" ng-if="taxonomy.root.permalink!==visible_taxonomy_permalink" ng-click="change_active_taxonomy(taxonomy.root.permalink)" class="fa fa-chevron-right" aria-hidden="true"></i>
              <i style="-webkit-text-stroke: 1px #777171" ng-if="taxonomy.root.permalink===visible_taxonomy_permalink" ng-click="change_active_taxonomy('')" class="fa fa-chevron-down" aria-hidden="true"></i>
            </span>
            <span class="taxonomy-name-side-menu" ng-click="go_to_collection(taxonomy.root.permalink)">{{taxonomy.name}}</span>
          </span>
          &nbsp;&nbsp;<p class="taxonomy-name-side-menu" uib-collapse="taxonomy.root.permalink!==visible_taxonomy_permalink" style="margin-top: 3%;margin-left: 8%" ng-repeat="taxon in taxonomy.root.taxons" ng-click="go_to_collection(taxon.permalink)">{{taxon.name}}</p>
        <!--//p style="margin-top: 5%;margin-left: 5%" ng-repeat="taxon in taxonomy.root.taxons" ng-click="go_to_listing(taxonomy.name, taxonomy.id, taxon.name, taxon.id)">{{taxon.name}}</p-->
        </h6>
        <h6 style="margin-top: 3%;cursor: pointer">MEASUREMENTS</h6>
        <h6 ng-if="!isLoggedIn" style="margin-top: 3%;cursor: pointer" ng-click="go_to_login()">LOG IN</h6>
        <h6 ng-if="!isLoggedIn" style="margin-top: 3%;cursor: pointer" ng-click="go_to_signup()">SIGN UP</h6>
        <h6 ng-if="isLoggedIn"style="margin-top: 3%;cursor: pointer" ng-click="go_to_my_account()">MY ACCOUNT</h6>
        <h6 ng-if="isLoggedIn" style="margin-top: 3%;cursor: pointer" ng-click="go_to_logout()">LOG OUT</h6>
        <h6 style="margin-top: 5%">CONTACT</h6>

      </div>

    </div>
  </div>
</script>
<script type="text/ng-template" id="search_template_product.html">
    <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
      <div class="input-group search-product" ng-class="{'input-focused': focused}">
        <input ng-model="searchStr"
        type="text"
        placeholder="Search for your product"
        ng-init="focused=false"
        ng-focus="onFocusHandler();focused=true"
        class="search-product"
        ng-focus="resetHideResults()"
        ng-blur="hideResults($event);focused=false"
        ng-change="inputChangeHandler(searchStr)"/>
        <span class="input-group-addon search-product">
          <i class="fa fa-search"></i>
        </span>
      </div>
      <div class="angucomplete-dropdown" ng-show="showDropdown" style="background: #FDFDFD; border: solid 1px grey;border-top: none;">
        <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
        <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
        <div class="angucomplete-row" style="border-bottom: solid 1px grey;display: block;padding: 1%;text-align: left;color: #8A247C;font-weight: 500;cursor: pointer" ng-repeat="result in results | limitTo: 10"
          ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" >
          <div style="width: 10%;display: inline-block">
            <img id="fabric-image" style="max-width: 100%" ng-src="{{result.originalObject.master.images[0].small_url.indexOf('http')>-1?result.originalObject.master.images[0].small_url:'http://104.215.254.150:3000'+result.originalObject.master.images[0].small_url}}"/>
          </div>
          <div style="width: 85%;display: inline-block;vertical-align: top">
            <div style="display: inline-block" class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
             <!--//span style="color: grey" ng-if="matchClass"> in </span-->
            <!--//span ng-if="matchClass">{{result.originalObject.product_type.product_type}}</span-->
            <div class="angucomplete-title" ng-if="!matchClass">{{result.title}}</div>
          </div>
        </div>
        <div ng-if="results.length>10" ui-sref="customer.search({name_cont: searchStr,taxonomy: '',page: 1})" style="border-bottom: solid 1px grey;display: block;padding: 1%;text-align: center;color: #8A247C;font-weight: 500;cursor: pointer">Load more..</div>
      </div>

    </div>
</script>
<script type="text/ng-template" id="quickViewContent.html" ng-cloak>
  <p class="text-center text-muted" ng-if="loading_product" style="margin-top: 10%; position: absolute; top: 20%;left: 40%; z-index: 99;color: #7F0E6E">
    <span class="fa fa-spinner fa-spin fa-4x"></span>
    <br /><br />
    Loading, please wait...
  </p>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0px;text-align: right">
    <div >
      <i class="fa fa-times" style="font-size: 125%;cursor: pointer;font-weight: 300" ng-click="cancel()"></i>
    </div>
  </div>
  <div class="row" style="margin-left: 0px; margin-right: 0px; font-family: Roboto">
    <div class="row" style="margin: 3% 7%;">
      <div class="row" style="text-align: right">
      </div>
      <div class="row" style="text-align: left; font-size: 150%; padding: 2% 0%; font-weight: 300">
        {{quickViewProduct.name}}
      </div>
      <div class="row">
        <div class="col col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding-left: 0px; padding-right: 0px">
          <uib-carousel active="active" interval="3000" >
            <uib-slide ng-repeat="slideImage in quickViewProduct.master.images track by slideImage.id" index="slideImage.id">
              <div class="new-product-image" ng-class="{'zoomable-taxonomy': is_gift_card==false}" style="height: 45vh;overflow: hidden">
                <img ng-src="{{getImage(slideImage.large_url)}}" style="cursor: pointer">
              </div>
            </uib-slide>
          </uib-carousel>
        </div>
        <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-left: 5%">
          <div ng-if="fabric_taxonomy">
            <div>
              <span>
                <img style="max-width: 14%" ng-src="assets/images/customer/luxire-weight-icons/weight-{{weight_index(quickViewProduct.luxire_product.gsm, quickViewProduct.product_type.product_type)}}.png" alt="" />&nbsp;&nbsp;
                {{quickViewProduct.luxire_product.gsm}}&nbsp;gsm
              </span>
            </div>
            <div style="margin-top: 4%">
              <span>
                <img style="max-width: 16%; margin-left: -1%" ng-src="assets/images/customer/luxire-thickness-icons/{{thickness_index(quickViewProduct.luxire_product.thickness)}}.png" alt="" />&nbsp;&nbsp;
                {{quickViewProduct.luxire_product.thickness.split('mm')[0]}}&nbsp;
              </span>
            </div>
            <div style="margin-top: 4%">
              <span>
                <img style="max-width: 16%; margin-left: -1%" ng-src="assets/images/customer/luxire-stiffness-icons/{{stiffness_index(quickViewProduct.luxire_product.stiffness, quickViewProduct.luxire_product.stiffness_unit)}}.png" alt="" />&nbsp;&nbsp;
                {{quickViewProduct.luxire_product.stiffness}}&nbsp;
              </span>
            </div>
            <div ng-if="quickViewProduct.luxire_product.wash_care.toLowerCase().indexOf('machine')>-1 || quickViewProduct.luxire_product.wash_care.toLowerCase().indexOf('hand')>-1 " style="margin-top: 4%">
              <span style="width: 30%">
                <img style="max-width: 35%;margin-left: -10%" ng-src="assets/images/customer/luxire-wash-icons/{{wash_care(quickViewProduct.luxire_product.wash_care)}}.png" alt="" />&nbsp;&nbsp;
              </span>
              <span style="width: 60%">
                {{quickViewProduct.luxire_product.wash_care}}

              </span>
            </div>

          </div>
          <hr style="border-top: solid 1px #CACACA">
          <div style="display: block; font-size: 170%; color: rgba(0, 0, 0, 0.5);">
            {{quickViewProduct.master.prices[selected_currency]}}
          </div>
          <hr style="border-top: solid 1px #CACACA">
          <!--//Layout for Ties-->
          <div ng-if="quickViewProduct && quickViewProduct.product_type && quickViewProduct.product_type.product_type && quickViewProduct.product_type.product_type.toLowerCase() === 'ties'" >
            <div class="row" style="margin-left: 0px; margin-right: 0px;font-weight: 300">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:100%;">
                <div class="btn-group">
                  Width
                </div>
              </div>
            </div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:100%;">
                <div class="btn-group" style="width: 100%" uib-dropdown keyboard-nav>
                    <input type="number" class="form-control" style="width: 100%" ng-model="cart_object['standard_measurement_attributes']['Tie Width']['value']">
                </div>
              </div>
            </div>

            <div class="row" style="margin-left: 0px; margin-right: 0px;font-weight: 300">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:100%;">
                <div class="btn-group">
                  Length
                </div>
              </div>
            </div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:100%;">
                <div class="btn-group" style="width: 100%" style="width: 100%" uib-dropdown keyboard-nav>
                  <input type="number" class="form-control" style="width: 100%" ng-model="cart_object['standard_measurement_attributes']['Tie Length']['value']">
                </div>
              </div>
            </div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;margin-top: 4%">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:100%;;padding: 0px">
                <div style="padding: 2%;border:1px solid #E1C9DD;">
                    <button type="button" class="btn btn-default" style="width:100%;font-weight: 300;background-color: #7F0E6E;border-radius:0px;color:white;" ng-click="add_to_cart(quickViewProduct.master)">Add To Cart <span style="margin-left: 8%"><img style="max-width: 10%" ng-src="assets/images/customer/cart_bag.png" alt="" /></span></button>
                </div>
              </div>
            </div>
          </div>
          <!--//Layout for Belts-->
          <div ng-if="quickViewProduct && quickViewProduct.product_type && quickViewProduct.product_type.product_type && quickViewProduct.product_type.product_type.toLowerCase() === 'belts'" >
            <div class="row" style="margin-left: 0px; margin-right: 0px;font-weight: 300">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:100%;;padding: 0px">
                <div class="btn-group">
                  Width
                </div>
              </div>
            </div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:100%;padding: 0px">
                <div class="btn-group" style="width: 100%" style="width: 100%" uib-dropdown keyboard-nav>
                  <input type="number" class="form-control" style="width: 100%" ng-model="cart_object['standard_measurement_attributes']['Belt Width']['value']">
                </div>
              </div>
            </div>

            <div class="row" style="margin-left: 0px; margin-right: 0px;font-weight: 300">

              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:100%;;padding: 0px">
                <div class="btn-group">
                  Length
                </div>
              </div>

            </div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:100%;;padding: 0px">
                <div class="btn-group" style="width: 100%" style="width: 100%" uib-dropdown keyboard-nav>
                  <input type="number" class="form-control" style="width: 100%" ng-model="cart_object['standard_measurement_attributes']['Belt Length']['value']">
                </div>
              </div>
            </div>

            <div class="row" style="margin-left: 0px; margin-right: 0px;margin-top: 4%">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:100%;;padding: 0px">
                <div style="padding: 2%;border:1px solid #E1C9DD;">
                    <button type="button" class="btn btn-default" style="width:100%;font-weight: 300;background-color: #7F0E6E;border-radius:0px;color:white;" ng-click="add_to_cart(quickViewProduct.master)">Add To Cart <span style="margin-left: 8%"><img style="max-width: 10%" ng-src="assets/images/customer/cart_bag.png" alt="" /></span></button>
                </div>
              </div>
            </div>
          </div>

          <!--//Layout for Gift card -->
          <div ng-if="quickViewProduct && quickViewProduct.product_type && quickViewProduct.product_type.product_type && quickViewProduct.product_type.product_type.toLowerCase() === 'gift cards'" class="">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="btn-group" style="width: 100%" uib-dropdown keyboard-nav>
                    {{selected_gift_card_variant.display_price ? 'Select Amount' : ''}}
                    <button id="simple-btn-keyboard-nav" style="width: 100%" type="button" class="btn btn-default btn-lux" uib-dropdown-toggle>
                      {{ selected_gift_card_variant.display_price ? selected_gift_card_variant.display_price : 'Select Amount'}}
                      <span style="margin-top: 5%" class="caret pull-right"></span>
                    </button>
                    <ul uib-dropdown-menu role="menu" aria-labelledby="simple-btn-keyboard-nav">
                      <li role="menuitem" ng-repeat="variant in quickViewProduct.variants"><a href="javascript:void(0)" ng-click="select_gift_card_variant(variant)">{{variant.display_price}}</a></li>
                    </ul>
                </div>

                <div style="padding: 2%;border:1px solid #E1C9DD;margin-top: 4%">
                    <button type="button" class="btn btn-default" style="width:100%;font-weight: 300;background-color: #7F0E6E;border-radius:0px;color:white;" ng-click="add_to_cart(selected_gift_card_variant)">Add To Cart <span style="margin-left: 8%"><img style="max-width: 10%" ng-src="assets/images/customer/cart_bag.png" alt="" /></span></button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row" style="padding-top: 2%">
        <div class="col col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding-left: 0px;padding-right: 0px; rgba(0, 0, 0, 0.5);text-align: justify">
          <p ng-if="fabric_taxonomy" style="font-weight: 300">
              <span>
                <span>Fabric by {{quickViewProduct.luxire_product.mill}} </span>
                <span ng-if="quickViewProduct.luxire_product.composition!=='NA'"><b>|</b> {{quickViewProduct.luxire_product.composition}} </span>
                <span ng-if="quickViewProduct.luxire_product.technical_description!=='NA'"><b>|</b> {{quickViewProduct.luxire_product.technical_description}} </span>
                <span ng-if="quickViewProduct.luxire_product.suitable_climates!=='NA'"><b>|</b> Ideal for {{quickViewProduct.luxire_product.suitable_climates}} </span>
                <span ng-if="quickViewProduct.luxire_product.gsm!='NA'"><b>|</b> {{quickViewProduct.luxire_product.gsm}}g/{{get_ounce_weight(quickViewProduct.luxire_product.gsm)}}Oz in weight </span>
                <span ng-if="quickViewProduct.luxire_product.thickness!='NA'&&quickViewProduct.luxire_product.stiffness!='NA'"><b>|</b> {{quickViewProduct.luxire_product.thickness.split('mm')[0]}} thickness and softness rated at {{quickViewProduct.luxire_product.stiffness}} </span>
                <span ng-if="quickViewProduct.luxire_product.wash_care!='NA'"><b>|</b> {{quickViewProduct.luxire_product.wash_care}} </span>
                <span ng-if="quickViewProduct.luxire_product.sales_pitch!='NA'"><b>|</b> {{quickViewProduct.luxire_product.sales_pitch}}</span>
              </span>
          </p>
        </div>
        <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-left: 5%">
          <div style="padding: 0% 0% 4% 0%;border:1px solid #DDDCDA;margin-left:4%;">
            <button type="button" class="btn btn-default" ng-click="go_to_product_detail(quickViewProduct.slug)" style="margin-left:5%; margin-top:4%;width:90%;font-size:90%;background-color: #7F0E6E;color:#EDEDED;border-radius:0px;">SELECT</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</script>
  <!-- <i class="fa fa-search" style="margin-right: 1%; cursor: pointer;color: #8A247C;" ng-click="show_search_panel=!show_search_panel;setFocusOnSearch(show_search_panel)"></i>&nbsp;&nbsp; -->
          <!-- <span class="fa-stack" style="margin-right: 1%; cursor: pointer" ng-click="show_search_panel=!show_search_panel;setFocusOnSearch(show_search_panel)">
            <i class="fa fa-circle-thin fa-stack-2x" style="background: #8A247C;color: transparent;border-radius: 50%"></i>
            <i class="fa fa-search fa-stack-1x" style="color: white"></i>
          </span> -->
          <!-- <i ui-sref="customer.cart" class="fa fa-shopping-cart" style="color: #8A247C;font-size:130%;cursor: pointer">
            <span class = "badge" style="color: white;background: #8A247C">
              ({{luxire_cart != {} && luxire_cart.line_items.length>0 ? luxire_cart.line_items.length: 0}})
            </span>
          </i>&nbsp;&nbsp;
          <span style="margin-right: 1%; color: #D4D4D4">
            |
          </span> -->
          <!--<span class="fa-stack" style="margin-right: 1%; cursor: pointer" ng-click="open_side_menu()">
            <i class="fa fa-circle-thin fa-stack-2x" style="background: #8A247C;color: transparent;border-radius: 50%"></i>
            <i class="fa fa-bars fa-stack-1x" style="color: white"></i>
          </span>-->
