<div class="container" style="position: fixed;top: 0px;left: 0px;z-index: 99;background-color: #F5F5F5;width: 100%;font-family: Roboto;border-bottom: solid 1px #E4E4E4">
  <div class="row" style="margin-left: 0.2%; margin-right: 1%;margin-top: 1.5%;margin-bottom: 1.25%; ">
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"  style="">
      <img src="assets/images/customer/luxire_logo.png" ui-sref="customer.home" style="max-width: 100%;cursor: pointer">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" >
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: left; font-size: 92%; font-weight: 200; margin-top: 1.4%">
          Luxury Bespoke Mens Wear. Home Delivered.
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">

        </div>
        <div ng-init="show_search_panel=false" class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align: right; margin-top: 0.5%">
          <div class="" style="display: inline-block">
            <angucomplete-alt id="products" ng-if="show_search_panel" style="height: 25px; position: absolute; top:0; left:0; z-index: 100"
                placeholder="Search products"
                pause="400"
                selected-object="select_product"
                remote-url="{{search_products_url}}"
                remote-url-data-field="products"
                title-field="name"
                template-url="search_template_product.html"
                input-class=""/>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align: right; margin-top: 0.5%">
          <i class="fa fa-search" style="margin-right: 1%; cursor: pointer" ng-click="show_search_panel=!show_search_panel"></i>&nbsp;&nbsp;
          <i ui-sref="customer.cart" class="fa fa-shopping-cart" style="color: #8A247C;font-size:170%;cursor: pointer">
            <span class = "badge" style="color: white">
              ({{luxire_cart != {} && luxire_cart.line_items.length>0 ? luxire_cart.line_items.length: 0}})
            </span>
          </i>&nbsp;&nbsp;
          <span style="margin-right: 1%; color: #D4D4D4">
            |
          </span>
          <span class="fa-stack" style="margin-right: 1%; cursor: pointer" ng-click="open_side_menu()">
            <i class="fa fa-circle-thin fa-stack-2x" style="background: #696969;color: transparent;border-radius: 50%"></i>
            <i class="fa fa-bars fa-stack-1x" style="color: white"></i>
          </span>

        </div>



      </div>

    </div>
  </div>
</div>
<div ui-view="customer" autoscroll="false" style="width: 100%; height: 100%;font-family: Roboto;"></div>
<div style="position: fixed;width: 100%;bottom: 0;font-size: 30px;text-align: center; z-index: 3;font-family: Roboto;">
  <uib-alert style="margin-bottom: 0px !important"  ng-repeat="alert in alerts" type="{{alert.type}}" close="close_alert($index)" dismiss-on-timeout="3000">{{alert.message}}</uib-alert>
</div>
<script type="text/ng-template" id="customer_side_menu.html" style="background: transparent">

  <div class="row" style="margin-left: 0px; margin-right: 0px; background: #717171; color: #E1E1E1; font-family: Arial;height: 100%">
    <div class="row" style="margin-left: 0px; margin-right: 0px; background: #717171; color: #E1E1E1; font-family: Arial;text-align: right; font-size: 150%;">
      <span style=" cursor: pointer; margin-right: 5%" ng-click="close_side_menu()">X<span>
    </div>
    <div class="row">
      <div class="col col-xs-1 col-sm-1 col-md-1 col-lg-1">
      </div>
      <div class="col col-xs-10 col-sm-10 col-md-10 col-lg-10" style="cursor: pointer">
        <h6 style="margin-top: 5%">HOME</h6>
        <h6 style="margin-top: 5%">QUALITY</h6>
        <h6 style="margin-top: 5%" ng-repeat="taxonomy in taxonomies" >
          <span ng-click="go_to_collection(taxonomy.root.permalink)" >{{taxonomy.name}}</span>
          &nbsp;&nbsp;<p style="margin-top: 5%;margin-left: 5%" ng-repeat="taxon in taxonomy.root.taxons" ng-click="go_to_collection(taxon.permalink)">{{taxon.name}}</p>
        <!--//p style="margin-top: 5%;margin-left: 5%" ng-repeat="taxon in taxonomy.root.taxons" ng-click="go_to_listing(taxonomy.name, taxonomy.id, taxon.name, taxon.id)">{{taxon.name}}</p-->
        </h6>
        <h6 style="margin-top: 5%">MEASUREMENTS</h6>
        <h6 ng-if="!isLoggedIn" style="margin-top: 5%" ng-click="go_to_login()">LOG IN</h6>
        <h6 ng-if="!isLoggedIn" style="margin-top: 5%" ng.click="go_to_signup()">SIGN UP</h6>
        <h6 ng-if="isLoggedIn"style="margin-top: 5%" ng-click="go_to_my_account()">MY ACCOUNT</h6>
        <h6 ng-if="isLoggedIn" style="margin-top: 5%" ng-click="go_to_logout()">LOG OUT</h6>
        <h6 style="margin-top: 5%">CONTACT</h6>

      </div>

    </div>
  </div>
</script>
<script type="text/ng-template" id="search_template_product.html">
    <div class="angucomplete-holder" style="z-index: 10000; cursor: pointer" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
      <input ng-model="searchStr"
        type="text"
        placeholder="Search Product.."
        class="form-control input-sm"
        ng-change="inputChangeHandler(searchStr)"/>
      <div class="angucomplete-dropdown" ng-show="showDropdown" >
        <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
        <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
        <div class="angucomplete-row" style="border-bottom: solid 1px black; " ng-repeat="result in results" ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" ng-class="{'angucomplete-selected-row': $index == currentIndex}">
          <div class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
          <div class="angucomplete-title" ng-if="!matchClass">{{ result.title }}</div>
        </div>

      </div>
    </div>
</script>
