<style>
.ProductType-checkboxColumn{
   display: inline-block;
   width:30%;
}
.productType-DivAlign{
   width: 50%;
   position: relative;
}
.productTypePlacard{
   background-color: white;
   border: 1px solid #D3DBE2;
   border-radius: 4px;
   padding: 4% !important;
   margin-bottom: 15px;
}
</style>
<div class="container-fluid" style="height:100%">
 <div class="row" style="margin-left: 0px;height: 3.3em; line-height: 3.3em; border-bottom: 1px solid #DBDEE0;">
   <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9" style="text-align: left;font-size: 20px;">
     <i class="fa fa-tag" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:100;color:#928CA2;">Style Master / <span style="color: black;">New </span></span>
   </div>
   <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="text-align: right;">
     <button type="button" class="btn btn-default" ui-sref="admin.styleMasterHome" >Cancel</button>
     <button type="button" class="btn btn-primary" ng-click="save()" >Save</button>
   </div>
 </div>
 <div class="row" ng-show="loading" style="height: 93vh; width: 100%; background-color:white; opacity: 0.6; line-height: 93vh; text-align: center;z-index: 9999; padding: 0; margin: 0; position: absolute;">
   <img src="lib/assets/loader.gif"/>
 </div>
 <div class="row" style="margin-left: 0px;height: 93vh;">
   <div class="container-fluid admin-console-content">
     <div class="row" >
       <div class="col-lg-2 col-md-2" style="position: relative">
         <div ng-if="style_cost['USD']" class="productTypePlacard" style="position: fixed;padding: 1% !important; top: 30%;width: 11%">
           cost in USD: {{style_cost['USD']}}
         </div>
       </div>
       <div class="productTypePlacard col-lg-8 col-md-8" ng-init="emptyNameMsg=false;">
         <div class="" style="margin-top: 1%">
           <span class="required" style="font-size: 1.2em; font-weight: 500;margin-top: 1%">Name</span>
           <br>
           <input type="text" id="name" ng-model="newProductType.name" ng-blur="checkStyleMasterName(newProductType.name)" class="form-control" placeholder="Style name" autofocus>
           <span ng-show="emptyNameMsg" style="color: grey;">Name can't be empty</span>
         </div>
         <div class="" style="margin-top: 1%">
           <span class="required" style="font-size: 1.2em; font-weight: 500;margin-top: 1%">Description</span>
           <textarea class="form-control" ng-model="newProductType.description" placeholder="Style description in html" name="name" ></textarea>
         </div>
         <div class="" style="margin-top: 1%">
           <span class="required" style="font-size: 1.2em; font-weight: 500;margin-top: 1%">Image</span>
            <input id="mandatory_image" type="file" name="name" ng-file-select ng-file-change="upload_image($files)" value="" autofocus>
            <img id="style_master_img" style="max-width: 100%" src="{{getImage(newProductType.image)}}" alt="">
         </div>
         <div class="" style="margin-top: 1%">
           <span class="required" style="font-size: 1.2em; font-weight: 500;margin-top: 1%">Product type</span>
           <div class="">
             <select id="mandatory_product_type" class="form-control" ng-model="luxire_product_type_id"  ng-change="showProductType()" autofocus>
               <option ng-repeat="type in allproductType" value={{type.id}}>
                   {{type.product_type}}
               </option>
             </select>
           </div>
         </div>
         <div ng-repeat="(key,value) in allMeasurementType " >
           <div class="row" ng-if="key == 'customization_attributes' && allMeasurementType.customization_attributes.length" style="margin-top:2%;">
             <div class="row" ng-init="keyToWord=key.split('_')[0];customizeKey= key.split('_').join(' ')" >
               <span style="font-size:160%; padding-left:6%; text-transform: capitalize;">{{customizeKey}}</span>
             </div>
             <div class="" id="customization_attributes" ng-repeat="customizeObj in allMeasurementType.customization_attributes" style="margin-top: 2%; ">
              <div class="col-md-4" style="padding-left:4%; margin-top:2%;">
                <span>{{customizeObj.name}}</span>
              </div>
              <div class="col-md-8" style="padding-right:2%; padding-top:1%;">
                <select class="form-control" ng-model="selectedCustomizeValue" ng-click="previousCustomizeValue = selectedCustomizeValue" ng-change="change_defaults(key, customizeObj.name, selectedCustomizeValue, null, previousCustomizeValue)">
                  <option value = "" label = "Please Select"></option>
                  <option ng-repeat=" (customizeKey,value) in customizeObj.value" ng-init="optionValue={value: customizeKey, cost: value.cost}" value="{{optionValue}}">
                      {{customizeKey}}
                  </option>
                </select>
              </div>
             </div>
           </div>
           <div class="row" ng-if="key == 'personalization_attributes' && allMeasurementType.personalization_attributes.length " style="margin-top: 2%;">
               <div class="row" ng-init="keyToWord=key.split('_')[0];customizeKey= key.split('_').join(' ')">
                 <span style="font-size:160%; padding-left:6%; text-transform: capitalize;">{{customizeKey}}</span>
               </div>
               <div class="row" ng-repeat="personalizeObj in allMeasurementType.personalization_attributes" style="margin-top: 2%;">
                <div class="col-md-4"  style="padding-left:6%; margin-top:2%;">
                  <span>{{personalizeObj.name}}</span>
                </div>
                <div class="col-md-8" style="padding-left:4%; padding-top:3%;">
                  <div class="" ng-if="restricted_params.indexOf(personalize_key.toLowerCase()) == -1" ng-repeat="(personalize_key, personalize_value) in personalizeObj.value">
                    <input type="checkbox" name="name" ng-model="isChecked" ng-change="change_defaults(key, personalizeObj.name, {value: personalize_key, cost: personalize_value.cost}, isChecked)">&nbsp;&nbsp;{{personalize_key}}
                  </div>
                </div>
               </div>
           </div>
           <!--If style selection required for standard measurement and body measurement use same template as that of customization as above -->
         </div>
         <div class="row" style="margin-top:2%;">
           <center><button type="button" class="btn btn-primary" ng-click="save()" >Save</button></center>
         </div>
       </div>
       <div class="col-lg-2 col-md-2"> </div>
     </div>
   </div>
 </div>
 <div style="position: absolute;width: 100%;bottom: 0;font-size: 30px;text-align: center; z-index: 3">
   <uib-alert style="margin-bottom: 0px !important"  ng-repeat="alert in alerts" type="{{alert.type}}" close="close_alert($index)" dismiss-on-timeout="3000">{{alert.message}}</uib-alert>
 </div>
</div>
