<!--style>
   .aligning{
     margin-left: 50px;
     margin-right: 50px;
     margin-bottom: 500px;


   }
   div.sm {
     display: block;
     float: left;
     width: 35%;
     margin-bottom: 10px;
   }
div.sm:last-child:after {
 clear: both;
 content: " ";
 display: block;
 height: 10px;
 overflow: hidden;
 }
</style-->
<style>
.ProductType-checkboxColumn{
   display: inline-block;
   width:30%;
}
.productType-DivAlign{
   width: 50%;
   /* Set the margin-left and margin-right automatically set */
   /*margin-left:10%;
   margin-right: 10%;
   margin-top: 10%;
   margin-bottom: 10%;*/
   position: relative;
}
.productTypePlacard{

   background-color: white;
   border: 1px solid #D3DBE2;
   border-radius: 4px;
   padding: 4% !important;
   margin-bottom: 15px;

}


</style>
<div class="container-fluid" style="height:100%">
 <div class="row" style="margin-left: 0px;height: 3.3em; line-height: 3.3em; border-bottom: 1px solid #DBDEE0;">
   <div class="col-lg-4 col-md-4" style="text-align: left;font-size: 20px;">
     <i class="fa fa-tag" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:100;color:#928CA2;">Style Master / <span style="color: black;">New Style Master </span></span>
   </div>
   <div class="col-lg-5 col-md-5">
   </div>
   <div class="col-lg-3 col-md-3" style="text-align: right;">
     <!--<button type="button" class="btn btn-default" ng-click="activeButton('products')">Cancel</button>-->
     <button type="button" class="btn btn-default" ng-click="save()">Save</button>
   </div>
 </div>
 <div class="row" style="margin-left: 0px;height: 93vh;">
   <div class="container-fluid admin-console-content">
     <div class="row" >
      <div class="col-lg-2 col-md-2"> </div>
       <div class="col-lg-8 col-md-8">
         <div class="row" style="margin-top:10%;">
           <div class="col-lg-3 col-md-3"> </div>
           <div class="productTypePlacard col-lg-6 col-md-6">
               <span style="font-size: 13px;">Name</span>
               <br>
               <input type="text" ng-model="newProductType.name" class="form-control" placeholder="style master name.." >
               <br>
               <span style="font-size: 13px;">Description</span>
               <br>
               <div class="panel panel-default">
                 <div class="panel-heading" style="padding: 0px;">
                 </div>
                 <div class="panel-body">
                   <textarea class="description"  rows="4" cols="20"></textarea>
                 </div>

               </div>
               <span style="font-size: 13px;">Image</span>
               <input type="text" ng-model="newProductType.url" class="form-control" placeholder="image.."><br>
               <span style="font-size:1.2em;">Product type</span>

               <div class="">
                 <select class="form-control" ng-model="newProductType.luxire_product_type_id"  ng-change="showProductType()" >
                   <option value = "0" label = "Please Select"></option>
                   <option ng-repeat="type in allproductType" value="{{type.id}}">
                       {{type.product_type}}
                   </option>
                 </select>
               </div>
               <div class="row" ng-repeat="(key,value) in allMeasurementType " style="margin-top:5%;font-size:1em;">

                    <div class="row" ng-init="keyToWord=key.split('_')[0];customizeKey= key.split('_').join(' ')">
                      <span style="font-size:160%; padding-left:6%; text-transform: capitalize;">{{customizeKey}}</span>
                    </div>
                    <div class="row" ng-repeat="individualMeasurementType in value" style="padding-left:3%; margin-top:2%;">
                      <div class="col-md-4" style="margin-top:1%;" ng-init="measurementTypeName=(individualMeasurementType.name)">
                          <span style="font-size:90%;">{{individualMeasurementType.name}}</span>
                      </div>
                      <div class="col-md-8" style="padding-right:6%;">
                        <select class="form-control" ng-model="key"  ng-change="showMeasurementType(keyToWord,measurementTypeName, key)" >
                          <option value = "0" label = "Please Select"></option>
                          <option ng-repeat="(key,value) in individualMeasurementType.value" value="{{key}}">
                              {{key}}
                          </option>
                        </select>
                      </div>
                    </div>

               </div>

               <!--<div class="row" ng-repeat="type in allMeasurementType | filter : selectedMeasurementType" style="margin-top:2%;font-size:1em;">
                   <div class="col-md-4">
                       <span style="font-size:1.2em;">{{type.name}}</span>
                   </div>
                   <div class="col-md-8">
                     <select class="form-control" ng-model="key"  ng-change="showMeasurementType(type.name, key)" >
                       <option value = "0" label = "Please Select"></option>
                       <option ng-repeat="(key,value) in type.value" value="{{key}}">
                           {{key}}
                       </option>
                     </select>
                   </div>
               </div>-->
               <div class="row" style="margin-top:20%;">
                 <center><button type="button" class="btn btn-primary" ng-click="save()">Save</button></center>
               </div>
           </div>
           <div class="col-lg-3 col-md-3"> </div>

         </div>

       </div>
       <div class="col-lg-2 col-md-2"> </div>
     </div>
   </div>

 </div>
</div>
