<div class="container-fluid" style="height:100%" >
  <div class="row" style="height: 3.3em; line-height: 3.3em; border-bottom: 1px solid #DBDEE0;">
    <div class="col-lg-6 col-md-6" style="text-align: left;font-size: 20px;">
      &nbsp;&nbsp;<i class="fa fa-tag" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:100;color:#928CA2;">Style Master</span>
    </div>

    <div class="col-lg-4 col-md-4" style="text-align: right;">
      <div class="btn-group" role="group" aria-label="...">
      </div>
      <button type="button" class="btn btn-default" ui-sref="admin.styleMasterCreate">Add Style Master</button>
    </div>
  </div>

  <div class="row" ng-show="loading" style="height: 93vh; width: 100%; background-color:white; opacity: 0.6; line-height: 93vh; text-align: center;z-index: 9999; padding: 0; margin: 0; position: absolute;">
    <img src="lib/assets/loader.gif"/>
  </div>

  <div class="row" style="height: 93vh;">
    <div class="container-fluid admin-console-content">
      <div class="row" style="margin:0px; background-color: white; border: 1px solid #DBDEE0;">
        <div class="row" style="margin:0px; background-color: white;">
          <div  class="col-lg-1 col-md-1" style="padding:0px; height:6vh; line-height: 6vh; text-align: center; border-right: 1px solid #DBDEE0;">
            <span style="font-size: 12px;">All Style Master</span>
          </div>
          <div  class="col-lg-11 col-md-11" style="height:6vh;background-color:#F5F6F7; border-bottom: 1px solid #DBDEE0;">

          </div>
        </div>


        <div class="row" style="margin:0px; background-color: white; padding: 20px;">

          <!-- start: 17th march change-7 commented dropdown   :rajib -->


          <!-- <div class="input-group col-md-12 col-xs-12">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false" style="font-size:"> Filter Conditions <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="#">collection</a></li>
                    <li><a href="#">collection</a></li>
                    <li><a href="#">collection</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">collection</a></li>
                  </ul>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                  <i class="fa fa-search"></i>
                </span>
                <input type="text" ng-model="searchText.$" class="form-control" aria-label="..." placeholder="Start typing to search for collections...">
            </div>
          </div> -->
          <div class="left-inner-addon ">
              <i class="fa fa-search"></i>
              <input type="text" ng-model="searchText" class="form-control" aria-label="..." placeholder="Start typing to search for style master...">
          </div>
        </div>
        <!-- end:  17th march change-7 commented dropdown  -->

                  <div class="row" style="margin:0px; background-color: white; padding: 20px;">
                    <div class="row" ng-show="filteredResults.length == 0 && loading == false" style="padding-top:2%;padding-buttom:2%;"> <!-- 18th march chnages: add this div  @rajib-->
                      <div class="" style="color:red; font-size:120%;">
                          <center>Warning!</center>
                          <center>No Results Found.</center>
                          <!-- <center><span style="font-size:120%; color:red;"><strong style="padding-right:2%;">info !</strong>No Results Found..</span></center> -->
                      </div>
                    </div>
                    <div ng-show="!(filteredResults.length == 0)">  <!--  18th march chnage: add this extra outer div   @rajib -->
                    <table class="table table-hover admin-product-list">
                      <thead>
                        <tr>
                          <th>
                             <input type="checkbox" name="selectAll" value="">
                          </th>
                          <th>
                            &nbsp;&nbsp;Image
                          </th>
                          <th>
                            Name
                          </th>
                          <th>

                          </th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="type in allStyleMasterType | filter: { name:searchText } as filteredResults"> <!-- 18th march change in this line  @rajib-->
                            <td style="padding-right:0%;">

                                <input <input type="checkbox" name="selectAll" value=""></input>

                            </td>
                            <td>
                              <img src={{getImage(type.images.small)}} style="padding-left:20%;"></img>
                            </td>
                            <td style="width:60%;">
                              <a ui-sref="admin.styleMasterEdit" ng-click="editStyleMaster(type.id)">{{ type.name }}</a>
                            </td>
                            <!-- <td style="padding-right:20%;"> </td> -->
                            <td>
                              <i class="fa fa-pencil-square-o" ng-click="editStyleMaster(type.id)" style="font-size: 24px;color: #3276B1;cursor: pointer"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                              <i class="fa fa-trash-o" ng-click="deleteStyleMaster(type.id,$index)" style="font-size: 24px;color: #F22823;cursor: pointer;"></i>
                            </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                  </div>
        </div>

      </div>
    </div>
  </div>
  <div style="position: absolute;width: 100%;bottom: 0;font-size: 30px;text-align: center; z-index: 3">
    <uib-alert style="margin-bottom: 0px !important"  ng-repeat="alert in alerts" type="{{alert.type}}" close="close_alert($index)" dismiss-on-timeout="3000">{{alert.message}}</uib-alert>
  </div>
</div>
<!-- end -->
