<div class="container-fluid" style="height:100%" >
  <div class="row" style="margin-left: 0px;height: 3.3em; line-height: 3.3em; border-bottom: 1px solid #DBDEE0;">
    <div class="col-lg-6 col-md-6" style="text-align: left;font-size: 20px;color:#928CA2;">
      <i class="fa fa-tag" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:100;color: black">Product Styles</span>
    </div>
    <div class="col-lg-2 col-md-2">
    </div>
    <div class="col-lg-4 col-md-4" style="text-align: right;">
      <button type="button" class="btn btn-primary" ui-sref="admin.styleMasterCreate">Add product style</button>
    </div>
  </div>
  <div class="row" ng-show="loading" style="height: 93vh; width: 100%; background-color:white; opacity: 0.6; line-height: 93vh; text-align: center;z-index: 9999; padding: 0; margin: 0; position: absolute;">
    <img src="lib/assets/loader.gif"/>
  </div>
  <div class="row" style="margin-left: 0px;height: 93vh;">
    <div class="container-fluid admin-console-content">
      <div class="row" style="margin:0px; background-color: white; border: 1px solid #DBDEE0;">
        <div class="row" style="margin:0px; background-color: white;">
          <div  class="col-lg-3 col-md-3" style="padding:0px; height:6vh; line-height: 6vh; text-align: center; border-right: 1px solid #DBDEE0;">
            <span style="font-size: 16px;">All Product Styles</span>
          </div>
          <div  class="col-lg-9 col-md-9" style="height:6vh;background-color:#F5F6F7; border-bottom: 1px solid #DBDEE0;">
          </div>
        </div>
        <div class="row" style="margin:0px; background-color: white; padding: 2% 2% 0 2%">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">
              <i class="fa fa-search"></i>
            </span>
            <input type="text" ng-model="searchText" class="form-control" aria-label="..." placeholder="Start typing to search for product styles...">
          </div>
        </div>
        <div class="row" style="margin:0px; background-color: white; padding: 20px;">
          <div class="row" ng-show="filteredResults.length == 0 && loading == false" style="padding-top:2%;padding-buttom:2%;"> <!-- 18th march chnages: add this div  @rajib-->
            <div class="" style="color:red; font-size:120%;">
                <center>No Results Found.</center>
            </div>
          </div>
          <div ng-show="!(filteredResults.length == 0)">  <!--  18th march chnage: add this extra outer div   @rajib -->
            <table class="table table-hover admin-product-list">
              <thead>
                <tr>
                  <th>
                     <input ng-hide="true" type="checkbox" name="selectAll" value="">
                  </th>
                  <th>
                    &nbsp;&nbsp;Image
                  </th>
                  <th>
                    Name
                  </th>
                  <th>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="type in allStyleMasterType | filter: { name:searchText } as filteredResults"> <!-- 18th march change in this line  @rajib-->
                    <td style="padding-right:0%;">
                        <input <input ng-hide="true" type="checkbox" name="selectAll" value=""></input>
                    </td>
                    <td>
                      <img ng-src={{getImage(type.images.small)}} ></img>
                    </td>
                    <td style="width:60%;">
                      <a ui-sref="admin.styleMasterEdit({id: type.id})">{{ type.name }}</a>
                    </td>
                    <td>
                      <i class="fa fa-pencil-square-o" ui-sref="admin.styleMasterEdit({id: type.id})" style="font-size: 24px;color: #3276B1;cursor: pointer"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                      <i class="fa fa-trash-o" ng-click="deleteStyleMaster(type,$index)" style="font-size: 24px;color: #F22823;cursor: pointer;"></i>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div style="position: absolute;width: 100%;bottom: 0;font-size: 30px;text-align: center; z-index: 3">
    <uib-alert style="margin-bottom: 0px !important"  ng-repeat="alert in alerts" type="{{alert.type}}" close="close_alert($index)" dismiss-on-timeout="3000">{{alert.message}}</uib-alert>
  </div>
</div>
<script type="text/ng-template" id="delete_style.html">
  <div class="row" ng-show="loading" style="height: 93vh; width: 100%;line-height: 75vh; text-align: center;z-index: 9999; padding: 0; margin: 0; position: absolute;">
    <img src="lib/assets/loader.gif"/>
  </div>
  <div class="modal-header row " style="border-bottom: 1px solid #e5e5e5 !important;margin-left: 0px;margin-right: 0px">
      <h3 class="modal-title col-md-10 col-sm-10 col-xs-10 col-lg-10">Delete product style "{{product_style.name}}"?</h3>
      <span><i class="fa fa-close col-md-2 col-sm-2 col-xs-2 col-lg-2" style="cursor: pointer;text-align: right;font-size: 18px; margin-top: 2%;color: #807F7F"  ng-click="cancel()"></i></span>
  </div>
  <div class="modal-body" >
      <p>Are you sure you want to delete the style {{'"'+product_style.name+'"'}} ? This action cannot be reversed.</p>
  </div>
  <div class="modal-footer" style="padding: 15px 20px 15px !important; margin-top: 0px !important">
      <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
      <button class="btn btn-danger" type="button" ng-click="delete()">Delete</button>
  </div>
</script>
<!-- end -->
