<div class="container-fluid" style="height:100%">
  <div class="row" style="margin-left: 0px;margin-right: 0px;height: 3.3em; line-height: 3.3em; border-bottom: 1px solid #DBDEE0;">
    <div ng-if="state_name!=='admin.edit_discount'" class="col-lg-4 col-md-4" style="text-align: left;font-size: 20px;">
      <i class="fa fa-scissors" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:100;">Discounts / Add a discount</span>
    </div>
    <div ng-if="state_name=='admin.edit_discount'" class="col-lg-4 col-md-4" style="text-align: left;font-size: 20px;">
      <i class="fa fa-scissors" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:100;">Discounts / Edit discount</span>
    </div>

    <div class="col-lg-4 col-md-4">
    </div>
    <!-- <div class="col-lg-4 col-md-4" style="text-align: right;">
      <button type="button" class="btn btn-default" style="color: #3276b1;">Cancel</button>
      <button type="button" class="btn btn-primary">Save discount</button>
    </div> -->
  </div>
  <div class="row" style="margin-left: 0px;height: 93vh;">
    <div class="container-fluid admin-console-content" style="padding-top: 25px !important;">
      <div class="row">
        <div class="row col-md-8 col-sm-8 col-lg-8 col-xs-8" style="margin-left: 13.75%;">
        </div>
      </div>
      <div class="row" style="margin-top: 2%;display: block">
        <div class="placard row col-md-4 col-sm-4 col-lg-4 col-xs-4" style="margin-left: 15%;width: 40%">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6" style="text-align: left">
              Name
            </div>
            <div ng-style="gen_code_style" class="col-md-6 col-sm-6 col-lg-6 col-xs-6" style="text-align: right;color: #4293C3;cursor: pointer">
            </div>
          </div>

          <div class="row" style="margin-top: 1%">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
              <input type="text" class="form-control" ng-model="discountObject.promotion.name">
            </div>
          </div>

          <div class="row" style="margin-top: 1%">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6" style="text-align: left">
              Code name
            </div>
            <!-- <div ng-style="gen_code_style" class="col-md-6 col-sm-6 col-lg-6 col-xs-6" style="text-align: right;color: #4293C3;cursor: pointer"
                    ng-mouseover="gen_code_style={'text-decoration':'underline'}" ng-mouseleave="gen_code_style={'text-decoration':'none'}"
                    ng-click="discountCodeGen()">
              Generate code
            </div> -->
          </div>

          <div class="row" style="margin-top: 1%">
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
              <input type="text" class="form-control" ng-model="discountObject.promotion.code">
              <p style="color: #A5B0B7;font-style: italic">Your customers will enter this code at checkout to use the discount (e.g. SPRINGBLOWOUT).​</p>
              <p style="margin-top: 1%">Number of times this discount can be used</p>
            </div>
          </div>
          <div class="row" style="margin-top: 1%;margin-bottom: 4%">
            <div class="col-lg-4 col-md-4">
              <input type="number" class="form-control" ng-class="infinityFlag ? 'infinite' : 'not-infinite'" ng-model="discountObject.promotion.usage_limit" style="width: 100%;" ng-disabled="infinityFlag==true">
            </div>
            <div class="col-lg-8 col-md-8" style="padding-top: 1%">
              <input type="checkbox" ng-model="infinityFlag" ng-change="change_infinity_flag(infinityFlag)">
              <span style="font-size: 13px;" >&nbsp;&nbsp;No limit</span>
            </div>
          </div>

        </div>
        <div style="margin-left: 0.5%;width: 31%" class=" col-md-4 col-sm-4 col-lg-4 col-xs-4">
          <div class="placard-grey">
            <p style="font-size: 18px">Date range</p>
            <p style="margin-bottom: 5px">Start date</p>
            <p style="padding-bottom: 2%" class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="discountObject.promotion.starts_at" is-open="start_date_status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,'start')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
            <p style="margin-bottom: 5px">End date(end of day)</p>
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="discountObject.promotion.expires_at" is-open="end_date_status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event,'end')"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>

          <!-- <input type="checkbox" ng-model="expiryFlag">
          <span style="font-size: 13px;">&nbsp;&nbsp;&nbsp;Never expires</span> -->

        </div>

      </div>
      <div class="row" style="margin-bottom: 2%">
        <div class=" row col-md-4 col-sm-4 col-lg-4 col-xs-4" style="margin-left: 15%;width: 40%">
          <button type="button" class="btn btn-default" style="color: #3276b1;" ng-click="cancel()">Cancel</button>
          <button type="button" class="btn btn-primary" ng-disabled="discountObject.promotion.name==''" ng-click="update_promotion()">Update</button>
        </div>
      </div>
      <div ng-if="discountObject.promotion.id !== ''"class="row" style="">
        <div class="placard row col-md-4 col-sm-4 col-lg-4 col-xs-4" style="margin-left: 15%;width: 40%">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Rules</h3>
            </div>
            <div class="panel-body">
              <div style="margin: 2% 2%" >
                <p style="font-size: 13px">ADD RULE OF TYPE</p>
                <select class="form-control" ng-options="rule_type as rule.title for (rule_type, rule) in rules_json"  ng-model="selected_rule_type" ng-change="select_rule(selected_rule_type)"></select>
                <button style="margin-top: 1%;margin-bottom: 1%;" class="btn btn-success" ng-disabled="rules_json=={}||selected_rule_type==null" ng-click="add_selected_rule()">+ Add</button>
                <div ng-repeat="(rule_type, rule) in added_rules_json">
                  <div ng-if="rule.label=='Item total'" class="panel panel-default">
                    <div class="panel-heading">
                      <h3 style="display: inline-block" class="panel-title">Order total meets these criteria</h3>
                      <a href="#" ng-click="remove_selected_rule($event,rule_type)"><i style="display: inline-block;font-size: 20px;" class="fa fa-close pull-right" ></i></a>
                    </div>
                    <div class="panel-body">
                      <div style="margin: 2% 2%">
                        <form>
                          <div class="form-inline" style="padding-bottom: 2%">
                            <select class="form-control" style="width: 48%" ng-options="base_option as base_option.title for base_option in rule.criteria.base_cutoff_options track by base_option.id" ng-model="rule.criteria.base_cutoff_selected_option" ></select>
                            <input class="form-control" style="width: 48%" ng-model="rule.criteria.base_cutoff_selected_option.value">
                          </div>
                          <div class="form-inline">
                            <select class="form-control" style="width: 48%" ng-options="higher_option as higher_option.title for higher_option in rule.criteria.higher_cutoff_options track by higher_option.id" ng-model="rule.criteria.higher_cutoff_selected_option" ></select>
                            <input class="form-control" style="width: 48%" ng-model="rule.criteria.higher_cutoff_selected_option.value">
                          </div>
                        </form>

                      </div>
                    </div>
                  </div>
                  <div ng-if="rule.label=='Product(s)'" class="panel panel-default">
                    <div class="panel-heading">
                      <h3 style="display: inline-block" class="panel-title">Order includes specified product(s)</h3>
                      <a href="#" ng-click="remove_selected_rule($event,rule_type)"><i style="display: inline-block;font-size: 20px;" class="fa fa-close pull-right" ></i></a>
                    </div>
                    <div class="panel-body">
                      <div style="margin: 2% 2%">
                        <p style="font-size: 12px">CHOOSE PRODUCTS</p>
                        <tags-input ng-model="rule.criteria.selected_products" display-property="name" key-property="id" add-from-autocomplete-only="true"
                        on-tag-added="add_product_tag($tag)" on-tag-removed="remove_product_tag($tag)">
                          <auto-complete  source="loadItems($query)"></auto-complete>
                        </tags-input>
                        please enter minimum of 3 characters to search
                        <select class="form-control" style="padding-top: 2%" ng-options="product_quantity as product_quantity.title for product_quantity in rule.criteria.product_quantity track by product_quantity.id" ng-model="rule.criteria.selected_product_quantity" ></select>
                      </div>
                    </div>
                  </div>
                  <div ng-if="rule.label=='User'" class="panel panel-default">
                    <div class="panel-heading">
                      <h3 style="display: inline-block" class="panel-title">Available only to the specified users</h3>
                      <a href="#" ng-click="remove_selected_rule($event,rule_type)"><i style="display: inline-block;font-size: 20px;" class="fa fa-close pull-right" ></i></a>
                    </div>
                    <div class="panel-body">
                      <div style="margin: 2% 2%">
                      </div>
                    </div>
                  </div>
                  <div ng-if="rule.label=='First order'" class="panel panel-default">
                    <div class="panel-heading">
                      <h3 style="display: inline-block" class="panel-title">Must be the customer's first order</h3>
                      <a href="#" ng-click="remove_selected_rule($event,rule_type)"><i style="display: inline-block;font-size: 20px;" class="fa fa-close pull-right" ></i></a>
                    </div>

                  </div>
                  <div ng-if="rule.label=='User Logged In'" class="panel panel-default">
                    <div class="panel-heading">
                      <h3 style="display: inline-block" class="panel-title">Available only to logged in users</h3>
                      <a href="#" ng-click="remove_selected_rule($event,rule_type)"><i style="display: inline-block;font-size: 20px;" class="fa fa-close pull-right" ></i></a>
                    </div>

                  </div>
                  <div ng-if="rule.label=='One Use Per User'" class="panel panel-default">
                    <div class="panel-heading">
                      <h3 style="display: inline-block" class="panel-title">Only One Use Per User</h3>
                      <a href="#" ng-click="remove_selected_rule($event,rule_type)"><i style="display: inline-block;font-size: 20px;" class="fa fa-close pull-right" ></i></a>
                    </div>

                  </div>
                  <div ng-if="rule.label=='Taxon(s)'" class="panel panel-default">
                    <div class="panel-heading">
                      <h3 style="display: inline-block" class="panel-title">Order includes products with specified taxon(s)</h3>
                      <a href="#" ng-click="remove_selected_rule($event,rule_type)"><i style="display: inline-block;font-size: 20px;" class="fa fa-close pull-right" ></i></a>
                    </div>
                    <div class="panel-body">
                      <div style="margin: 2% 2%">
                      </div>
                    </div>
                  </div>

                </div>
              </div>
              <div style="margin: 2% 2%" ng-init="preferred_match_policy='any'">
                <input type="radio" ng-model="preferred_match_policy" value="any"> MATCH ANY OF THESE RULES<br>
                <input type="radio" ng-model="preferred_match_policy" value="all"> MATCH ALL OF THESE RULES

                <uib-alert ng-if="get_obj_key_len(added_rules_json)==0" style="margin-bottom: 1% !important; margin-top: 1%" type="warning">No rules added</uib-alert>
              </div>
            </div>
            <button type="button" style="margin-left: 2%;margin-bottom: 2%" class="btn btn-primary" ng-click="update_rules()">Update Rules</button>
          </div>
        </div>
        <div style="margin-left: 2%;width: 28%" class="placard-grey col-md-4 col-sm-4 col-lg-4 col-xs-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Actions</h3>
            </div>
            <div class="panel-body">
              <div style="margin: 2% 2%">
                <select class="form-control" style="margin-bottom: 2%" ng-options="key as val.title for (key, val) in actions_json" ng-model="selected_action_type" ng-change="change_action_type(selected_action_type)"></select>
                <button style="margin-top: 1%;margin-bottom: 1%;" class="btn btn-success" ng-disabled="actions_json=={}||selected_action_type==null" ng-click="add_selected_action()">+ Add</button>
                <div ng-repeat="(key,val) in selected_actions_json">
                  <div ng-if="val.label=='Create whole order adjustment'" class="panel panel-default">
                    <div class="panel-heading">
                      <p style="display: inline-block" class="panel-title">Order adjustment</p>
                      <a href="#" ng-click="remove_selected_action($event,key)"><i style="display: inline-block;font-size: 20px;" class="fa fa-close pull-right" ></i></a>
                    </div>
                    <div class="panel-body">
                      <div class="form-inline"style="margin: 2% 2%">
                        <select style="width: 48%" class="form-control" ng-options="redeem_type as redeem_type.title for redeem_type in selected_action.redeem_types track by redeem_type.id" ng-model="val.selected_redeem_type" ></select>
                        <!--Rs-->
                        <div ng-if="val.selected_redeem_type.title=='$'" class="form-group" style="width: 48%">
                          <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" ng-model="val.selected_redeem_type.value" >
                          </div>
                        </div>
                        <div ng-if="val.selected_redeem_type.title=='% Discount'" class="form-group" style="width: 48%">
                          <div class="input-group">
                            <input type="text" class="form-control" ng-model="val.selected_redeem_type.value">
                            <span class="input-group-addon">%</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div ng-if="val.label=='Create line item adjustment'" class="panel panel-default">
                    <div class="panel-heading">
                      <p style="display: inline-block" class="panel-title">Line Item adjustment</p>
                      <a href="#" ng-click="remove_selected_action($event,key)"><i style="display: inline-block;font-size: 20px;" class="fa fa-close pull-right" ></i></a>
                    </div>
                    <div class="panel-body">
                      <div style="margin: 2% 2%" ng-repeat="(key, value) in active_product_tags" class="panel panel-default">
                        <div class="panel-heading">
                          <p class="panel-title">{{value.product_name}}</p>
                        </div>
                        <div class="panel-body">
                          <div style="margin: 2% 2%" class="form-inline">
                            <select style="width: 48%" class="form-control" ng-options="redeem_type as redeem_type.title for redeem_type in redeem_types track by redeem_type.id" ng-model="value.selected_redeem_type"></select>

                            <!--Rs-->
                            <div style="width: 48%" ng-if="value.selected_redeem_type.title=='$'" class="form-group" style="width: 13%">
                              <div class="input-group">
                                <span class="input-group-addon">$</span>
                                <input type="text" class="form-control" ng-model="value.selected_redeem_type.value">
                              </div>
                            </div>


                            <!--Discount-->
                            <div style="width: 48%" ng-if="value.selected_redeem_type.title=='% Discount'" class="form-group" style="width: 13%">
                              <div class="input-group">
                                <input type="text" class="form-control" ng-model="value.selected_redeem_type.value">
                                <span class="input-group-addon">%</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div ng-if="val.label=='Free shipping'" class="panel panel-default">
                    <div class="panel-heading">
                      <p style="display: inline-block" class="panel-title">Free shipping</p>
                      <a href="#" ng-click="remove_selected_action($event,key)"><i style="display: inline-block;font-size: 20px;" class="fa fa-close pull-right" ></i></a>
                    </div>
                  </div>

                </div>
                <br>
                <button type="button" class="btn btn-primary" ng-click="update_action()">Update Action</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row" style="height: 5em; line-height: 5em;">
        <div class="col-lg-4 col-md-4" style="text-align: center;font-size: 20px;">

        </div>
        <div class="col-lg-2 col-md-2">

        </div>
        <div class="col-lg-4 col-md-4" style="text-align: right;">
          <button type="button" class="btn btn-default" style="color: #3276b1;">Cancel</button>
          <button type="button" class="btn btn-primary">Save discount</button>
        </div>
      </div> -->
      <!-- <div class="row" style="">
        <div class="placard" style="margin-left: 15%; width: 66%; display: block">
          <div class="row">
              <h4 style="display: inline-block;margin-left: 2%">Details</h4>
              <a href="#" ng-click="add_rule($event)" style="display: inline-block;margin-left: 40%">Add another rule</a>


          </div>

          <form class="form-inline" ng-repeat="discount in discounts" style="padding-bottom: 1.5%">
            <select class="form-control" ng-options="redeem_type as redeem_type.title for redeem_type in discount.redeem_types track by redeem_type.id" ng-model="discount.selected_redeem_type" ng-change="redeem_option_change($index,discount)"></select>
            <p ng-if="discount.selected_redeem_type.title=='$' || discount.selected_redeem_type.title=='% Discount'" style="display: inline-block">&nbsp;&nbsp;Take&nbsp;&nbsp;</p>

            <div ng-if="discount.selected_redeem_type.title=='$'" class="form-group" style="width: 13%">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" ng-model="discount.redeem_types[discount.selected_redeem_type.id].value">
              </div>
            </div>


            <div ng-if="discount.selected_redeem_type.title=='% Discount'" class="form-group" style="width: 13%">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="discount.redeem_types[discount.selected_redeem_type.id].value">
                <span class="input-group-addon">%</span>
              </div>
            </div>

            <p ng-if="discount.selected_redeem_type.title=='$' || discount.selected_redeem_type.title=='% Discount'"style="display: inline-block">&nbsp;off for&nbsp;</p>
            <select ng-if="discount.selected_redeem_type.title=='$' || discount.selected_redeem_type.title=='% Discount'" class="form-control" ng-options="discount_category as discount_category.title for discount_category in discount.discount_categories track by discount_category.id" ng-model="discount.selected_discount_category" ></select>

            <p ng-if="discount.selected_redeem_type.title=='Free Shipping'"style="display: inline-block">&nbsp;for any shipping rate that is less than or equal to&nbsp;</p>
            <div ng-if="discount.selected_redeem_type.title=='Free Shipping'" class="form-group" style="width: 13%">
              <div class="input-group">
                <span class="input-group-addon">$</span>
                <input type="text" class="form-control" ng-model="discount.redeem_types[discount.selected_redeem_type.id].value_le">
              </div>
            </div>

            <p ng-if="discount.selected_redeem_type.title=='Free Shipping'" style="display: inline-block">&nbsp;and applies to&nbsp;</p>
            <select ng-if="discount.selected_redeem_type.title=='Free Shipping'" class="form-control" ng-options="zone as zone.title for zone in discount.redeem_types[2].zones track by zone.id" ng-model="discount.redeem_types[2].selected_zone"></select>

          </form>

        </div>
      </div> -->


      <!-- footer -->

      <!-- End of footer -->
    </div>
  </div>
</div>
<div style="position: absolute;width: 100%;bottom: 0;font-size: 30px;text-align: center; z-index: 3">
  <uib-alert style="margin-bottom: 0px !important"  ng-repeat="alert in alerts" type="{{alert.type}}" close="close_alert($index)" dismiss-on-timeout="3000">{{alert.message}}</uib-alert>
</div>

<!-- <select style="width: 15%; display: inline-block" class="form-control">
  <option ng-repeat="discount_type in discount_types">
    {{discount_type.title}}
  </option>
</select>&nbsp;&nbsp;
<p style="display: inline-block">Take</p>&nbsp;&nbsp;
<div style="display: inline-block;width: 15%;">
  <div class="input-group">
    <span class="input-group-addon">$</span>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
  </div>
</div> -->
<!-- <select style="width: 15%;" ng-model="discount.selected_redeem_type_id" class="form-control" ng-change="redeem_option_change($index,discount)">
  <option ng-selected="true">Select</option>
  <option ng-repeat="redeem_type in discount.redeem_types" ng-value="redeem_type.id">
    {{redeem_type.title}}
  </option>
</select> -->
<!-- <div class="row" style="">
  <div class="placard row col-md-4 col-sm-4 col-lg-4 col-xs-4" style="margin-left: 15%;width: 40%">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Rules</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div>
  <div style="margin-left: 2%;width: 25%" class="placard-grey col-md-3 col-sm-3 col-lg-3 col-xs-3">

  </div>
</div> -->
<!-- <div class="row" style="border-bottom: 1px solid #C7C7C7;">
  <div class="col-lg-4 col-md-4">
    <span style="font-size: 20px;">Discount details</span>
    <br>
    <span style="font-size: 13px;color: #798c9c;">Create your discount code, and specify the usage limit.</span>
    <br>
    <br>
    <button type="button" class="btn btn-default" ng-click="discountCodeGen()">Genarate code</button>
  </div>
  <div class="col-lg-8 col-md-8 placard" style="margin-bottom: 25px;">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <span style="font-size: 13px;">Discount code</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <input type="text" class="form-control" ng-model="discountCode">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <span style="font-size: 13px;">Discount code</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2">
        <input type="text" class="form-control" ng-class="infinityFlag ? 'infinite' : 'not-infinite'" ng-model="usage_limit" style="width: 100%;" ng-disabled="infinityFlag==true">
      </div>
      <div class="col-lg-10 col-md-10">
        <input type="checkbox" ng-model="infinityFlag">
        <span style="font-size: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;No limit</span>
      </div>
    </div>
  </div>
</div>

<div class="row" style="border-bottom: 1px solid #C7C7C7; padding-top: 25px;">
  <div class="col-lg-4 col-md-4">
    <span style="font-size: 20px;">Discount type</span>
    <br>
    <span style="font-size: 13px;color: #798c9c;">Select the type of discount, and set any extra conditions.</span>
  </div>
  <div class="col-lg-8 col-md-8 placard" style="margin-bottom: 25px;">
    <select class="form-control" ng-model="discountType" style="width: 150px; display: inline;">
      <option value="PERC" selected>% Discount</option>
      <option value="CASH">$</option>
    </select>
    <span>&nbsp;&nbsp;&nbsp;Take </span>
    <span>INR&nbsp;&nbsp;&nbsp;</span>
    <input type="text" ng-model="discountValue" class="form-control" style="width: 150px; display: inline;">
    <span>%</span>
    <span>off for&nbsp;&nbsp;&nbsp;</span>
    <select class="form-control" ng-model="discountScope" style="width: 150px; display: inline;">
      <option value="ALL">All orders</option>
      <option value="OVR">Orders over</option>
      <option value="COL">Collection</option>
      <option value="SPEC">Specific product</option>
      <option value="CUST">Customer in group</option>
    </select>
  </div>
</div>

<div class="row"  style="border-bottom: 1px solid #C7C7C7; padding-top: 25px;">
  <div class="col-lg-4 col-md-4">
    <span style="font-size: 20px;">Date range</span>
    <br>
    <span style="font-size: 13px;color: #798c9c;">Specify when this discount begins and ends.</span>
  </div>
  <div class="col-lg-8 col-md-8 placard" style="margin-bottom: 25px;">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <span style="font-size: 13px;">Discount Begins</span>
      </div>
      <div class="col-lg-8 col-md-8">
        <span style="font-size: 13px;">Discount Expires</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="discountStart" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
      </div>
      <div class="col-lg-4 col-md-4">
        <p class="input-group">
        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="discountExpire" is-open="status.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
      </div>
      <div class="col-lg-4 col-md-4">
        <input type="checkbox" ng-model="expiryFlag">
        <span style="font-size: 13px;">&nbsp;&nbsp;&nbsp;Never expires</span>
      </div>

    </div>
  </div>
</div>

<div class="row" style="margin-top: 1%">
  <div class="col-sm-7 col-md-7 col-xs-7 col-lg-7" style="margin-left: 3%;margin-right: 1%;border: solid 1px grey;border-radius: 2px;background-color: white">
    Rules
  </div>
  <div class="col-sm-4 col-md-4 col-xs-4 col-lg-4" style="margin-left: 1%;margin-right: 3%;border: solid 1px grey;border-radius: 2px;background-color: white">
    Actions
  </div>
</div> -->
