<div class="row" style="margin-left: 0px;height: 3.3em; line-height: 3.3em; border-bottom: 1px solid #DBDEE0;">
  <div class="col-lg-2 col-md-2" style="text-align: left;font-size: 20px;">
    <i class="fa fa-scissors" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:100;">Discounts</span>
  </div>
  <div class="col-lg-6 col-md-6">
  </div>
  <div class="col-lg-4 col-md-4" style="text-align: right;">
    <button type="button" style="margin-right: 2%" class="btn btn-primary" ui-sref="admin.new_discount">Add discount code</button>
  </div>
</div>
<div  ng-hide="show_promotions_list" class="container-fluid" style="height:100%">
  <div class="container-fluid admin-console-content" style="text-align: center">
    <div class="row" style="color: #31373D;font-size: 30px;margin-top: 5%">
      Create a discount code
    </div>
    <div class="row" style="color: #798C9C;font-size: 18px;margin-top: 1%">
      Increase sales by offering discounts to your customers.
    </div>
    <div class="row" style="margin-top: 2%">
      <img src="lib/assets/discount_landing_page.png">
    </div>
    <div class="row" style="margin-top: 2%">
      <button type="button" style="margin-right: 2%" class="btn btn-primary" ui-sref="admin.new_discount">Add discount code</button>
    </div>
  </div>
</div>
<div ng-show="show_promotions_list" class="container-fluid admin-console-content">
    <div class="row" style="margin:0px; background-color: white; border: 1px solid #DBDEE0;margin-bottom: 10%">
      <div class="row" style="margin:0px; background-color: white;">
        <div  class="col-lg-1 col-md-1" style="padding:0px; height:6vh; line-height: 6vh; text-align: center; border-right: 1px solid #DBDEE0;">
          <span style="font-size: 12px;">All Discounts</span>
        </div>
        <div  class="col-lg-11 col-md-11" style="height:6vh;background-color:#F5F6F7; border-bottom: 1px solid #DBDEE0;">

        </div>
      </div>
      <div class="row" style="margin:0px; background-color: white; padding: 20px;">
        <div class="input-group">
          <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Filter Customers</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
          </div><!-- /btn-group -->
          <input type="text" class="form-control" aria-label="...">
        </div>
      </div>
      <div class="row" style="margin:0px; background-color: white;text-align: center;">
        <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
          <input type="checkbox">
        </div>
        <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
          NAME
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
          USED
        </div>
        <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
          USAGE LIMIT
        </div>
        <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
          START
        </div>
        <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
          END
        </div>
        <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
        </div>
      </div>
      <hr style="margin: 5px 2%">
      <div ng-repeat="promotion in promotions" class="row" style="margin:0px; background-color: white;text-align: center;padding: 1% 0%;">
        <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
          <input type="checkbox">
        </div>
        <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
          <a href="#" ng-click="edit_promotion($event, promotion)">{{promotion.name}}</a>
        </div>
        <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
          {{promotion.credits_count}}
        </div>
        <div ng-if="promotion.usage_limit!==null" class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
          {{promotion.usage_limit}}
        </div>
        <div ng-if="promotion.usage_limit==null" class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
          &infin;
        </div>
        <div ng-if="promotion.starts_at!==null" class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
          {{promotion.starts_at | date: 'shortDate'}}
        </div>
        <div ng-if="promotion.starts_at==null" class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
         -
        </div>
        <div ng-if="promotion.expires_at!==null" class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
          {{promotion.expires_at | date: 'shortDate'}}
        </div>
        <div ng-if="promotion.expires_at==null" class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
          -
        </div>
        <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
          <i href="#" class="fa fa-pencil-square-o" ng-click="edit_promotion($event, promotion)" style="font-size: 24px;color: #3276B1;cursor: pointer"></i>&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-trash-o" ng-click="delete_promotion(promotion, $index)" style="font-size: 24px;color: #F22823;cursor: pointer"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="position: absolute;width: 100%;bottom: 0;font-size: 30px;text-align: center; z-index: 3">
  <uib-alert style="margin-bottom: 0px !important"  ng-repeat="alert in alerts" type="{{alert.type}}" close="close_alert($index)" dismiss-on-timeout="3000">{{alert.message}}</uib-alert>
</div>
<script type="text/ng-template" id="delete_promotion.html">
  <div class="modal-header row " style="border-bottom: 1px solid #e5e5e5 !important;margin-left: 0px;margin-right: 0px">
      <h3 class="modal-title col-md-10 col-sm-10 col-xs-10 col-lg-10">Delete Discount "{{promo.code}}"?</h3>
      <span><i class="fa fa-close col-md-2 col-sm-2 col-xs-2 col-lg-2" style="cursor: pointer;text-align: right;font-size: 18px; margin-top: 2%;color: #807F7F"  ng-click="cancel()"></i></span>
  </div>
  <div class="modal-body" >
      <p>Are you sure you want to delete the discount "{{promo.code}} "? This action cannot be reversed.</p>
  </div>
  <div class="modal-footer" style="padding: 15px 20px 15px !important; margin-top: 0px !important">
      <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
      <button class="btn btn-danger" type="button" ng-click="delete()">Delete</button>
  </div>
</script>
