<div class="">
  <div class="col-lg-11 col-md-11" style="padding: 0px;">
    <div class="" ng-mouseleave="mouseleaveNav()">
      <div class="admin-sidebar-header"><h3 style="margin: 0px; padding: 10px 0px;">Luxire</h3></div>
      <div class="search admin-sidebar-tab" style="font-size:13px;" id="search" ng-click="globalSearch=true">Search</div>
      <div class="home admin-sidebar-tab" style="font-size:13px;" id="home" ng-click="go_to_state('admin.default')">Home</div>
      <div class="orders admin-sidebar-tab" style="font-size:13px;" id="orders" ng-click="go_to_state('admin.order')">Orders</div>
      <div class="products admin-sidebar-tab" style="font-size:13px;" ng-click="go_to_state('admin.product')">Products</div>
      <div class="customers admin-sidebar-tab" style="font-size:13px;" id="customers" ng-click="go_to_state('admin.customer')">Customers</div>
      <div class="reports admin-sidebar-tab" style="font-size:13px;" id="reports">Reports</div>
      <div class="discounts admin-sidebar-tab" style="font-size:13px;" id="discounts" ng-click="go_to_state('admin.discount')">Discounts</div>
      <div class="settings admin-sidebar-tab" style="font-size:13px;" id="settings" ng-click="go_to_state('admin.shipping_setting')">Settings</div>
      <div class="crm admin-sidebar-tab" style="font-size:13px;" id="crm" ng-click="go_to_crm()">Support</div>

    </div>
    <div class="admin-sidebar-tab" ng-init="popoverIsOpen=false" uib-popover-template="user_popover.templateUrl" popover-append-to-body="true"
     style="font-size:13px;position: fixed; bottom: 0px;width: 20%" id="settings"
      popover-is-open="popoverIsOpen" ng-click="popoverIsOpen = !popoverIsOpen">User</div>

  </div>
  <div class="col-lg-1 col-md-1" style="padding: 0px;">
    <div class="admin-sidebar-header"><h3 style="margin: 0px; padding: 10px 0px;">&nbsp;</h3></div>
    <div class="search admin-sidebar-tab" style="font-size:13px;" id="search"></div>
    <div class="home admin-sidebar-tab" style="font-size:13px;" id="home" ng-click="go_to_state('admin.default')"></div>
    <div class="orders admin-sidebar-tab" style="font-size:13px;" id="orders" ng-click="go_to_state('admin.order')"><i class="fa fa-chevron-right" style="font-size:11px;"></i></div>
    <div class="products admin-sidebar-tab" style="font-size:13px;" id="products" ng-click="go_to_state('admin.product')"><i class="fa fa-chevron-right" style="font-size:11px;"></i></div>
    <div class="customers admin-sidebar-tab" style="font-size:13px;" id="customers" ng-click="go_to_state('admin.customer')"></div>
    <div class="reports admin-sidebar-tab" style="font-size:13px;" id="reports"></div>
    <div class="discounts admin-sidebar-tab" style="font-size:13px;" id="discounts" ng-click="go_to_state('admin.discount')"></div>
    <div class="settings admin-sidebar-tab" style="font-size:13px;" id="settings" ng-click="go_to_state('admin.shipping_setting')"><i class="fa fa-chevron-right" style="font-size:11px;"></i></div>
    <div class="admin-sidebar-tab"  ng-click="popoverIsOpen = !popoverIsOpen" style="font-size:13px;position: fixed; bottom: 0px;margin-left: -0.5%" id="user" ><i class="fa fa-chevron-up" style="font-size:11px;padding-top: 1%; padding-right: 1%"></i></div>
  </div>
</div>
