<div class="col-lg-11 col-md-11" style="padding: 0px;">
  <div class="admin-sidebar-header"><h3 style="margin: 0px; padding: 10px 0px;">Luxire</h3></div>
  <div class="search admin-sidebar-tab" style="font-size:13px;" id="search">Search</div>
  <div class="home admin-sidebar-tab" style="font-size:13px;" id="home">Home</div>
  <div class="orders admin-sidebar-tab" style="font-size:13px;" id="orders" ui-sref="admin.order">Orders</div>
  <div class="products admin-sidebar-tab" style="font-size:13px;" ui-sref="admin.product">Products</div>
  <div class="customers admin-sidebar-tab" style="font-size:13px;" id="customers" ui-sref="admin.customer">Customers</div>
  <div class="reports admin-sidebar-tab" style="font-size:13px;" id="reports">Reports</div>
  <div class="discounts admin-sidebar-tab" style="font-size:13px;" id="discounts" ui-sref="admin.discount">Discounts</div>
  <div class="settings admin-sidebar-tab" style="font-size:13px;" id="settings" ui-sref="admin.shipping_setting">Settings</div>
</div>
<div class="col-lg-1 col-md-1" style="padding: 0px;">
  <div class="admin-sidebar-header"><h3 style="margin: 0px; padding: 10px 0px;">&nbsp;</h3></div>
  <div class="search admin-sidebar-tab" style="font-size:13px;" id="search"></div>
  <div class="home admin-sidebar-tab" style="font-size:13px;" id="home"></div>
  <div class="orders admin-sidebar-tab" style="font-size:13px;" id="orders" ui-sref="admin.order"><i class="fa fa-chevron-right" style="font-size:11px;"></i></div>
  <div class="products admin-sidebar-tab" style="font-size:13px;" id="products" ui-sref="admin.product"><i class="fa fa-chevron-right" style="font-size:11px;"></i></div>
  <div class="customers admin-sidebar-tab" style="font-size:13px;" id="customers" ui-sref="admin.customer"></div>
  <div class="reports admin-sidebar-tab" style="font-size:13px;" id="reports"></div>
  <div class="discounts admin-sidebar-tab" style="font-size:13px;" id="discounts" ui-sref="admin.discount"></div>
  <div class="settings admin-sidebar-tab" style="font-size:13px;" id="settings" ui-sref="admin.shipping_setting"><i class="fa fa-chevron-right" style="font-size:11px;"></i></div>
</div>
