<div class="container-fluid" style="height:100%" ng-init="">
  <div class="row" style="height: 3.3em; line-height: 3.3em; border-bottom: 1px solid #DBDEE0;">
    <div class="col-lg-4 col-md-4" style="text-align: left;font-size: 20px;">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-tag" style="font-size: 30px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:100;color:#928CA2;">Collections / <span style="color: black;">Add a Collection</span></span>
    </div>
    <div class="col-lg-5 col-md-5">

    </div>
    <div class="col-lg-3 col-md-3" style="text-align: right;">
      <button type="button" class="btn btn-default" ui-sref="admin.collectionHome">Cancel</button>
      <button type="button" class="btn btn-primary" ng-click="validate(); createTaxons() " ng-disabled="save_collection_btn">Create Collection</button>
    </div>
  </div>
  <div class="row" ng-show="loading" style="height: 93vh; width: 100%; background-color:white; opacity: 0.6; line-height: 93vh; text-align: center;z-index: 9999; padding: 0; margin: 0; position: absolute;">
    <img src="lib/assets/loader.gif" />
  </div>
  <!-- middle card -->
  <div class="row" style="height: 93vh;">
    <div class="container-fluid admin-console-content"><br>
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1"></div>
        <div class="col-lg-6 col-md-6 col-sm-6 middle-card">
          <div class="placard" ng-init="emptyNameMsg=false;">
            <span class="required" style="font-size: 13px;">Title</span>
            <br>
            <input id="name" type="text" class="form-control" placeholder="Add Title" ng-model="tagtitle" ng-blur="checkCollectionNameStatus(tagtitle)"
              autofocus>
            <br>
            <span style="font-size: 13px;">Description</span>
            <br>
            <div class="panel panel-default">
              <div class="panel-body">
                <textarea class="description" ng-model="tagdesc" rows="9" cols="40"></textarea>
              </div>
            </div>
            <div class="panel-body">
              <div class="">
                <span class="required">Select Taxonomies</span>
              </div>
              <div class="" id="select_options_taxonomie" ng-init="emptyTaxonsMsg=false;">
                <select id="taxons" class="form-control" ng-model="selectedTaxonomie" ng-change="selectedTaxonomieOption(selectedTaxonomie)"
                  ng-blur="checkCollectionTaxonsStatus(selectedTaxonomie)">
                <option value = "0" label = " ------- Please Select -------"></option>
                <option ng-repeat="taxonomie  in taxonomieJson.taxonomies" value=" {{ taxonomie.id }}" >
                    {{ taxonomie.name }}
                </option>
              </select>
                <span ng-show="emptyTaxonsMsg" style="color:red;"> Select Taxonomies Can Not Be Empty</span>
              </div>
            </div>
          </div>
          <div class="placard">
            <div style="margin-left:1.2%;">
              <span style="font-size: 20px;">Conditions</span>
            </div>
            <br>
            <tr><input type="radio" class="btn btn-default" name="conditionselect" ng-model="conditionselect" value="AutomaticSelection"
                ng-click="isCollapsed = false" ng-checked="true" />&nbsp Automatically select products based on conditions</input>
            </tr><br>
            <br>
            <div uib-collapse="isCollapsed">
              Products must match :&nbsp&nbsp&nbsp
              <input type="radio" name="numberOfConditions" ng-model="numberOfConditions" value="all" ng-checked="true" />&nbsp
              all conditions &nbsp&nbsp
              <input type="radio" name="numberOfConditions" ng-model="numberOfConditions" value="any" />&nbsp any condition
              <hr>
              <form class="form-inline" align="center">
                <div ng-repeat="ConditionArray in ArrayList track by $index">
                  <div align="center" class="form-group">
                    <select class="form-control" id="sel1" ng-model="ArrayList[$index].property" name="attribute" ng-change="changeCriteriaContents(ArrayList[$index].property, $index)"
                      ng-options="attribute for attribute in productAttribute" style="width: 10vw"></select>&nbsp&nbsp
                    <select class="form-control" ng-model="ArrayList[$index].criteria" name="criteria" ng-options="conditionSelect for conditionSelect in criteria[$index]"
                      style="width: 10vw"></select>&nbsp&nbsp
                    <input type="text" ng-model="ArrayList[$index].value" placeholder=" enter the value" id="valueBox" style="height:34px; width:10vw; border-radius:3px;"
                    />
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="DeleteArrayIndex()">
                    <span class="glyphicon glyphicon-trash text-primary"></span>
                    </button>&nbsp&nbsp<br>
                    <br>
                  </div>
                </div>
                <hr>
                <button type="button" class="btn btn-default" ng-click="ArrayAdd()" style="float: left"><i class="text-primary">Add another condition</i></button><br><br>
                <hr>
              </form>
            </div>
            <tr style="margin: 2%">
              <input type="radio" class="btn btn-default" name="conditionselect" ng-model="conditionselect" value="ManualSelection" ng-click="isCollapsed = true;" >&nbsp
              Manually select products</input>
            </tr>
            <div
              angucomplete-alt 
              id="products"
              key-property="id"
              placeholder="Search products"
              pause="200"
              selected-object="selectedObj"
              remote-url="{{ url }}"
              remote-url-data-field="products"
              clear-selected="true" 
              title-field="name"
              input-class="form-control form-control-small"
              field-required="name"
              template-url="search_template_product.html"
              match-class="highlight"
              >
            </div>
             <tags-input ng-model="tagsInput" display-property="name" key-property="id" add-from-autocomplete-only="true" on-tag-added="add_product_tag($tag)"
              on-tag-removing="beforeRemovingTagFunc($tag)" auto-complete style="margin: 1px; height: 5%">
            </tags-input>
            <!--<tags-input ng-model="selectedObj.title" display-property="title" key-property="id" add-from-autocomplete-only="true" on-tag-added="add_product_tag($tag)"
              on-tag-removed="remove_product_tag($tag)" auto-complete source="loadItems($query)" style="margin: 1px; height: 5%">
            </tags-input>-->
             <!--<tags-input ng-model="tagsInput" style="margin: 1px">
            </tags-input>-->

           <!--<tags-input ng-model="tags" 
                display-property="name" 
                placeholder="Add a product" 
                replace-spaces-with-dashes="false"
                template="search_template_product.html">
      <auto-complete source="loadCountries($query)"
                     min-length="0"
                     load-on-focus="true"
                     load-on-empty="true"
                     max-results-to-show="32"
                     template="autocomplete-template"></auto-complete>
    </tags-input>-->

          </div>
          <div class="placard" style="height: 30%; background-color: white;">
            <div>
              <span style="font-size: 25px;">Search engine listing preview  <a href="#" style="font-size: .5em; float:right;" ng-click="seoForm()">Edit website SEO</a></span>
            </div>
            <span>Add a title and description to see how this collection might appear in a search engine listing.</span>
            <hr>
            <div class="row" ng-show="seoform">
              <div class="form-group" style="margin-top: 2%;">
                <label for="usr">Page title</label>
                <input type="text" class="form-control" id="usr">
              </div>
              <div class="form-group" style="margin-top: 2%;">
                <label for="comment">Meta description</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>
              <div class="form-group" style="margin-top: 2%;">
                <label for="usr">URL and handle</label>
                <input type="text" class="form-control" id="usr">
              </div>
            </div>
          </div>
          <div style="text-align: right; float: right; align: inline-block">
            <hr>
            <button type="button" class="btn btn-default" ui-sref="admin.collectionHome">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="checkCollectionNameStatus(tagtitle); showDate(); createTaxons()"
              ng-disabled="save_collection_btn">Create Collection</button>
          </div>
        </div>
        <div class="col-lg-4 col-md-4">
          <div class="placard-grey" ng-init="calFlag = true" style="height: 20%; ">
            <span style="font-size: 20px;">
            Visibility
          </span>
            <hr>
            <div class="row">
              <div class="col-lg-10 col-md-10">
                <input type="checkbox" value="true"> <span style="font-size: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;Online store</span><br>
                <span ng-show="showdate">Will be published on : {{ day+", "+dt+" "+mon+" "+yr }}</span>
              </div>
              <div class="col-lg-2 col-md-2" style="text-align: right;">
              </div>
            </div>
            <div class="row" ng-hide="calFlag" style="-webkit-transition: all linear 0.5s; transition: all linear 0.5s; margin-top: 10px ">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Publish this collection on</span>
                <div>
                  <uib-datepicker data-ng-model="publishDate" min-date="minDate"></uib-datepicker>
                </div>
              </div>
            </div>
          </div>
          <div class="placard-grey" style="height: 100%; background-color: white;">
            <span style="font-size: 25px;">Collection Image</span><br><br>
            <div class="">
              <input type="file" name="name" ng-file-select ng-file-change="upload_image($files)" value="" ng-model="image">
              <div style="padding-top:5%;padding-bottom:5%; max-width:100%;"><img id="style_master_img" src="{{getImage(image)}}" alt="" style="max-width: 100%; max-height: 100%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="position: absolute;width: 100%;bottom: 0;font-size: 30px;text-align: center; z-index: 3">
    <uib-alert style="margin-bottom: 0px !important" ng-repeat="alert in alerts" type="{{alert.type}}" close="close_alert($index)"
      dismiss-on-timeout="3000">{{alert.message}}</uib-alert>
  </div>
</div>
<script type="text/ng-template" id="search_template_product.html">
    <div class="angucomplete-holder" ng-class="{'angucomplete-dropdown-visible': showDropdown}">
      <div class="input-group search-product" ng-class="{'input-focused': focused}">
        <input ng-model="searchStr"
        type="text"
        placeholder="Search for your product"
        ng-init="focused=false"
        ng-focus="onFocusHandler();focused=true"
        class="search-product"
        ng-focus="resetHideResults()"
        ng-blur="hideResults($event);focused=false"
        ng-change="inputChangeHandler(searchStr)" style="margin: 3%"/>
        <span class="input-group-addon search-product">
          <i class="fa fa-search text-primary"></i>
        </span>
      </div>
      <div class="angucomplete-dropdown" ng-show="showDropdown" style="border: solid 1px grey;border-top: none;">
        <div class="angucomplete-searching" ng-show="searching" ng-bind="textSearching"></div>
        <div class="angucomplete-searching" ng-show="!searching && (!results || results.length == 0)" ng-bind="textNoResults"></div>
        <div class="angucomplete-row" style="border-bottom: solid 1px grey;display: block;padding: 1%;text-align: left;font-weight: 500;cursor: pointer" ng-repeat="result in results track by $index | limitTo: 10"
          ng-click="selectResult(result)" ng-mouseenter="hoverRow($index)" >
          <div style="width: 10%;display: inline-block">
            <img id="fabric-image" style="max-width: 100%" ng-src="{{result.originalObject.master.images[0].small_url.indexOf('http')>-1?result.originalObject.master.images[0].small_url: 'http://luxire-store.cloudhop.in'+result.originalObject.master.images[0].small_url}}"/>
          </div>
          <div style="width: 85%;display: inline-block;vertical-align: top">
            <div style="display: inline-block" class="angucomplete-title" ng-if="matchClass" ng-bind-html="result.title"></div>
             <!--//span style="color: grey" ng-if="matchClass"> in </span-->
            <!--//span ng-if="matchClass">{{result.originalObject.product_type.product_type}}</span-->
            <div class="angucomplete-title" ng-if="!matchClass">{{result.title}}</div>
          </div>
        </div>
        <div ng-if="results.length>10" ui-sref="customer.search({name_cont: searchStr,taxonomy: '',page: 1})" style="border-bottom: solid 1px grey;display: block;padding: 1%;text-align: center;font-weight: 500;cursor: pointer">Load more..</div>
      </div>

    </div>
</script>