<style>
  .inline {
    display: inline-block;
  }
</style>

<div class="container-fluid" style="height:100%; overflow:scroll;">
  <div class="row" style="height: 3.3em; line-height: 3.3em; border-bottom: 1px solid #DBDEE0;">
    <div class="col-lg-9 col-md-9" style="text-align: left;font-size: 20px;">
      <i class="fa fa-tag" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:100;color:#928CA2;">Edit Collections / <span style="color: black;"></span>
      <span
        style="margin-left:1%;font-weight: normal">{{showTaxonName}}</span>
        </span>
    </div>
    <div class="col-lg-3 col-md-3" style="text-align: right;">
      <button type="button" class="btn btn-default" ui-sref="admin.collectionHome">Cancel</button>
      <button type="submit" class="btn btn-primary" ng-click="editTaxon(taxon); showUpdatedTaxon()">Save</button>
    </div>
  </div>
  <div class="row" style="">
    <div class="container-fluid admin-console-content">
      <div class="row">
        <div class="col-lg-7 col-md-7 middle-card">
          <div class="placard">
            <span class="required" style="font-size: 13px;">Title</span>
            <br>
            <input type="text" class="form-control" placeholder="" ng-model="taxonTitle" value={{taxonTitle}} />
            <br>
            <span style="font-size: 13px;">Description</span>
            <br>
            <div class="panel panel-default">
              <div class="panel-body">
                <textarea class="description" ng-model="taxonDesc" value={{taxonDesc}} rows="9" cols="40"></textarea>
              </div>
            </div>
          </div>
          <div class="placard">
            <div style="margin-left:1.2%;">
              <span style="font-size: 20px;">Products</span>
            </div>
            <div class="placard" style="height: 200px; width: 100%; overflow-y: scroll">

              <div class="row" style="margin-top: 2%;">
                <div class="col-lg-12 col-md-12" style="margin-left: 1%;">
                  <div class="row">
                    <div class="wrapper">
                      <div ng-repeat="tag in tagsArray track by $index" style="display: inline-block; border-style:solid; border-width: 1px; margin: 5px; cursor:pointer; width: 47%; height: 40%"
                        ui-sref="admin.edit_product({id: tag.id})">
                        <img height="100px" width="100px" ng-src="{{ tag.url }}" style="vertical-align:middle" />
                        <span style="word-wrap:break-word; height: 100px; width: 20%; font-size: 11px">{{ tag.name }}</span>
                      </div>&nbsp;&nbsp;
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="placard" style="height: 30%; background-color: white;">
            <div>
              <span style="font-size: 25px;">Search engine listing preview  <a href="#" style="font-size: .5em; float:right;" ng-click="seoForm()">Edit website SEO</a></span>
            </div>
            <span>Add a title and description to see how this collection might appear in a search engine listing.</span>
            <hr>
            <div class="row" ng-show="seoform">
              <div class="form-group" style="margin-top: 2%;">
                <label for="usr">Page title</label>
                <input type="text" class="form-control" id="usr">
              </div>
              <div class="form-group" style="margin-top: 2%;">
                <label for="comment">Meta description</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>
              <div class="form-group" style="margin-top: 2%;">
                <label for="usr">URL and handle</label>
                <input type="text" class="form-control" id="usr">
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-4 col-md-4">
          <div class="placard-grey" ng-init="calFlag = true" style="height: 20%; ">
            <span style="font-size: 20px;">
            Visibility
          </span>
            <hr>
            <div class="row">
              <div class="col-lg-10 col-md-10">
                <input type="checkbox" value="true"> <span style="font-size: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;Online store</span>

              </div>
              <div class="col-lg-2 col-md-2" style="text-align: right;">
                <i class="fa fa-calendar-o" style="color: #479CCF; float: right;cursor: pointer;" ng-click="calFlag = !calFlag"></i>
              </div>
            </div>
            <div class="row" ng-hide="calFlag" style="-webkit-transition: all linear 0.5s; transition: all linear 0.5s; margin-top: 10px">
              <div class="col-lg-12 col-md-12">
                <div class="row" ng-hide="calFlag" style="-webkit-transition: all linear 0.5s; transition: all linear 0.5s; margin-top: 10px ">
                  <div class="col-lg-12 col-md-12">
                    <span style="font-size: 13px;">Publish this collection on</span>
                    <div>
                      <datepicker data-ng-model="publishDate" min-date="minDate"></datepicker>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="placard-grey" style="height: 100%; background-color: white;">
            <span style="font-size: 25px;">Collection Image</span>
            <div style="">
              <input type="file" name="name" ng-file-select ng-file-change="upload_image($files)" value="" ng-model="image">
              <div style="padding-top:5%;padding-bottom:5%; max-width:100%;"><img id="style_master_img" ng-src="{{image}}" style="width: 50%; height: 50%;" /></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="position: absolute;width: 100%;bottom: 0;font-size: 30px;text-align: center; z-index: 3">
    <uib-alert style="margin-bottom: 0px !important" ng-repeat="alert in alerts" type="{{alert.type}}" close="close_alert($index)"
      dismiss-on-timeout="3000">{{alert.message}}</uib-alert>
  </div>
</div>