<style>
  .div-scroll {
    height: 40pc;
    overflow: scroll;
  }
</style>
<div class="container-fluid" style="height:100%">
  <div class="row" style="margin-left: 0px;height: 3.3em; line-height: 3.3em; border-bottom: 1px solid #DBDEE0;">
    <div class="col-lg-2 col-md-2" style="text-align: center;font-size: 20px;">
      <i class="fa fa-check-square" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:100;">Orders</span>
    </div>
    <div class="col-lg-10 col-md-10" style="text-align: right">
      <button type="button" class="btn btn-default" style="color: #3276b1;">Export</button>
      <button type="button" class="btn btn-primary" ui-sref="admin.new_order">Create order</button>
    </div>
  </div>
  <div class="row" ng-show="loading" style="height: 93vh; width: 100%; background-color:white; opacity: 0.6; line-height: 93vh; text-align: center;z-index: 9999; padding: 0; margin: 0; position: absolute;">
    <img src="lib/assets/loader.gif"/>
  </div>
  <div class="row" style="margin-left: 0px;height: 93vh;">
    <div class="container-fluid admin-console-content">
      <div class="row" style="margin:0px; background-color: white; border: 1px solid #DBDEE0;">
        <div class="row" style="margin:0px; background-color: white;">
          <uib-tabset active="active">
            <uib-tab index="$index + 1" ng-repeat="order_tab in order_tabs" heading="{{order_tab.title}}" ng-click="set_active_order_tab_id(order_tab.id)">
            </uib-tab>
          </uib-tabset>
          <!-- <div  class="col-lg-1 col-md-1" style="padding:0px; height:6vh; line-height: 6vh; text-align: center; border-right: 1px solid #DBDEE0;">
            <span style="font-size: 12px;">All orders</span>
          </div> -->
          <!-- <div  class="col-lg-1 col-md-1" style="padding:0px; height:6vh; background-color:#F5F6F7; line-height: 6vh; text-align: center; border-right: 1px solid #DBDEE0; border-bottom: 1px solid #DBDEE0;">
            <span style="font-size: 12px;">Open</span>
          </div>
          <div  class="col-lg-1 col-md-1" style="padding:0px; height:6vh; background-color:#F5F6F7; line-height: 6vh; text-align: center; border-right: 1px solid #DBDEE0; border-bottom: 1px solid #DBDEE0;">
            <span style="font-size: 12px;">Unfulfilled</span>
          </div>
          <div  class="col-lg-1 col-md-1" style="padding:0px; height:6vh; background-color:#F5F6F7; line-height: 6vh; text-align: center; border-right: 1px solid #DBDEE0; border-bottom: 1px solid #DBDEE0;">
            <span style="font-size: 12px;">Unpaid</span>
          </div> -->
          <!-- <div  class="col-lg-8 col-md-8" style="height:6vh;background-color:#F5F6F7; border-bottom: 1px solid #DBDEE0;">

          </div> -->
        </div>
        <div class="row" style="margin:0px; background-color: white; padding: 20px 20px 0px 20px;">
          <div class="input-group">
            <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Filter Customers</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
            </div><!-- /btn-group -->
            <input type="text" class="form-control" ng-model="searchText" ng-keyup="searchByName(searchText)" aria-label="...">
          </div>
        </div>
        <div class="row div-scroll" when-scrolled="load_more_orders()" style="margin:0px; background-color: white; padding: 0px 20px;">
          <table class="table table-hover admin-product-list">
            <thead >
              <tr>
                <th style="text-align: center">
                  <input type="checkbox" name="selectAll" value="">
                </th>
                <th style="text-align: center">
                  Number
                </th>
                <th style="text-align: center">
                  Customer
                </th>
                <th style="text-align: center">
                  State
                </th>
                <th style="text-align: center">
                  Payment status
                </th>
                <th style="text-align: center">
                  Fulfillment status
                </th>
                <th style="text-align: center">
                  Total
                </th>
              </tr>
            </thead>
            <tbody >
              <tr ng-repeat="order in orders " ng-mouseover="show_order_details($event, order, $index)">
                <td style="text-align: center">
                  <input type="checkbox" name="selectAll" value="">
                </td>
                <td style="text-align: center">
                  <!-- <a href="#"
                    uib-popover-template="order_details_popover.templateUrl"
                    popover-title="{{'Order '+active_order.number}}"
                    popover-placement="top"
                    popover-trigger="mouseenter"
                    popover-animation="true"
                    ng-click="show_order($event, order)">
                    {{order.number}}
                  </a> -->
                  <a href="#"

                    ng-click="show_order($event, order)">
                    {{order.number}}
                  </a>
                  <!-- <a href="#" ng-mouseover="show_order_details($event, order, $index)" ng-click="show_order_details($event, order, $index)">
                    {{order.number}}
                  </a -->
                </td>
                <td style="text-align: center">
                  <a href="#" ng-click="$event.preventDefault()">{{order.email}}</a>
                </td>
                <td style="text-align: center">
                  <div style="color: white;background: {{order.state==='complete'?'#7DB942':'#F8D053'}};line-height: 200%;margin: 20% 12%;border-radius: 15px">
                    {{order.state}}
                  </div>
                </td>
                <td style="text-align: center">
                  <div style="color: white;background: {{order.payment_state == 'paid'? '#7DB942': '#F8D053'}};line-height: 200%;margin: 12% 12%;border-radius: 15px">
                    {{order.payment_state == null? 'balance due': order.payment_state}}
                  </div>
                </td>
                <td style="text-align: center">
                  <div style="color: white;background: {{order.shipment_state == 'ready'? '#7DB942': '#F8D053'}};line-height: 200%;margin: 11% 12%;border-radius: 15px">
                    {{order.shipment_state == null? 'pending': order.shipment_state}}
                  </div>
                </td>
                <td style="text-align: center">
                  {{order.display_total}}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="" infinite-scroll="load_more_orders()" infinite-scroll-distance="2">

          </div>
        </div>

      </div>
    </div>

  </div>
</div>
<script type="text/ng-template" id="order_details_modal.html">
      <div class="modal-header">
        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h3 class="modal-title">Order {{order.number}}</h3>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: right">
            <button class="btn btn-primary" ng-click="print_order_sheet()">
              Generate order sheet
            </button>
          </div>


        </div>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
          <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>
</script>
<script type="text/ng-template" id="order_details_popover.html">
  <div>
    {{order_obj.number}}
  </div>
</script>
