<div class="container-fluid" style="height:100%">
  <div class="row" style="margin-left: 0px;height: 3.3em; line-height: 3.3em; border-bottom: 1px solid #DBDEE0;" print-remove>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: left;font-size: 20px;">
      <i class="fa fa-check-square" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:100;">Orders/ {{order_id}} </span>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right">
      <button type="button" class="btn btn-default" style="color: #3276b1;" print-btn>Print Order</button>
    </div>

  </div>
  <style media="screen">
    #order_sheet_outer_area{
      margin-left: 0px;
      height: 93vh;
    }
  </style>
  <style >
    table {
      border-collapse: collapse;
    }

    table, th, td {
      border: 1px solid black;
      padding: 0% 0.5%;

    }
  </style>

  <div id="order_sheet_outer_area" class="row" style="">
    <!-- /*border: 1px solid #DBDEE0;*/ -->
    <div class="container-fluid admin-console-content">
      <div id="order_sheet_data" class="row" style="margin:0% 0% 0% 1.5%; background-color: white; border: 1px solid #DBDEE0;" >
        <div class="row" print-section style="margin: 2% 2%">
          <div class="row">
            <div class="col col-md-4 col-lg-4 col-sm-4 col-xs-4">
              <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px" >
                Customer:<br>
              </p>
              <p style="display: inline-block;font-size: 14px;" >
                {{order_details.email}}<br>
              </p>
            </div>
            <div class="col col-md-4 col-lg-4  col-sm-4 col-xs-4">
              <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px" >
                Order No:
              </p>
              <p style="display: inline-block;font-size: 14px; margin-bottom: 5px" >
                {{order_details.number}}
              </p>
            </div>
            <div class="col col-md-4 col-lg-4  col-sm-4 col-xs-4">
              <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px" >
                Date:
              </p>
              <p style="display: inline-block;font-size: 14px; margin-bottom: 5px" >
               {{order_details.updated_at | date: 'short'}}
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-4 col-lg-4">
              <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px" >
                Items:
              </p>
              <p style="display: inline-block;font-size: 14px; margin-bottom: 5px" >
                1S
              </p>
            </div>
            <div class="col col-md-4 col-lg-4">

            </div>
            <div class="col col-md-4 col-lg-4">

            </div>
          </div>
          <hr style="width: 100%;margin-top: 5px;margin-bottom: 5px; border-top: solid 1px black">
          <div class="row" ng-repeat="line_item in luxire_order.line_items">
            <div class="row">
              <div class="col col-md-8 col-lg-8  col-sm-8 col-xs-8">
                <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px" >
                  Fabric:
                </p>
                <p style="display: inline-block;font-size: 14px;" >
                  {{line_item.variant.name}}
                </p>
              </div>

              <div class="col col-md-4 col-lg-4  col-sm-4 col-xs-4">
                <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px" >
                  Sku:
                </p>
                <p style="display: inline-block;font-size: 14px; margin-bottom: 5px" >
                  {{line_item.variant.sku}}
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-8 col-lg-8  col-sm-8 col-xs-8">
                <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px" >
                  Pattern:
                </p>
                <p style="display: inline-block;font-size: 14px;" >

                </p>
              </div>
              <!-- <div class="col col-md-4 col-lg-4">

              </div> -->
              <div class="col col-md-4 col-lg-4  col-sm-4 col-xs-4">
                <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px" >
                  Rack:
                </p>
                <p style="display: inline-block;font-size: 14px; margin-bottom: 5px" >

                </p>
              </div>
            </div>
            <hr style="width: 100%;margin-top: 5px;margin-bottom: 5px; border-top: solid 1px black">
              <div class="row" >
                <div class="col col-md-4 col-lg-4  col-sm-4 col-xs-4">
                  <img id="order_sheet_prod_img" style="max-width: 30%;margin-left: 30%;margin-top: 5%" src="{{getImage(line_item.variant.images[0].small_url)}}" alt="product_image" />
                </div>
                <div class="col col-md-4 col-lg-4  col-sm-4 col-xs-4" style="margin-left: 1.2%">
                  <qrcode version="5" error-correction-level="Q" size="125" data="{{window.location.href+'/'+luxire_order.number}}"></qrcode>
                </div>
                <div class="col col-md-4 col-lg-4">

                </div>
              </div>
            <hr style="width: 100%;margin-top: 5px;margin-bottom: 5px; border-top: solid 1px black">
            <div class="row" >
                <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px;" >
                  Note: {{luxire_order.special_instructions}}
                </p>
              <div class="col col-md-4 col-lg-4">

              </div>


            </div>

            <div class="row" >
              <div class="col col-md-4 col-lg-4  col-sm-4 col-xs-4">

              </div>
              <div class="col col-md-4 col-lg-4  col-sm-4 col-xs-4" style="margin-left: 4%">
                <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px;" >
                  STYLING
                </p>
              </div>
              <div class="col col-md-4 col-lg-4">

              </div>


            </div>
            <!--Collar-->
            <div style="margin-top: 2%" ng-if="line_item.luxire_line_item && line_item.luxire_line_item.customized_data" class="row" ng-repeat="(attribute,val) in line_item.luxire_line_item.customized_data">
              <div class="row" style="margin-left: 0px">
                <div class="col col-md-4 col-lg-4">
                  <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px" >
                    {{attribute}} style:
                  </p>
                  <p style="display: inline-block;font-size: 14px; margin-bottom: 5px" >
                    {{val.value}}
                  </p>
                </div>
              </div>
              <div class="row" style="margin-left: 0px">
                <div class="col col-md-4 col-lg-4" >
                  <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px" >
                    Other Details:
                  </p>
                  <p style="display: inline-block;font-size: 14px; margin-bottom: 5px" >
                  </p>
                </div>
              </div>
              <div class="row" style="margin-left: 2%">
                <table >
                  <thead>
                    <tr>
                      <td ng-repeat="(key,value) in val.options">{{key}}</td>
                      <!-- <td>Spread</td>
                      <td>Tie Space</td>
                      <td>N B Ht Back</td>
                      <td>N B Ht Front</td>
                      <td>Collar Ht Back</td>
                      <td>Side curve</td>
                      <td>N B Const</td>
                      <td>Collar Const</td> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr style="text-align: center">
                      <td ng-repeat="(key,value) in val.options">
                        <p ng-if="value">
                          {{value}}
                        </p>
                        <p ng-if="!value">
                          &nbsp;
                        </p>
                      </td>

                      <!-- <td>{{collar_details.points}}</td>
                      <td>{{collar_details.spread}}</td>
                      <td>{{collar_details.tie_space}}</td>
                      <td>{{collar_details.nb_ht_back}}</td>
                      <td>{{collar_details.nb_ht_front}}</td>
                      <td>{{collar_details.collar_ht}}</td>
                      <td>{{collar_details.side_curve}}</td>
                      <td>{{collar_details.nb_const}}</td>
                      <td>{{collar_details.collar_const}}</td> -->
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

          <hr style="width: 100%;margin-top: 2px;margin-bottom: 0px; border-top: solid 1px black">
          <div class="row" style="padding-top: 1%">
            <div class="col col-md-4 col-lg-4 col-sm-4 col-xs-4">
              <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px" >
                Contrasts:
              </p>
              <p style="display: inline-block;font-size: 14px; margin-bottom: 5px" >

              </p>
            </div>
          </div>

          <div class="row" style="margin-left: 0px !important">
            <table >
              <thead>
                <tr>
                  <td>SPI</td>
                  <td>Contrast</td>
                  <td>Buttons</td>
                  <td>Hand Kaja</td>
                  <td>Thread Collar</td>
                  <td>Kaja Collar</td>
                </tr>
              </thead>
              <tbody>
                <tr  style="text-align: center">
                  <td>&nbsp;&nbsp;</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>

                </tr>
              </tbody>
            </table>
          </div>
          <!-- <div class="row" style="padding-top: 1%">
            <div class="col col-md-4 col-lg-4 col-sm-4 col-xs-4">
              <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px" >
                Contrast:
              </p>
              <p style="display: inline-block;font-size: 14px; margin-bottom: 5px" >

              </p>
            </div>
          </div>
          <div class="row" style="margin-left: 0px !important">
            <table >
              <thead>
                <tr>
                  <td>Collar Back</td>
                  <td>Collar Front</td>
                  <td>NB Inside</td>
                  <td>NB Outside</td>
                  <td>Placket Btn</td>
                  <td>Placket Kaja</td>
                  <td>Cuff Out</td>
                  <td>Cuff In</td>
                </tr>
              </thead>
              <tbody>
                <tr  style="text-align: center">
                  <td>&nbsp;&nbsp;</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>


 -->
          <div class="row" style="padding-top: 1%">
            <div class="col col-md-4 col-lg-4 col-sm-4 col-xs-4">
              <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px" >
                Measurements:
              </p>
              <p style="display: inline-block;font-size: 14px; margin-bottom: 5px" >

              </p>
            </div>
          </div>
          <div ng-if="line_item.luxire_line_item && line_item.luxire_line_item.measurement_data" class="row" style="margin-left: 0px !important; padding-top: 1%">
            <table >
              <thead>
                <tr>
                  <td ng-repeat="(std_attr,val) in line_item.luxire_line_item.measurement_data.standard_measurement_attributes">
                    {{std_attr}}
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr  style="text-align: center">
                  <td ng-repeat="(std_attr,val) in line_item.luxire_line_item.measurement_data.standard_measurement_attributes">
                    <p ng-if="val.value">{{val.value}}</p>
                    <p ng-if="!val.value">&nbsp;</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div  ng-if="line_item.luxire_line_item && line_item.luxire_line_item.measurement_data" class="row" style="margin-left: 0px !important;padding-top: 1%">
            <table >
              <thead>
                <tr>
                  <td ng-repeat="(body_attr,val) in line_item.luxire_line_item.measurement_data.body_measurement_attributes">
                    {{body_attr}}
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr  style="text-align: center">
                  <td ng-repeat="(body_attr,val) in line_item.luxire_line_item.measurement_data.body_measurement_attributes">
                    <p ng-if="val.value">{{val.value}}</p>
                    <p ng-if="!val.value">&nbsp;</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="row" style="padding-top: 1%">
            <div class="col col-md-4 col-lg-4 col-sm-4 col-xs-4">
              <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px" >
                Customer:
              </p>
              <p style="display: inline-block;font-size: 14px; margin-bottom: 5px" >

              </p>
            </div>
          </div>
          <div class="row" style="padding-top: 1%">
            <div class="col col-md-4 col-lg-4 col-sm-4 col-xs-4" style="font-size: 12px; font-weight: 500">
              <p style="margin-bottom: 0px" ng-if="luxire_order.bill_address && luxire_order.bill_address.full_name">{{luxire_order.bill_address.full_name}}</p>
              <p style="margin-bottom: 0px" ng-if="luxire_order.bill_address && luxire_order.bill_address.address1">{{luxire_order.bill_address.address1}}</p>
              <p style="margin-bottom: 0px" ng-if="luxire_order.bill_address && luxire_order.bill_address.address2">{{luxire_order.bill_address.address2}}</p>
              <p style="margin-bottom: 0px" ng-if="luxire_order.bill_address && luxire_order.bill_address.city">{{luxire_order.bill_address.city}}</p>
              <p style="margin-bottom: 0px" ng-if="luxire_order.bill_address && luxire_order.bill_address.state">{{luxire_order.bill_address.state.name}}</p>
              <p style="margin-bottom: 0px" ng-if="luxire_order.bill_address && luxire_order.bill_address.country">{{luxire_order.bill_address.country.name}}</p>
              <p style="margin-bottom: 0px" ng-if="luxire_order.bill_address && luxire_order.bill_address.zipcode">{{luxire_order.bill_address.zipcode}}</p>
              <p style="margin-bottom: 0px" ng-if="luxire_order.bill_address && luxire_order.bill_address.phone">{{luxire_order.bill_address.phone}}</p>
            </div>
          </div>

          <div class="row" style="padding-top: 1%;margin-left: 0px">
            <table >
              <thead>
                <tr>
                  <td>Order Sheet</td>
                  <td>Pattern</td>
                  <td>Fabric</td>
                  <td>Tailor</td>
                  <td>QA</td>
                  <td>Final Checking</td>
                </tr>
              </thead>
              <tbody>
                <tr  style="text-align: center">
                  <td>&nbsp;&nbsp;</td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>
                  <td> </td>

                </tr>
              </tbody>
            </table>
          </div>

          <!-- <div ng-repeat="(key, value) in order_details">
            {{key}}: {{value}}
          </div> -->
        </div>

      </div>
    </div>
  </div>
</div>
<!-- <div class="row" style="padding-top: 1%">
  <div class="col col-md-3 col-lg-3 col-sm-3 col-xs-3">
    <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px" >
      Initials:
    </p>
    <p style="display: inline-block;font-size: 14px; margin-bottom: 5px" >
      {{order_details.luxire_order.personalize_data["Monogram"] !== undefined ?order_details.luxire_order.personalize_data["Monogram"]["Initials"]:""}}
    </p>
  </div>
  <div class="col col-md-3 col-lg-3 col-sm-3 col-xs-3">
    <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px" >
      Font:
    </p>
    <p style="display: inline-block;font-size: 14px; margin-bottom: 5px" >
      {{order_details.luxire_order.personalize_data["Monogram"] !== undefined ?order_details.luxire_order.personalize_data["Monogram"]["Font"]:""}}
    </p>
  </div>
  <div class="col col-md-3 col-lg-3 col-sm-3 col-xs-3">
    <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px" >
      Location:
    </p>
    <p style="display: inline-block;font-size: 14px; margin-bottom: 5px" >
      {{order_details.luxire_order.personalize_data["Monogram"] !== undefined ?order_details.luxire_order.personalize_data["Monogram"]["Location"]:""}}

    </p>
  </div>
  <div class="col col-md-3 col-lg-3 col-sm-3 col-xs-3">
    <p style="display: inline-block;font-size: 16px; font-weight: 500;margin-bottom: 5px" >
      Color:
    </p>
    <p style="display: inline-block;font-size: 14px; margin-bottom: 5px" >
      {{order_details.luxire_order.personalize_data["Monogram"] !== undefined ?order_details.luxire_order.personalize_data["Monogram"]["Color"]:""}}

    </p>
  </div>
</div> -->
