<div ng-repeat="(product_type_name,product_type) in product_types">
  <div class="product-type-header">{{product_type_name.toUpperCase()}}</div>
  <div class="attributes-section" ng-repeat="(attribute_type_name,attributes) in product_type">
    <div class="attribute-type-header">
      {{attribute_type_name.toUpperCase()}}
    </div>
    <div id="{{id_generator(attribute_name, attribute_type_name)}}" class="attrribute-section" ng-repeat="(attribute_name,attribute) in attributes">
      <div style="margin: 1%; padding: 1%;border: solid 1px grey">
        <div class="row" style="margin-left: 0px; margin-right: 0px">
          <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <uib-carousel >
              <uib-slide ng-repeat="attribute_image in attribute.images">
                <img ng-cloak style="max-width: 100%;margin:auto" src="{{attribute_image.url}}" alt="{{attribute_image.ref}}" />
              </uib-slide>
            </uib-carousel>
          </div>
          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
            <div class="" style="text-align: center; font-size: 200%;margin-top: 3%">
              {{attribute['title'] +' - '+ attribute_type_name}}<span ng-if="attribute.alias">&nbsp;({{attribute['alias']}})</span>
            </div>
            <hr ng-if="attribute['description']">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <p class="attr-desc" style="font-weight: 400; color: grey">
                {{attribute['description']}}
              </p>
            </div>
            <hr style="width: 100%">
            <div class="row" style="margin:0">
              <div class="col-xs-7 col-sm-7 col-md-6 col-lg-7">
                <div class="attribute-properties" ng-repeat="(property_name, property_value) in attribute['properties']">
                  <span style="font-weight: 300;color: grey">{{property_name}}: </span>&nbsp;&nbsp;<span>{{property_value}}</span>
                  <hr style="margin-top: 5px; margin-bottom: 5px">
                </div>
              </div>

            </div>

            <div ng-if="attribute['table-view'] && !isArray(attribute['table-view']) && attribute['table-view']['body']"  class="row" style="margin: 1% 0">
              <div ng-repeat="(table_attr_name,table_attr) in attribute['table-view']['body']" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h6>{{table_attr_name}}</h6>
                <div class="attribute-properties" ng-repeat="(property_name, property_value) in table_attr">
                  <span style="font-weight: 300;color: grey">{{property_name}}: </span>&nbsp;&nbsp;<span>{{property_value}}</span>
                  <hr style="margin-top: 5px; margin-bottom: 5px">
                </div>

              </div>

            </div>
            <div ng-if="attribute['table-view'] && isArray(attribute['table-view'])" ng-repeat="table_view in attribute['table-view']" class="row" style="margin: 0">
              <span ng-if="table_view.title"><h5>{{table_view.title}}</h5></span>
              <div ng-repeat="(table_attr_name,table_attr) in table_view['body']" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <h6>{{table_attr_name}}</h6>
                <div class="attribute-properties" ng-repeat="(property_name, property_value) in table_attr">
                  <span style="font-weight: 300;color: grey">{{property_name}}: </span>&nbsp;&nbsp;<span>{{property_value}}</span>
                  <hr style="margin-top: 5px; margin-bottom: 5px">
                </div>

              </div>

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

</div>
