<div class="row container" style="margin-top: 5%;">

  <div class="col-md-4 col-md-4 col-sm-4 " style="background-color:azure; height:100%;">
    <span style="margin-left: 5%; font-size:20px; font-weight: bold;">Filter products options</span>
    <div class="row" style="margin-left: 5%;margin-top: 5%;">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                      <input type="checkbox" ng-model="check1" ng-value="blue" ng-true-value="'true'" ng-false-value="'false'" ng-click="filterColor('blue')">
                    </td>
                    <td>
                      <span>blue</span>
                    </td>
                    <td>
                      <div style="height:25px; width:25px; background-color:blue;"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                      <input type="checkbox" ng-model="check2" ng-value="red" ng-true-value="'red'" ng-false-value="'false'" ng-click="filterColor('red')">
                    </td>
                    <td>
                      <span>red</span>
                    </td>
                    <td>
                      <div style="height:25px; width:25px; background-color:red;"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                      <input type="checkbox" ng-model="check3" ng-value="green" ng-true-value="'green'" ng-false-value="'false'" ng-click="filterColor('green')">
                    </td>
                    <td>
                      <span>green</span>
                    </td>
                    <td>
                      <div style="height:25px; width:25px; background-color:green;"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                      <input type="checkbox" ng-model="check4" ng-value="yellow" ng-true-value="'yellow'" ng-false-value="'false'" ng-click="filterColor('yellow')">
                    </td>
                    <td>
                      <span>yellow</span>
                    </td>
                    <td>
                      <div style="height:25px; width:25px; background-color:yellow;"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                      <input type="checkbox" ng-model="check5" ng-value="white" ng-true-value="'white'" ng-false-value="'false'" ng-click="filterColor('white')">
                    </td>
                    <td>
                      <span>white</span>
                    </td>
                    <td>
                      <div style="height:25px; width:25px; background-color:white;"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                      <input type="checkbox" ng-model="check6" ng-value="black" ng-true-value="'black'" ng-false-value="'black'" ng-click="filterColor('black')">
                    </td>
                    <td>
                      <span>black</span>
                    </td>
                    <td>
                      <div style="height:25px; width:25px; background-color:black;"></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div style="margin-top:5%;">
          <span>{{check1}}</span>
          <span>{{check2}}</span>
          <span>{{check3}}</span>
          <span>{{check4}}</span>
          <span>{{check5}}</span>
        </div>
        <hr>
        <div>

        </div>


    </div>
  </div>


  <div class="col-md-8 col-md-8 col-sm-8 container-fluid" style="background-color:azure;height:100%;">
    <div>
      <input type="text" class="form-control" id="usr" ng-model="search.$" placeholder="search product..">
    </div>
    <div class="row" style="margin:0px; background-color: white; padding: 20px;">
      <table class="table table-hover admin-product-list">
        <thead>
          <tr>
            <th>
              Id
            </th>
            <th>
              Name
            </th>
            <th>
              price
            </th>
            <th>
              Image
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="x in productDesc | filter:search">
              <td>
                {{x.id}}
              </td>
              <td>
                {{x.name}}
              </td>
              <td>
                {{x.price}}
              </td>
              <td>
                <img ng-src="{{x.imgurl}}" alt="Description" />

              </td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
