/*Modal*/
.address_modal{
  margin-top: 5%;
}
.modal.in .modal-dialog{
  width: 38%;
}
#address_modal_header{
  margin-top: 3%;
  border-bottom: solid 1px grey;
}
#address_modal_footer{
  padding-top: 3%;
  padding-bottom: 2%;
  border-top: solid 1px grey;
}
.row.row1{
  margin-left: 0px !important;
	margin-right: 0px !important;
}
.error-message{
  background-color: #F2DEDE;
  color: #B44842;
  padding: 2% 2%;
  border-radius: 10px;
}
