<style>
#select-button-width-change{
  width: 32%;
}
</style>
<script type="text/ng-template" id="deleteModal.html">
  <div class="modal-header">
      <h3 class="modal-title" id="modal-title">Warning!!</h3>
    </div><hr />
    <div class="modal-body" id="modal-body">
      You are going to delete the taxonomy!!
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
      <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>

<div class="container-fluid" style="height:100%" >
  <div class="row" style="margin-left: 0px;height: 3.3em; line-height: 3.3em; border-bottom: 1px solid #DBDEE0;">
    <div class="col-lg-6 col-md-6" style="text-align: left;font-size: 20px;">
      <i class="fa fa-tag" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:100;color:#928CA2;">Taxonomies</span>
    </div>

    <div class="col-lg-2 col-md-2">

    </div>
    <div class="col-lg-4 col-md-4" style="text-align: right;">

      <button type="button" class="btn btn-primary" ui-sref="admin.addTaxonomy">Add a Taxonomy</button>
    </div>
    <div class="row" ng-show="loading" style="height: 93vh; width: 100%; background-color:white; opacity: 0.6; line-height: 93vh; text-align: center;z-index: 9999; padding: 0; margin: 0; position: absolute;">
      <img src="lib/assets/loader.gif"/>
    </div>
  </div>



  <div class="row" style="margin-left: 0px;height: 93vh;">
    <div class="container-fluid admin-console-content">
      <div class="row" style="margin:0px; background-color: white; border: 1px solid #DBDEE0;">
        <div class="row" style="margin:0px; background-color: white;">
          <div  class="col-lg-2 col-md-2" style="padding:0px; height:6vh; line-height: 6vh; text-align: center; border-right: 1px solid #DBDEE0;">
            <span style="font-size: 12px;">All Taxonomies</span>
          </div>
          <div  class="col-lg-10 col-md-10" style="height:6vh;background-color:#F5F6F7; border-bottom: 1px solid #DBDEE0;">

          </div>
        </div>
        <div class="row" style="margin:0px; background-color: white; padding: 20px; padding-left:2%;">
          <div class="left-inner-addon">
            <i class="fa fa-search"></i>
            <input type="text" ng-model="searchText" class="form-control" aria-label="..." placeholder="Start typing to search for taxonomies..">
          </div>
        </div>
        <div class="row " style="margin:0px; background-color: white; padding: 20px;">
          <div class="row" ng-show="filteredResults.length == 0 && loading == false" style="padding-top:2%;padding-bottom:2%;">
             <div class="" style="color:black; font-size:120%;">
               <center>Data not Found</center>
              </div>
          </div>
        <div ng-show="!(filteredResults.length == 0)">


          <div class="row" style="margin:0px; background-color: white;text-align: left;">
            <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
              <input type="checkbox">
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
              Taxonomy
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
              <!-- Category -->
            </div>
          </div>
          <hr style="margin: 5px 2%">
          <div ng-repeat="taxonomy in taxonomyData  | filter: { name: searchText } as filteredResults" class="row" style="margin:0px; background-color: white;text-align: left;padding: 1% 0%;">
            <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1" style="margin-top: 2%">
              <input type="checkbox">
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 " style="margin-top: 2%">
              <a ui-sref="admin.editTaxonomy" ng-click="showEditTaxonomies(taxonomy.id)" >{{taxonomy.name}}</a>

            </div>
            <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3" >
            </div>
            <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3" style="margin-top: 2%">

            </div>

            <div class="col-md-2 col-xs-2 col-sm-2 col-lg-2" style="margin-top: 2%">
              <i href="#" class="fa fa-pencil-square-o" ng-click="showEditTaxonomies(taxonomy.id)" style="font-size: 24px;color: #3276B1;cursor: pointer"></i>&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fa fa-trash-o" ng-click="deleteTaxonomy(taxonomy.id,$index)" style="font-size: 24px;color: #F22823;cursor: pointer"></i>
            </div>
          </div>

        </div>
        </div>

      </div>
    </div>
  </div>
</div>
