#admin_side_menu{
  display: none;
}
#order_sheet_prod_img{
  max-width: 30%
}
body {
  padding: 0 2%;
  color:#000000;
  word-spacing: 1.1pt;
  font-family : "Times New Roman", Times, serif;
  text-align:left;
}
.admin-console-content {
	height: 100%;
	background-color: #EBEEF0;
	overflow-y: scroll;
	padding: 0 !important;
  position: relative;
}
#order_sheet_data{
  display: block;
  border: none !important;
  page-break-after: always !important;

}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  padding: 0% 0.3%;
}
@page {
   @bottom-left {
        content: counter(page) "/" counter(pages);
    }
 }
 .qrcode{
   width: 200px
 }
 .avoid-page-break-inside{
   page-break-inside:avoid !important;
   position: relative;
 }
 table.avoid-page-break-inside tr td, table.avoid-page-break-inside tr th {
   page-break-inside:avoid !important;
   position: relative;
   page-break-after: always !important;

 }
 table tr td, table tr th {
   page-break-inside:avoid !important;
   position: relative;
   page-break-after: always !important;

 }
