.carousel-collection{
  position: absolute;
  top:45%;
  left: 20%;
  font-size: 300%;
  width: 30%;
  text-align:left;
  font-weight: 100;
  color: #000000;
  font-family: Roboto;
}
.right.carousel-control, .left.carousel-control{
  background: transparent !important;
  background-image: none !important;
  padding-top: 20%;
}
#viewCollectionButton{
  border-radius: 0px;
  color: white;
  background-color: #8A247C;
  font-family: Roboto;
  font-weight: 100;
  width: 80%;
  font-size: 60%;
  border: none;
}
/*.click-baits{
  height: 1000px;
  background: linear-gradient(-90deg, #BFBFBF, #E2E2E2),
  url(../../../assets/images/customer/click-bait-model.png) no-repeat ;

  }*/
.click-baits{
  height: 200vh;
  position: relative;
  /*margin-top: -6%;*/
  background: url(../../../assets/images/customer/click-bait-image.png) no-repeat center !important;
}
.click-baits-new{
  position: relative;
  width: 100%;
}
.click-bait-collar{
  position: absolute;
  /*top: 26%;
  left: 48.5%;*/
  color: white;
  display: block;
}
.click-bait-attributes{
  position: absolute;
  color: white;
  display: block;
}
@keyframes pulse_animation_inner {
  /*0% { transform: scale(0.75); }
  10% { transform: scale(0.8); }
  20% { transform: scale(0.85); }
  30% { transform: scale(0.9); }
  40% { transform: scale(0.95); }
  50% { transform: scale(1.0); }
  60% { transform: scale(1.05); }
  70% { transform: scale(1.10); }
  80% { transform: scale(1.15); }
  90% { transform: scale(1.20); }
  100% { transform: scale(1.25); }*/
  0% { transform: scale(1); }
  10% { transform: scale(1.05); }
  20% { transform: scale(1.1); }
  30% { transform: scale(1.15); }
  40% { transform: scale(1.2); }
  50% { transform: scale(1.25); }
  60% { transform: scale(1.2); }
  70% { transform: scale(1.15); }
  80% { transform: scale(1.1); }
  90% { transform: scale(1.05); }
  100% { transform: scale(1); }
}
@-webkit-keyframes pulse_animation_inner {
  /*0% { transform: scale(0.75); }
  10% { transform: scale(0.8); }
  20% { transform: scale(0.85); }
  30% { transform: scale(0.9); }
  40% { transform: scale(0.95); }
  50% { transform: scale(1.0); }
  60% { transform: scale(1.05); }
  70% { transform: scale(1.10); }
  80% { transform: scale(1.15); }
  90% { transform: scale(1.20); }
  100% { transform: scale(1.25); }*/
  0% { transform: scale(1); }
  10% { transform: scale(1.05); }
  20% { transform: scale(1.1); }
  30% { transform: scale(1.15); }
  40% { transform: scale(1.2); }
  50% { transform: scale(1.25); }
  60% { transform: scale(1.2); }
  70% { transform: scale(1.15); }
  80% { transform: scale(1.1); }
  90% { transform: scale(1.05); }
  100% { transform: scale(1); }
}
@keyframes pulse_animation_outer {
  /*0% { transform: scale(0.75); }
  10% { transform: scale(0.8); }
  20% { transform: scale(0.85); }
  30% { transform: scale(0.9); }
  40% { transform: scale(0.95); }
  50% { transform: scale(1.0); }
  60% { transform: scale(1.05); }
  70% { transform: scale(1.10); }
  80% { transform: scale(1.15); }
  90% { transform: scale(1.20); }
  100% { transform: scale(1.25); }*/
  0% { transform: scale(1); }
  10% { transform: scale(1.05); }
  20% { transform: scale(1.1); }
  30% { transform: scale(1.15); }
  40% { transform: scale(1.2); }
  50% { transform: scale(1.25); }
  60% { transform: scale(1.2); }
  70% { transform: scale(1.15); }
  80% { transform: scale(1.1); }
  90% { transform: scale(1.05); }
  100% { transform: scale(1); }
}
@-webkit-keyframes pulse_animation_outer {
  /*0% { transform: scale(0.75); }
  10% { transform: scale(0.8); }
  20% { transform: scale(0.85); }
  30% { transform: scale(0.9); }
  40% { transform: scale(0.95); }
  50% { transform: scale(1.0); }
  60% { transform: scale(1.05); }
  70% { transform: scale(1.10); }
  80% { transform: scale(1.15); }
  90% { transform: scale(1.20); }
  100% { transform: scale(1.25); }*/
  0% { transform: scale(1); }
  10% { transform: scale(1.05); }
  20% { transform: scale(1.1); }
  30% { transform: scale(1.15); }
  40% { transform: scale(1.2); }
  50% { transform: scale(1.25); }
  60% { transform: scale(1.2); }
  70% { transform: scale(1.15); }
  80% { transform: scale(1.1); }
  90% { transform: scale(1.05); }
  100% { transform: scale(1); }
}
.click-bait-outer-circle{
  position: relative;
  display: block;
  top: 0%;
  left: 0%;
  width: 25px;
  height: 25px;
  border: solid 1px white;
  border-radius: 100%;
  animation-name: pulse_animation_outer;
	animation-duration: 3000ms;
	transform-origin:50% 50%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.click-bait-inner-circle{
  position: absolute;
  background-color: #8A247C;
  /*background-color: #F7F7F7;*/
  display: block;
  top: 21.4%;
  left: 23.1%;
  width: 15px;
  height: 15px;
  border: solid 1px white;
  border-radius: 100%;
  animation-name: pulse_animation_inner;
	animation-duration: 3000ms;
	transform-origin:50% 50%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes type{
  from { width: 0; }
}
.click-bait-connection{
  color: white;
  font-family: "Courier";
  font-size: 50%;

  margin: 0 ;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 13%;
  width: 100%;
  animation: type 0.5s steps(60, end);
}
.click-bait-connection:hover{
  animation: type 1s steps(60, end);
}
.click_bait-details{
  background-color: #FDFDFD;
  padding: 1%;
  color: black;
  text-align: center
}

/*p:nth-child(2){
  animation: type2 8s steps(60, end);
}*/



@keyframes type{
  from { width: 0; }
}
/*
@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}*/



.click-bait-pointer{
  cursor: pointer;
  position:absolute;
  display: block;
  top: 0px;
  left: 0px
}
.line{
  position: absolute;
  display: block;
  top: 10px;
  left: 7px;
}
.click-bait-info-section{
  position: absolute;
  top: 10%;
  left: 33vh;
  display: block;
}
@keyframes click-bait-text-animation {
  0% {
      opacity: 0.0;
      filter: alpha(opacity=0);
     }
  10% {
      opacity: 0.0;
      filter: alpha(opacity=00);
     }
  20% {
      opacity: 0.1;
      filter: alpha(opacity=10);
     }
  30% {
      opacity: 0.2;
      filter: alpha(opacity=20);
     }
  40% {
      opacity: 0.3;
      filter: alpha(opacity=30);
     }
  50% {
      opacity: 0.4;
      filter: alpha(opacity=40);
     }
  60% {
      opacity: 0.5;
      filter: alpha(opacity=50);
     }
  70% {
      opacity: 0.6;
      filter: alpha(opacity=60);
     }
  80% {
      opacity: 0.7;
      filter: alpha(opacity=70);
     }
  90% {
      opacity: 0.8;
      filter: alpha(opacity=80);
     }
  100% {
      opacity: 1;
      filter: alpha(opacity=100);
     }

  /*0% {
      opacity: 0.0;
      filter: alpha(opacity=0);
     }
  10% {
      opacity: 0.1;
      filter: alpha(opacity=10);
     }
  20% {
      opacity: 0.2;
      filter: alpha(opacity=20);
     }
  30% {
      opacity: 0.3;
      filter: alpha(opacity=30);
     }
  40% {
      opacity: 0.4;
      filter: alpha(opacity=40);
     }
  50% {
      opacity: 0.5;
      filter: alpha(opacity=50);
     }
  60% {
      opacity: 0.6;
      filter: alpha(opacity=60);
     }
  70% {
      opacity: 0.7;
      filter: alpha(opacity=70);
     }
  80% {
      opacity: 0.8;
      filter: alpha(opacity=80);
     }
  90% {
      opacity: 0.9;
      filter: alpha(opacity=90);
     }
  100% {
      opacity: 1;
      filter: alpha(opacity=100);
     }*/
}
@-webkit-keyframes click-bait-text-animation {
  0% {
      opacity: 0.0;
      filter: alpha(opacity=0);
     }
  10% {
      opacity: 0.0;
      filter: alpha(opacity=00);
     }
  20% {
      opacity: 0.1;
      filter: alpha(opacity=10);
     }
  30% {
      opacity: 0.2;
      filter: alpha(opacity=20);
     }
  40% {
      opacity: 0.3;
      filter: alpha(opacity=30);
     }
  50% {
      opacity: 0.4;
      filter: alpha(opacity=40);
     }
  60% {
      opacity: 0.5;
      filter: alpha(opacity=50);
     }
  70% {
      opacity: 0.6;
      filter: alpha(opacity=60);
     }
  80% {
      opacity: 0.7;
      filter: alpha(opacity=70);
     }
  90% {
      opacity: 0.8;
      filter: alpha(opacity=80);
     }
  100% {
      opacity: 1;
      filter: alpha(opacity=100);
     }

  /*0% {
      opacity: 0.0;
      filter: alpha(opacity=0);
     }
  10% {
      opacity: 0.1;
      filter: alpha(opacity=10);
     }
  20% {
      opacity: 0.2;
      filter: alpha(opacity=20);
     }
  30% {
      opacity: 0.3;
      filter: alpha(opacity=30);
     }
  40% {
      opacity: 0.4;
      filter: alpha(opacity=40);
     }
  50% {
      opacity: 0.5;
      filter: alpha(opacity=50);
     }
  60% {
      opacity: 0.6;
      filter: alpha(opacity=60);
     }
  70% {
      opacity: 0.7;
      filter: alpha(opacity=70);
     }
  80% {
      opacity: 0.8;
      filter: alpha(opacity=80);
     }
  90% {
      opacity: 0.9;
      filter: alpha(opacity=90);
     }
  100% {
      opacity: 1;
      filter: alpha(opacity=100);
     }*/
}

.click-bait-text{
  position: absolute;
  display: block;
  top: 0;
  left: 110%;
  font-family: Roboto;
  color: #000000;
  font-size: 100%;
  font-weight: 100;
  text-align: left;

}
.click-bait-text.active-click-bait-text{
  animation-name: click-bait-text-animation;
	animation-duration: 1500ms;
	animation-timing-function: linear;
}

.view-collection-title{
  font-family: Roboto;
  color: #000000;
  font-size: 300%; /* Approximation due to font substitution */
  font-weight: 100;
  text-align: center;
}
.taxonomy-name{
  font-family: Roboto;
  color: #000000;
  font-weight: 100;
  font-size: 100%; /* Approximation due to font substitution */
  text-align: center;
}
.taxonomyCard:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 2px #D3D3D3;
}
.taxonomyCard{
  padding: 1%;
  z-index: 99;
  background-color: #FDFDFD;
  box-shadow: 1px 1px 1px 1px #E1D9D4;
  margin-top: 5%;
}
.taxonomyCards{
  margin-left: 4%;
}
.taxonomy-name{
  padding-top: 3%;
}
.product-collections{
  margin-top: 2%;
}
.customer-reviews{
  margin-top: 7%;
  background: #F6F7F6;
  position: relative;
  background: -webkit-linear-gradient(-90deg, #F1F1F1, #F6F7F6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #F1F1F1, #F6F7F6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #F1F1F1, #F6F7F6); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #F1F1F1, #F6F7F6); /* Standard syntax */
}
.row.customer-review-section{
  width: 53%;
  position: absolute;
  top: 15%;
  left: 40%
}
.customer-speak-text{
  margin-top: 8%;
  font-family: Roboto;
  color: #000000;
  font-size: 300%; /* Approximation due to font substitution */
  font-weight: 100;
  text-align: left;
}
.customer-review-quote{
  margin-top: 8%;
  font-family: Roboto;
  color: #000000;
  font-size: 150%; /* Approximation due to font substitution */
  font-weight: 300;
  text-align: left;
}
.customer-name{
  margin-top: 4%;
  font-family: Roboto;
  color: #000000;
  font-size: 112.5%; /* Approximation due to font substitution */
  font-weight: 100;
  text-align: left;
}
.customer-review-source{
  margin-top: 2%;
  font-family: Roboto;
  color: #000000;
  font-size: 75%; /* Approximation due to font substitution */
  font-weight: 100;
  text-align: left;
}
.review-indexes, #review_index{
  text-align: center;
  margin-top: 5%;
  font-family: Roboto;
  color: #000000;
  font-size: 150%; /* Approximation due to font substitution */
  font-weight: 100;
  font-family: Roboto;
  cursor: pointer;

}
.active-review-index{
  color: #8A247C;
  font-weight: 300;
}
.collection-caption{
  position: absolute;
  top: 20%;
  left: 35%;
  font-weight: 300;
  font-size: 300%;
  text-align: center;
}

.collection-features-circle{
  padding-top: 15%;
	width: 100px;
	height: 100px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
  color: white;
  font-size: 50%;
}
