<div class="container-fluid row">
  <div id="luxire-container" class="row col col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <div id="luxire-logo">
      <img src="lib/assets/Luxire_logo_collection_page.png" >
    </div>
    <div style="border: solid 2px #AD7984;border-radius: 10px;margin-top: 3%;padding-bottom: 2%">
      <div style="margin-left: 2%;margin-right: 2%">
        <h4>CART OVERVIEW</h4>
        <!-- <h6 ng-if="cartItem.product_price_after_personalisation"><i>{{item_count}} items (${{(cartItem.product_price_after_personalisation * product_quantity).toFixed(2)}})</i></h6>
        <h6 ng-if="cartItem.product_price_after_personalisation == undefined"><i>{{item_count}} items (${{(cartItem.product_price * product_quantity).toFixed(2)}})</i></h6>
<!--  -->
        <!--h3 ng-if="cartItem.product_price_after_personalisation">Total: ${{(cartItem.product_price_after_personalisation * product_quantity).toFixed(2)}}</h3>
        <h3 ng-if="cartItem.product_price_after_personalisation == undefined">Total: ${{(cartItem.product_price * product_quantity).toFixed(2)}}</h3> -->


        <hr style="width: 100%">
        <div class="row" style="" ng-repeat="cartItem in cartItems">
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
            <img style="max-width: 100%" src="{{cartItem.product_img}}">
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
            <h4>{{cartItem.product_name}}</br></h4>
            <h6 ng-if="cartItem.style != ''">&nbsp;&nbsp;&nbsp;style: {{cartItem.style}}</br></h6>
            <h6 ng-if="cartItem.fits != ''">&nbsp;&nbsp;&nbsp;fits: {{cartItem.fits}}</br></h6>
            <h6 ng-if="cartItem.Collar != ''">&nbsp;&nbsp;&nbsp;collar: {{cartItem.Collar}}</br></h6>
            <h6 ng-if="cartItem.Sleeves != ''">&nbsp;&nbsp;&nbsp;Sleeves: {{cartItem.Sleeves}}</br></h6>
            <h5 ng-if="cartItem.Customize != undefined">Customize</h5>
            <div ng-repeat="(key,value) in cartItem.Customize"><h5 ng-if="value != ''">&nbsp;&nbsp;&nbsp;{{key}}:{{value}}</br></h5></div>
            <h6 ng-if="cartItem.Personalize != undefined">Personalize</h6>
            <h6 ng-if="cartItem.Personalize.Monogram">Monogram</h6>
            <div ng-repeat="(key,value) in cartItem.Personalize.Monogram"><h6 ng-if="value != ''">{{key}}:{{value}}</br></h6></div>
            <h6 ng-if="cartItem['Personalize']['Additional Options'] != undefined">Additional Optional</h5>
            <div ng-repeat="addOption in cartItem['Personalize']['Additional Options']"><h6 ng-if="addOption.selected == true">{{addOption.name}}</br></h6></div>
            <h6 ng-if="cartItem['Personalize']['Contrast'] != undefined">Contrast</h6>
            <div ng-repeat="contrast in cartItem['Personalize']['Contrast']"><h6 ng-if="contrast.selected == true">{{contrast.name}}</br></h6></div>
            <!-- <h4>Measurement</h4>
            <h5 ng-repeat="(key,value) in cartItem.Measurement">{{key}}</h5>
            <div ><h6 >{{value}}</br></h6></div> -->
          </div>
          <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
            <!-- <h3>Quantity</h3> -->
            <input class="form-control" ng-model="$parent.product_quantity" style="width: 50px">
          </div>
          <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
            <h4 ng-if="cartItem.product_price_after_personalisation">${{(cartItem.product_price_after_personalisation * product_quantity).toFixed(2)}}</h4>
            <h4 ng-if="cartItem.product_price_after_personalisation == undefined">${{(cartItem.product_price * product_quantity).toFixed(2)}}</h4>

            <!-- <h2>Order summary</h2>
            <h3>Item price: ${{cartItem.product_price}}</h3>
            <h3 ng-if="cartItem.product_price_after_personalisation">Customisation cost: ${{getCustomisationCost(cartItem.product_price_after_personalisation, cartItem.product_price)}}</h3>
            <h3 ng-if="cartItem.product_price_after_personalisation == undefined">Customisation cost: ${{0*0}}</h3>

            <hr>
            <h3 ng-if="cartItem.product_price_after_personalisation">Total: ${{(cartItem.product_price_after_personalisation * product_quantity).toFixed(2)}}</h3>
            <h3 ng-if="cartItem.product_price_after_personalisation == undefined">Total: ${{(cartItem.product_price * product_quantity).toFixed(2)}}</h3>

            <br><br>
            <button class="btn btn-primary" ng-click="go_to_checkout_address(product_quantity)">Checkout</button> -->
          </div>

      </div>
    </div>
      <button style="margin-left: 75%" class="btn btn-primary" ng-click="go_to_checkout_address(product_quantity)">Checkout</button>
  </div>
  <div>
    Luxire Custom Clothing process all orders in USD. While the content of your cart is currently displayed in , you will checkout using USD at the most current exchange rate.
  </div>

  <div style="margin-top: 30%">
    <div style="border-top: solid 2px #C7BD98;margin-top: 2%;padding-top: 2%">
      <div style="display: inline-block;margin-left: 2%">search&nbsp;&nbsp;</div>
      <div style="display: inline-block" >&nbsp;&nbsp;about us&nbsp;&nbsp;</div>
      <div style="display: inline-block">&nbsp;&nbsp;privacy policy&nbsp;&nbsp;</div>
      <div style="display: inline-block">&nbsp;&nbsp;shipping & returns&nbsp;&nbsp;</div>
      <div style="display: inline-block">&nbsp;&nbsp;FAQs&nbsp;&nbsp;</div>
      <div style="display: inline-block">&nbsp;&nbsp;quality and satisfaction&nbsp;&nbsp;</div>
      <div style="display: inline-block" >&nbsp;&nbsp;contact us&nbsp;&nbsp;</div>
    </div>
    <div style="text-align: center">
      responsible manufacturing
    </div>
    <div>
      <div style="display: inline-block;text-align: right;width:40%;padding-top: 2%">
        Enter in your email to join our mailing list:
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div  style="display: inline-block;">
          <input type="text" class="form-control" id="email-feild" placeholder="email">
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div  style="display: inline-block;">
          <button type="button" style="background-color:black;color: white" class="btn btn-default btn-sm">Submit</button>
      </div>
    </div>
    <div style="text-align: center;padding-top: 2%;color: #C7BD98">
      Copyright © 2012 Luxire Custom clothing
    </div>
  </div>

</div>





</div>
