<style media="screen">
  .address-form input.form-control.ng-invalid.ng-touched input.form-control.ng-invalid.ng-pristine,.address-form  select.form-control.ng-invalid.ng-touched select.form-control.ng-invalid.ng-pristine{
    border: solid 1px red;
  }
  .customer-form-invalid input.form-control.ng-invalid, .customer-form-invalid select.form-control.ng-invalid{
    border-color: red;
  }

</style>
<p class="text-center text-muted" ng-if="load_address||load_countries" style="margin-top: 10%; position: fixed; top: 20%;left: 40%; z-index: 99; color: #7F0E6E">
  <span class="fa fa-spinner fa-spin fa-4x" ></span>
  <br /><br />
  Loading, please wait...
</p>
<div class="row" style="margin-left: 0px; margin-right: 0px;margin-top: 5%">
  <div class="col col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding-top: 3%;padding-bottom: 2">
    <form name="customer_form" ng-class="{'customer-form-invalid': customer_form.submitted == true}" >
      <div class="row col col-xs-11 col-xs-offset-1 col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 col-lg-11 col-lg-offset-1">
        <div  class="row">
          <div id="checkout_text"  style="font-size: 150%; font-family: HelveticaNeue" class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            Customer Information
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align: right">
            <img style="width: 24px"src="assets/images/customer/security-lock.jpg" alt="" />
          </div>
          <br>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input type="email" name="email" autocomplete="email"  class="form-control" ng-model="customer_email" placeholder="Email" required="">
            <p ng-hide="isLoggedIn">Already have an account with us? <a style="color: #8A247C" ui-sref="customer.login({nav_to_state: 'customer.checkout_address'})" ng-click="event.preventDefault()">Log in</a></p>
          </div>
          <!-- <div id="checkout_states" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
            <span>Customer information</span>&nbsp;&nbsp;<span style="color: #9F9F9F">></span>&nbsp;&nbsp;<span><a ng-if="luxire_cart && luxire_cart.ship_address!={}" style="cursor: pointer" href="#" ng-click="go_to_delivery($event)">Delivery</a><span style="color: #A2A5C5">Delivery</span></span>&nbsp;&nbsp;<span style="color: #9F9F9F">></span>&nbsp;&nbsp;<span><a ng-click="go_to_payment($event)" style="cursor: pointer" ng-click="go_to_payment($event)">Payment</a><span style="color: #A2A5C5">Payment</span></span>
          </div> -->
        </div>
        <div id="luxire-checkout-address-ship" class="row">
          <div style="font-size: 150%; font-family: HelveticaNeue; margin-top: 1%" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
            Shipping Address
          </div>
        </div>
        <hr style="border-top: solid 1px #B0B0B0">
        <div id="luxire-checkout-address-body">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <input placeholder="Firstname*" class="form-control" name="ship_fname" autocomplete="fname" ng-model="shipping.firstname" style="margin-top: 2%" required>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <input placeholder="Lastname*" class="form-control" name="ship_lname" autocomplete="lname" ng-model="shipping.lastname" style="margin-top: 2%" required>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <input placeholder="Company(optional)" class="form-control" name="ship_company" autocomplete="company" ng-model="shipping.company" style="margin-top: 2%" >
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <input style="margin-top: 2%" class="form-control" ng-model="shipping.address1" placeholder="Address 1*" name="ship_address1" autocomplete="address-line1" required>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <input style="margin-top: 2%" class="form-control" ng-model="shipping.address2" placeholder="Address 2(optional)" name="ship_address2" autocomplete="address-line2">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <input style="margin-top: 2%" class="form-control" ng-model="shipping.city" placeholder="City*" name="ship_city" autocomplete="city" required>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <select style="margin-top: 2%" name="ship_country"
                ng-model="shipping.country"
                class="form-control" ng-options="country as country.name for country in countries | orderBy : 'name' track by country.id" required>
              </select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <select
               style="margin-top: 2%" name="ship_state"
               ng-model="shipping.state"
               class="form-control" ng-options="state as state.name for state in countries[shipping.country.id -1].states   track by state.id" required >
             </select>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <input style="margin-top: 2%" placeholder="postal code*" class="form-control" ng-model="shipping.zipcode" name="ship_zip code" autocomplete="zip code" required>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <input style="margin-top: 2%" placeholder="phone*" class="form-control" ng-model="shipping.phone" name="ship_phone" autocomplete="phone" required>
            </div>
          </div>
        </div>
        <br>
        <input type="checkbox" name="name" ng-model="same" ng-change="same_address()">Same address

        <div ng-hide="same" id="luxire-checkout-address-bill" class="row">
          <div style="font-size: 150%; font-family: HelveticaNeue; margin-top: 1%" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
            Billing Address
          </div>
        </div>
        <hr ng-hide="same" style="border-top: solid 1px #B0B0B0">
        <div ng-hide="same" id="luxire-checkout-address-body">
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <input placeholder="Firstname*" class="form-control" name="bill_fname" autocomplete="fname" ng-model="billing.firstname" style="margin-top: 2%" required>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <input placeholder="Lastname*" class="form-control" name="bill_lname" autocomplete="lname" ng-model="billing.lastname" style="margin-top: 2%" required>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <input placeholder="Company(optional)" class="form-control" name="bill_company" autocomplete="company" ng-model="billing.company" style="margin-top: 2%">
            </div>
          </div>
           <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <input style="margin-top: 2%" class="form-control" ng-model="billing.address1" placeholder="Address 1*" name="bill_address1" autocomplete="address-line1" required>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <input style="margin-top: 2%" class="form-control" ng-model="billing.address2" placeholder="Address 2(optional)" name="bill_address2" autocomplete="address-line2">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <input style="margin-top: 2%" class="form-control" ng-model="billing.city" placeholder="City*" name="bill_city" autocomplete="city" required>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <select style="margin-top: 2%" name="bill_country"
                ng-model="billing.country"
                class="form-control"
                ng-options="country as country.name for country in countries   track by country.id" required>
              </select>

            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <select name="bill_state"
               style="margin-top: 2%"
               ng-model="billing.state"
               class="form-control" ng-options="state as state.name for state in countries[billing.country.id -1].states   track by state.id" required>
             </select>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <input style="margin-top: 2%" placeholder="postal code*" class="form-control" ng-model="billing.zipcode" name="bill_zip code" autocomplete="zip code" required>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <input style="margin-top: 2%" placeholder="phone*" class="form-control" ng-model="billing.phone" name="phone" autocomplete="phone" required>
            </div>
          </div>
        </div>

        <div ng-show="luxire_cart != {} && luxire_cart.line_items.length >0" id="luxire-checkout-address-footer" style="margin-top: 2%" ng-show="luxire_cart != {} && luxire_cart.line_items.length >0" class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: left">
            <div class=" row" style="text-align: right">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin:0%;padding:0%;">
                <div style="padding: 3% 3% 3% 3%;border:1px solid #C9B0C6;margin-left:4%;">
                    <button type="button" class="btn btn-default" style="width:100%;font-family: Arial;height:3em;font-size:120%;background-color:#7F0E6E;color: #FDFDFD;border-radius:0px;" ui-sref="customer.cart"><i style="margin-left:5%;"class="glyphicon glyphicon-arrow-left"></i>&nbsp;&nbsp;Return to cart</i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right">
            <div class=" row" style="text-align: right">
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="margin:0%;padding:0%;">
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="margin:0%;padding:0%;">
                <div style="padding: 3% 3% 3% 3%;border:1px solid #C9B0C6;margin-left:4%;">
                    <button type="submit" form="customer-form" class="btn btn-default" style="width:100%;font-family: Arial;height:3em;font-size:120%;background-color:#7F0E6E;color: #FDFDFD;border-radius:0px;" ng-click="proceed_to_checkout_delivery()">Continue<i style="margin-left:5%;"class="glyphicon glyphicon-arrow-right"></i></button>
                </div>
              </div>


            </div>

          </div>
        </div>
        <!-- <uib-alert style="margin-top: 5%" ng-hide="luxire_cart != {} && luxire_cart.line_items.length >0" type="success">Your cart is empty</uib-alert> -->
      </div>

    </form>

  </div>
  <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="border-left: solid 2px #DFDFDF;background: #F8F8F8; padding-top: 4.5%; padding-right: 5%">
    <div class="row" style="margin-left: 0px;margin-right: 0px">
      <div class="row">
        <div class="col col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <input class="form-control" ng-model="discountCode" placeholder="Coupon code">
        </div>
        <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center">
          <button class="btn btn-default" ng-click="apply_coupon_code()" style="border-radius: 0px; color: white; background: #7F0E6E" name="button">Apply</button>
        </div>
      </div>
      <hr style="border-bottom: solid 2px #DDDDDD">
      <div class="row" style="margin-left: 0px;margin-right: 0px; margin-top: 1%" ng-repeat="line_item in luxire_cart.line_items">
        <div class="col col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding-left: 0px !important;padding-right: 0px !important">
          <div class="col col-xs-5 col-sm-5 col-md-5 col-lg-5" style="padding-left: 0px !important">
            <img src="{{getImage(line_item.variant.images[0].mini_url)}}" style="border: solid 2px #E2E2E2" alt="" />
          </div>
          <div class="col col-xs-1 col-sm-1 col-md-1 col-lg-1" style="margin-left: -12%; margin-top: -2%">
            <span class="badge" style="background: #8A247C">{{line_item.quantity}}</span>
          </div>
          <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: left;padding-right: 0px !important">
            {{line_item.variant.name}}
          </div>
        </div>
        <div class="col col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: 5%; text-align: right;padding-right: 7%">
          {{line_item.display_amount}}
        </div>

      </div>
      <hr style="border-bottom: solid 2px #DDDDDD">

      <div class="row">
        <div class="col col-xs-8 col-sm-8 col-md-8 col-lg-8" style="HelveticaNeue;">
          Subtotal
        </div>
        <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center">
          {{luxire_cart.display_item_total}}
        </div>
      </div>
      <div class="row">
        <div class="col col-xs-8 col-sm-8 col-md-8 col-lg-8" style="HelveticaNeue;">
          Shipping
        </div>
        <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center">
          {{luxire_cart.display_ship_total=="$0.00" ? '-' : luxire_cart.display_ship_total}}
        </div>
      </div>
      <div class="row">
        <div class="col col-xs-8 col-sm-8 col-md-8 col-lg-8" style="HelveticaNeue;">
          Taxes
        </div>
        <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center">
          {{luxire_cart.display_tax_total=="$0.00" ? '-' : luxire_cart.display_tax_total}}
        </div>
      </div>
      <div class="row" ng-repeat="adjustment in luxire_cart.adjustments">
        <div class="col col-xs-8 col-sm-8 col-md-8 col-lg-8" style="HelveticaNeue;">
          {{adjustment.label}}
        </div>
        <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center">
          {{adjustment.display_amount}}
        </div>
      </div>
      <hr style="border-bottom: solid 2px #DDDDDD">
      <div class="row" style="margin-bottom: 100%">
        <div class="col col-xs-8 col-sm-8 col-md-8 col-lg-8" style="HelveticaNeue;">
          Total
        </div>
        <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center; font-size: 140%">
          {{luxire_cart.display_total}}
        </div>
      </div>

    </div>

  </div>

</div>
<!--

<div  id="footer" class="row" style="margin-left: 0px; margin-right: 0px;background-color:#000000;color:white;padding-top:1%;padding-bottom:2%;">
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-top:5%;padding-bottom:5%;">
    <div id="luxire-logo">
      <img style="max-width: 75%" src="assets/images/customer/luxire_logo_grey.png" >
    </div>
    <div style="margin-top:2%;">
        <span style="margin-left:10%; background-color:;color:#D2D2D2;font-size:90%;">All copyrights to luxire Corporation</span>
    </div>

  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="color:white;margin-top:5%;font-size:90%">
    <span><a href="#" style="color:#D2D2D2;">Home</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">About Us</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Contact Us</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Catalogue</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Search</a></span><br><br>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="color:white;margin-top:5%;font-size:90%;">
    <span><a href="#" style="color:#D2D2D2;">Privacy policy</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Shipping & Returns</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">FAQs</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Quality and Satisfaction</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Responsible Manufacturing</a></span><br><br>
  </div>

</div> -->
