<style media="screen">
.bootstrap-basic {
background: white;
}

.panel-body {
width: 100%;
margin: 0.5em auto;
padding: 0 2% !important
}

.helper-text {
color: #8A6D3B;
font-size: 12px;
margin-top: 5px;
height: 12px;
display: block;
}

/* Braintree Hosted Fields styling classes*/
.braintree-hosted-fields-focused {
border: 1px solid #0275d8;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.braintree-hosted-fields-focused.focused-invalid {
border: 1px solid #ebcccc;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(100,100,0,.6);
}
.form-group{
  margin-bottom: 0 !important;
}

@media (max-width: 670px) {
.form-group {
  width: 100%;
}

.btn {
  white-space: normal;
}
}
</style>
<p class="text-center text-muted" ng-if="loading" style="margin-top: 10%; position: fixed; top: 20%;left: 40%; z-index: 99;color: #7F0E6E">
  <span class="fa fa-spinner fa-spin fa-4x"></span>
  <br /><br />
  Loading, please wait...
</p>
<div class="row" style="margin-left: 0px; margin-right: 0px;margin-top: 4.6%">
  <div class="col col-xs-8 col-sm-8 col-md-8 col-lg-8" style=" padding-top: 3%;padding-bottom: 2%">
    <div class="row col col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
      <div class="row">
        <img style="max-width: 4%; margin-left: 2.5%" src="assets/images/customer/payment_image.png" alt="" />
      </div>
      <div  class="row">
        <div id="shipping_text"  style="font-size: 150%; font-family: HelveticaNeue" class="col-lg-8 col-md-8 col-sm-8 col-xs-8" >
          Payment Method
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="text-align: right">
          <img style="width: 24px"src="assets/images/customer/security-lock.jpg" alt="" />
        </div>
      </div>
      <hr style="border-top: solid 1px #B0B0B0">
      <div class="row">

        <div id="shipping_text"  style="font-size: 85%; font-family: HelveticaNeue;cursor: pointer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              <div id="payment_options_text"  style="font-size: 140%; font-weight: 500;font-family: HelveticaNeue"  >
                Select Payment Option:
              </div>
              <div class="row" ng-hide="payment_method.name.toLowerCase().indexOf('pay pal') !=-1 && luxire_cart.currency == 'INR'"ng-repeat="payment_method in luxire_cart.payment_methods" style="padding: 1% 0%">
                <div ng-click="change_payment_method(payment_method.id)">
                  <input type="radio" ng-model="$parent.selected_payment_method_id" ng-value="payment_method.id" >
                  <span style="font-size: 150%; margin: 5%">{{payment_method.name}}</span>
                </div>

                <!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"> -->
                  <!-- <div id="paypal-container" style="display: none" ></div> -->

                <!-- </div> -->

              </div>
            </div>
            <div ng-show="selected_payment_method_id !== -1 && brain_tree_payment_method_id == selected_payment_method_id && brain_tree_client_token" class="card-info col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <div class="row">
                <div class="panel panel-default bootstrap-basic">
                  <div class="panel-heading">
                    <h3 class="panel-title">Enter Card Details &nbsp;&nbsp;&nbsp;<img style="width: 28px"src="assets/images/customer/payment-security.png" alt="" /> &nbsp;&nbsp;</h3>
                  </div>
                  <form class="panel-body">
                    <div class="row">
                      <div class="form-group col-xs-8">
                        <label class="control-label">Card Number</label>
                        <!--  Hosted Fields div container -->
                        <div class="form-control" id="card-number"></div>
                        <span class="helper-text"></span>
                      </div>
                      <div class="form-group col-xs-4">
                        <div class="row">
                          <label class="control-label col-xs-12">Expiration Date</label>
                          <div class="col-xs-6">
                            <!--  Hosted Fields div container -->
                            <div class="form-control" id="expiration-month"></div>
                          </div>
                          <div class="col-xs-6">
                            <!--  Hosted Fields div container -->
                            <div class="form-control" id="expiration-year"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-xs-6">
                        <label class="control-label">Security Code</label>
                        <!--  Hosted Fields div container -->
                        <div class="form-control" id="cvv"></div>
                      </div>
                      <!-- <div class="form-group col-xs-6">
                        <label class="control-label">Zipcode</label>
                        <div class="form-control" id="postal-code"></div>
                      </div> -->
                    </div>


                    <!-- <button value="submit" id="submit" class="btn btn-success btn-lg center-block">Pay with <span id="card-type">Card</span></button> -->
                  </form>
                </div>

              </div>
            </div>
          </div>


        </div>

      </div>
      <div  id="luxire-checkout-address-footer" style="margin-top: 15%" class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: left">
          <div class=" row" style="text-align: right">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin:0%;padding:0%;">
              <!-- <button type="button" name="button" ng-click="proceed_to_brain_tree_payment()">Submit to brain tree</button> -->

              <!-- <div style="padding: 3% 3% 3% 3%;border:1px solid #C9B0C6;margin-left:4%;">
                  <button type="button" class="btn btn-default" style="width:100%;font-family: Arial;height:3em;font-size:120%;background-color:#7F0E6E;color: #FDFDFD;border-radius:0px;" ui-sref="customer.cart"><i style="margin-left:5%;"class="glyphicon glyphicon-arrow-left"></i>&nbsp;&nbsp;Return to cart</i></button>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right">
          <div class=" row" style="text-align: right">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin:0%;padding:0%;">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8" style="margin:0%;padding:0%;">
              <div style="padding: 3% 3% 3% 3%;border:1px solid #C9B0C6;margin-left:4%;">
                  <button type="button" ng-disabled="loading" class="btn btn-default" style="width:100%;font-family: Arial;height:3em;font-size:120%;background-color:#7F0E6E;color: #FDFDFD;border-radius:0px;" ng-click="proceed_to_paypal_payment()">Complete Order</button>
              </div>
            </div>


          </div>

        </div>
      </div>
      <!-- <uib-alert style="margin-top: 5%" ng-hide="luxire_cart != {} && luxire_cart.line_items.length >0" type="success">Your cart is empty</uib-alert> -->
    </div>

  </div>
  <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="border-left: solid 2px #DFDFDF;background: #F8F8F8; padding-top: 4.5%; padding-right: 5%; margin-top: 1%">
    <div class="row">
      <div class="col col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <input class="form-control" ng-model="gift_card_code" placeholder="Gift card code">
      </div>
      <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center">
        <button class="btn btn-default" ng-click="apply_gift_card()" style="border-radius: 0px; color: white; background: #7F0E6E" name="button">Apply</button>
      </div>
    </div>
    <hr style="border-bottom: solid 2px #DDDDDD">
    <div class="row" style="margin-left: 0px;margin-right: 0px; margin-top: 1%" ng-repeat="line_item in luxire_cart.line_items">
      <div class="col col-xs-9 col-sm-9 col-md-9 col-lg-9" style="padding-left: 0px !important;padding-right: 0px !important">
        <div class="col col-xs-5 col-sm-5 col-md-5 col-lg-5" style="padding-left: 0px !important">
          <img src="{{getImage(line_item.variant.images[0].mini_url)}}" style="border: solid 2px #E2E2E2" alt="" />
        </div>
        <div class="col col-xs-1 col-sm-1 col-md-1 col-lg-1" style="margin-left: -12%; margin-top: -2%">
          <span class="badge" style="background: #8A247C">{{line_item.quantity}}</span>
        </div>
        <div class="col col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: left;padding-right: 0px !important;font-size:85%;">
          {{line_item.variant.name}}
        </div>
      </div>
      <div class="col col-xs-3 col-sm-3 col-md-3 col-lg-3" style="margin-top: 5%; text-align: right;padding-right: 7%">
        {{line_item.display_total}}
      </div>

    </div>
    <hr style="border-bottom: solid 2px #DDDDDD">

    <div class="row">
      <div class="col col-xs-8 col-sm-8 col-md-8 col-lg-8" style="HelveticaNeue;">
        Subtotal
      </div>
      <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center;padding-right:0">
        {{luxire_cart.display_item_total}}
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-8 col-sm-8 col-md-8 col-lg-8" style="HelveticaNeue;">
        Shipping
      </div>
      <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center;padding-right:0">
        {{luxire_cart.ship_total =="0.00" ? '-' : luxire_cart.display_ship_total}}
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-8 col-sm-8 col-md-8 col-lg-8" style="HelveticaNeue;">
        Taxes
      </div>
      <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center;padding-right:0">
        {{luxire_cart.tax_total=="0.00" ? '-' : luxire_cart.display_tax_total}}
      </div>
    </div>
    <div class="row" ng-repeat="adjustment in luxire_cart.adjustments">
      <div class="col col-xs-8 col-sm-8 col-md-8 col-lg-8" style="HelveticaNeue;">
        {{adjustment.label}}
      </div>
      <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center;padding-right:0">
        {{adjustment.display_amount}}
      </div>
    </div>
    <hr style="border-bottom: solid 2px #DDDDDD">
    <div class="row" style="margin-bottom: 100%">
      <div class="col col-xs-8 col-sm-8 col-md-8 col-lg-8" style="HelveticaNeue;">
        Total
      </div>
      <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="text-align: center; font-size: 140%">
        {{luxire_cart.display_total}}
      </div>
    </div>

  </div>



</div>
<!--
<div  id="footer" class="row" style="margin-left: 0px; margin-right: 0px;background-color:#000000;color:white; padding-top:1%;padding-bottom:2%;">
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-top:5%;padding-bottom:5%;">
    <div id="luxire-logo">
      <img style="max-width: 75%" src="assets/images/customer/luxire_logo_grey.png" >
    </div>
    <div style="margin-top:2%;">
        <span style="margin-left:10%; background-color:;color:#D2D2D2;font-size:90%;">All copyrights to luxire Corporation</span>
    </div>

  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="color:white;margin-top:5%;font-size:90%">
    <span><a href="#" style="color:#D2D2D2;">Home</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">About Us</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Contact Us</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Catalogue</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Search</a></span><br><br>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="color:white;margin-top:5%;font-size:90%;">
    <span><a href="#" style="color:#D2D2D2;">Privacy policy</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Shipping & Returns</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">FAQs</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Quality and Satisfaction</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Responsible Manufacturing</a></span><br><br>
  </div>

</div> -->

<!-- <div class="row" style="margin-left: 0px; margin-right: 0px">
  <div id="luxire-container" class="row col col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <div id="luxire-logo">
      <img src="lib/assets/Luxire_logo_collection_page.png" >
    </div>
    <div style="border: solid 2px #AD7984;border-radius: 10px;margin-top: 3%;padding-bottom: 2%">
      <div class="row" style="margin-left: 2%;margin-top: 2%">
        <div class="col-md-5 col-sm-5 col-lg-5 col-xs-5">
          <h4>Payment method</h4>
          <!-- <div class="row" style="border: solid 1px grey; padding: 2% 0% 2% 2%">

          </div>
          <div class="row" style="border: solid 1px grey; padding: 2% 0% 2% 2%">
            <input type="radio" ng-model="selected_payment_method" ng-change="change_payment_method(selected_payment_method)" value="cc" >
            Credit Card [EBS]
          </div>
          <div ng-show="selected_payment_method == 'cc'"  class="row" style="border: solid 1px grey; padding: 2% 0% 2% 2%">
            <label for="name_on_card">Name on card</label>
            <input style="width: 90%;" name="name_on_card" placeholder="Name on card" ng-model="name_on_card" class="form-control"><br>
            <label for="card_number">Card number</label>
            <input style="width: 90%" name="card_number" placeholder="Card number" ng-model="card_number" class="form-control"><br>
            <label for="card_expiry">Card expiry</label>
            <input style="width: 90%;" name="card_expiry" placeholder="MM/YY" class="form-control" ng-model="card_expiry"><br>
            <label for="card_cvv">Card cvv</label>
            <input style="width: 90%;" name="card_cvv" placeholder="CVV" class="form-control" ng-model="card_cvv"><br>
            <form style="display: none" class="form-inline" role="form" method="post" action="https://secure.ebs.in/pg/ma/payment/request" name="frmTransaction" id="ebs_transaction">
                <input style="display: none" name="channel" type="hidden" value="{{ebs_object.channel}}" />
                 <input style="display: none" name="account_id" type = "hidden" value="{{ebs_object.account_id}}" /><br/>
                 <input style="display: none" id="refNum" name="reference_no"  type="hidden" value="{{ebs_object.reference_no}}"/> <br/>
                 <input style="display: none" id="amount" name="amount"  type="hidden" value="{{ebs_object.amount}}" /><br/>
                 <input style="display: none" name="mode"   type="hidden"  value="{{ebs_object.mode}}" /> <br/>
                 <input style="display: none" name="currency"  type="hidden"  value="{{ebs_object.currency}}" /> <br/>
                 <input style="display: none" name="description"  type="hidden"   value="{{ebs_object.description}}" /> <br/>
                 <input style="display: none" name="return_url"  type="hidden"  value="{{ebs_object.return_url}}" /> <br/>
                 <input style="display: none" name="name"  type="hidden"  value="{{ebs_object.name}}" /><br/>
                 <input style="display: none" name="address"  type="hidden"  value="{{ebs_object.address}}" /><br/>
                 <input style="display: none" name="city"  type="hidden"  value="{{ebs_object.city}}" /><br/>
                 <input style="display: none" name="state"  type="hidden"  value="{{ebs_object.state}}" /><br/>
                 <input style="display: none" name="country"  type="hidden"  value="{{ebs_object.country}}" /><br/>
                 <input style="display: none" name="postal_code"  type="hidden"  value="{{ebs_object.postal_code}}" /><br/>
                 <input style="display: none" name="phone"  type="hidden"  value="{{ebs_object.phone}}" /><br/>
                 <input style="display: none" name="email"  type="hidden"  value="{{ebs_object.email}}" /><br/>

                 <input style="display: none" name="bank_code"  type="hidden"  value="" /><br/>
                 <input style="display: none" name="name_on_card"  type="hidden"   value="{{ebs_object.name_on_card}}"/>
                 <input style="display: none" name="card_number"  value="{{ebs_object.card_number}}"/> <br/>
                 <input style="display: none" name="card_expiry"  type="hidden"  value="{{ebs_object.card_expiry}}" />
                  <input style="display: none" name="card_cvv"  value="{{ebs_object.card_cvv}}"/> <br/>

                 <input style="display: none" id="secureHash" name="secure_hash"  value="{{ebs_object.secure_hash}}" /> <br/>
            </form>
          </div>
          <!-- <div class="row" style="border: solid 1px grey; padding: 2% 0% 2% 2%">
            <input type="radio" ng-model="selected_payment_method" ng-change="change_payment_method(selected_payment_method)" value="pp" >
            Pay Pal
          </div>
          <div ng-show="selected_payment_method == 'pp'" class="row" style="border: solid 1px grey; padding: 2% 0% 2% 2%">
            Pay Pal Flow
          </div>
        </div>
        <div style="text-align: left;padding-right: 4%" class="col-md-7 col-sm-7 col-lg-7 col-xs-7">
          <div class="row" ng-repeat="line_item in luxire_cart.line_items">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
              <img src="{{getImage(line_item.variant.images[0].small_url)}}">
            </div>
            <div style="margin-left: -15%" class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
              <span class="badge">{{line_item.quantity}}</span>
            </div>
            <div class="col-md-5 col-sm-5 col-lg-5 col-xs-5">
              <p style="font-size: 12px">{{line_item.variant.name}}<p>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
              {{line_item.display_amount}}
            </div>
          </div>
          <hr style="margin-top: 2%">
            <!-- <div class="row">
              <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
                <input type="text" placeholder="Gift card or Coupon code" class="form-control" ng-model="coupon_code">
              </div>
              <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                <button class="btn-primary" ng-click="apply_coupon_code()">Apply</button>
              </div>
            </div>
          <hr style="margin-top: 5%;margin-bottom: 2%">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
              Subtotal:<br>
              Coupon Discount:<br>
              Shipping Cost:<br>
            </div>
            <div style="margin-left: -15%" class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
            </div>
            <div class="col-md-5 col-sm-5 col-lg-5 col-xs-5">
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
              {{luxire_cart.display_item_total}}<br>
              {{luxire_cart.adjustment_total}}<br>
              {{luxire_cart.display_ship_total}}
            </div>
          </div>
          <hr style="margin-top: 2%;margin-bottom: 2%">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
              Total:
            </div>
            <div style="margin-left: -15%" class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
            </div>
            <div class="col-md-5 col-sm-5 col-lg-5 col-xs-5">
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
              {{luxire_cart.display_total}}
            </div>
          </div>
          <br>
          <br>
          <button class="btn btn-primary" type="submit" form="ebs_transaction">Complete order</button>
        </div>

      </div>

    </div>
    <div>
      Luxire Custom Clothing process all orders in USD. While the content of your cart is currently displayed in , you will checkout using USD at the most current exchange rate.
    </div>
</div>

</div>
<div  id="footer" class="row" style="margin-left: 0px; margin-right: 0px;background-color:#000000;color:white;margin-top:10%;padding-top:1%;padding-bottom:2%;">
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-top:5%;padding-bottom:5%;">
    <div id="luxire-logo">
      <img style="max-width: 75%" src="assets/images/customer/luxire_logo_grey.png" >
    </div>
    <div style="margin-top:2%;">
        <span style="margin-left:10%; background-color:;color:#D2D2D2;font-size:90%;">All copyrights to luxire Corporation</span>
    </div>

  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="color:white;margin-top:5%;font-size:90%">
    <span><a href="#" style="color:#D2D2D2;">Home</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">About Us</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Contact Us</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Catalogue</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Search</a></span><br><br>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="color:white;margin-top:5%;font-size:90%;">
    <span><a href="#" style="color:#D2D2D2;">Privacy policy</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Shipping & Returns</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">FAQs</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Quality and Satisfaction</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Responsible Manufacturing</a></span><br><br>
  </div>

</div> -->



<!-- <header><h2>Payment</h2></header>
<div class="row" style="margin-left: 5%" >
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
      Name on Card: <input ng-model="name_on_card"><br><br>
      Card Number:  <input  ng-model="card_number"><br><br>
      Card Cvv:     <input  ng-model="card_cvv"><br><br>
      Expiration:   <input ng-model="card_expiry"placeholder="MM/YY"><br><br>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">

  </div>
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
    <h2>Order summary</h2>
    <h3>Item Cost:{{item_cost}}</h3>
    <h3>Shipping Cost:{{shipment_cost}}</h3>
    <hr>
    <h3>Total: {{total_cost}}</h3>
    <!-- <h3>Product price: ${{cartItem.product_price}}</h3> -->
    <!-- <h3 ng-if="cartItem.product_price_after_personalisation">Customisation cost: ${{getCustomisationCost(cartItem.product_price_after_personalisation, cartItem.product_price)}}</h3>
    <h3 ng-if="cartItem.product_price_after_personalisation == undefined">Customisation cost: ${{0*0}}</h3>

    <hr>
    <h3 ng-if="cartItem.product_price_after_personalisation">Total: ${{(cartItem.product_price_after_personalisation * product_quantity).toFixed(2)}}</h3>
    <h3 ng-if="cartItem.product_price_after_personalisation == undefined">Total: ${{(cartItem.product_price * product_quantity).toFixed(2)}}</h3>

    <br><br> -->
    <!-- <button class="btn btn-success" ng-click="proceed_to_checkout_gateway()">save & continue</button>
  </div> -->



<!-- </div> -->
