<div class="row" style="margin-left: 0px; margin-right: 0px">
  <div id="luxire-container" class="row col col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
    <div id="luxire-logo">
      <img src="lib/assets/Luxire_logo_collection_page.png" >
    </div>

    <div style="border: solid 2px #AD7984;border-radius: 10px;margin-top: 3%;padding-bottom: 2%">
      <div class="row" style="margin-left: 2%">
        <h4>Customer information</h4>
        <input type="email" style="width: 35%" class="form-control" ng-model="customer_email" placeholder="Email">
        <input type="checkbox" name="name" ng-model="same" ng-change="same_address()">Same address
      </div>
      <div class="row" style="margin-left: 2%;margin-top: 4%">
        <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
          <h4>Shipping address</h4>
          <!-- <form class="form-inline" role="form">
            <div class="form-group">
              <input placeholder="Firstname" class="form-control" ng-model="shipping.firstname">
            </div>
            <div class="form-group">
              <input placeholder="Lastname" class="form-control" ng-model="shipping.lastname">
            </div>
          </form> -->
          <input placeholder="Firstname" class="form-control" ng-model="shipping.firstname" style="width: 86%;margin-top: 2%">
          <input placeholder="Lastname" class="form-control" ng-model="shipping.lastname" style="width: 86%;margin-top: 2%">

          <input style="width: 86%;margin-top: 2%" class="form-control" ng-model="shipping.address1" placeholder="Address 1">
          <input style="width: 86%;margin-top: 2%" class="form-control" ng-model="shipping.address2" placeholder="Address 2">
          <input style="width: 86%;margin-top: 2%" class="form-control" ng-model="shipping.city" placeholder="City">

          <select style="width: 86%;margin-top: 2%" class="form-control" ng-model="shipping.country_id" ng-change="populate_states(shipping.country_id)">
            <option ng-repeat="country in countries" ng-value="country.id" ng-selected="country.id==shipping.country_id">{{country.name}}</option>
          </select>

          <select style="width: 86%;margin-top: 2%" class="form-control" ng-model="shipping.state_id">
            <option ng-repeat="state in states" ng-selected="state.id==shipping.state_id" value="{{state.id}}">{{state.name}}</option>
          </select>
          <!-- <form style="margin-top: 2%" class="form-inline" role="form">
            <div class="form-group">
              <input placeholder="Postal Code" class="form-control" ng-model="shipping.zipcode">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="phone" ng-model="shipping.phone">
            </div>
          </form> -->
          <input style="width: 86%;margin-top: 2%" placeholder="postal code" class="form-control" ng-model="shipping.zipcode">
          <input style="width: 86%;margin-top: 2%" class="form-control" placeholder="phone" ng-model="shipping.phone">


        </div>
        <div ng-show="same" class="col-md-4 col-sm-4 col-lg-4 col-xs-4">

        </div>
        <div ng-hide="same" class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
          <h4>Billing address</h4>
          <!-- <form class="form-inline" role="form">
            <div class="form-group">
              <input placeholder="Firstname" class="form-control" ng-model="shipping.firstname">
            </div>
            <div class="form-group">
              <input placeholder="Lastname" class="form-control" ng-model="shipping.lastname">
            </div>
          </form> -->
          <input placeholder="Firstname" class="form-control" ng-model="billing.firstname" style="width: 86%">
          <input placeholder="Lastname" class="form-control" ng-model="billing.lastname" style="width: 86%;margin-top: 2%" >

          <input style="width: 86%;margin-top: 2%" class="form-control" ng-model="billing.address1" placeholder="Address 1">
          <input style="width: 86%;margin-top: 2%" class="form-control" ng-model="billing.address2" placeholder="Address 2">
          <input style="width: 86%;margin-top: 2%" class="form-control" ng-model="billing.city" placeholder="City">

          <select style="width: 86%;margin-top: 2%" class="form-control" ng-model="billing.country_id" ng-change="populate_states(shipping.country_id)">
            <option ng-repeat="country in countries" ng-value="country.id" ng-selected="country.id==billing.country_id">{{country.name}}</option>
          </select>

          <select style="width: 86%;margin-top: 2%" class="form-control" ng-model="billing.state_id">
            <option ng-repeat="state in states" ng-selected="state.id==shipping.state_id" value="{{state.id}}">{{state.name}}</option>
          </select>
          <!-- <form style="margin-top: 2%" class="form-inline" role="form">
            <div class="form-group">
              <input placeholder="Postal Code" class="form-control" ng-model="shipping.zipcode">
            </div>
            <div class="form-group">
              <input class="form-control" placeholder="phone" ng-model="shipping.phone">
            </div>
          </form> -->
          <input style="width: 86%;margin-top: 2%" placeholder="Postal Code" class="form-control" ng-model="billing.zipcode">
          <input style="width: 86%;margin-top: 2%" class="form-control" placeholder="phone" ng-model="billing.phone">

        </div>
        <div style="text-align: left;padding-right: 4%" class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
          <div class="row" ng-repeat="line_item in luxire_cart.line_items">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
              <img src="{{getImage(line_item.variant.images[0].small_url)}}">
            </div>
            <div style="margin-left: -15%" class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
              <span class="badge">{{line_item.quantity}}</span>
            </div>
            <div class="col-md-5 col-sm-5 col-lg-5 col-xs-5">
              <p style="font-size: 12px">{{line_item.variant.name}}<p>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
              {{line_item.display_amount}}
            </div>
          </div>
          <hr style="margin-top: 2%">
            <div class="row">
              <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
                <input type="text" placeholder="Gift card or Coupon code" class="form-control" ng-model="coupon_code">
              </div>
              <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
                <button class="btn-primary" ng-click="apply_coupon_code()">Apply</button>
              </div>
            </div>
          <hr style="margin-top: 5%;margin-bottom: 2%">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
              Subtotal:
              Coupon Discount:
            </div>
            <div style="margin-left: -15%" class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
            </div>
            <div class="col-md-5 col-sm-5 col-lg-5 col-xs-5">
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
              {{luxire_cart.display_item_total}}
              {{'-$'+luxire_cart.adjustment_total.split('-')[1]}}
            </div>
          </div>
          <hr style="margin-top: 2%;margin-bottom: 2%">
          <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
              Total:
            </div>
            <div style="margin-left: -15%" class="col-md-1 col-sm-1 col-lg-1 col-xs-1">
            </div>
            <div class="col-md-5 col-sm-5 col-lg-5 col-xs-5">
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2 col-xs-2">
              {{luxire_cart.display_total}}
            </div>
          </div>
          <br>
          <br>
          <button class="btn btn-primary" ng-click="proceed_to_checkout_delivery()">Continue to shipping method</button>
        </div>
      </div>

    </div>
    <div>
      Luxire Custom Clothing process all orders in USD. While the content of your cart is currently displayed in , you will checkout using USD at the most current exchange rate.
    </div>

</div>

</div>





</div>
<div  id="footer" class="row" style="margin-left: 0px; margin-right: 0px;background-color:#000000;color:white;margin-top:10%;padding-top:1%;padding-bottom:2%;">
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-top:5%;padding-bottom:5%;">
    <div id="luxire-logo">
      <img style="max-width: 75%" src="assets/images/customer/luxire_logo_grey.png" >
    </div>
    <div style="margin-top:2%;">
        <span style="margin-left:10%; background-color:;color:#D2D2D2;font-size:90%;">All copyrights to luxire Corporation</span>
    </div>

  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="color:white;margin-top:5%;font-size:90%">
    <span><a href="#" style="color:#D2D2D2;">Home</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">About Us</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Contact Us</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Catalogue</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Search</a></span><br><br>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="color:white;margin-top:5%;font-size:90%;">
    <span><a href="#" style="color:#D2D2D2;">Privacy policy</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Shipping & Returns</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">FAQs</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Quality and Satisfaction</a></span><br><br>
    <span><a href="#" style="color:#D2D2D2;">Responsible Manufacturing</a></span><br><br>
  </div>

</div>

<!-- <header><h2>Address</h2></header>
<div class="row" style="margin-left: 5%" >
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
    <h3>Shipping Address</h3>
    First Name:<input placeholder="firstname" ng-model="shipping.firstname"><br><br>
    Last Name:<input placeholder="lastname" ng-model="shipping.lastname"><br><br>
    Address1:&nbsp;<input placeholder="address1" ng-model="shipping.address1"><br><br>
    Address2:&nbsp;<input placeholder="address2" ng-model="shipping.address2"><br><br>
    City:&nbsp;&nbsp;&nbsp;&nbsp;<input placeholder="city" ng-model="shipping.city"><br><br>
    Country:
    <select style="width: 50%" ng-model="shipping.country_id" ng-change="populate_states(shipping.country_id)">
      <option ng-repeat="country in countries" ng-value="country.id" ng-selected="country.id==shipping.country_id">{{country.name}}</option>
    </select><br><br>
    State: <select style="width: 50%" ng-model="shipping.state_id">
      <option ng-repeat="state in states" ng-selected="state.id==shipping.state_id">{{state.name}}</option>
    </select><br><br>
    <!-- <input placeholder="country" ng-model="shipping.country"><br><br>
    <input placeholder="state" ng-model="shipping.state"><br><br>
    Zipcode: <input placeholder="zipcode" ng-model="shipping.zipcode"><br><br>
    Phone: <input placeholder="phone" ng-model="shipping.phone"><br><br> -->
    <!-- <input ng-hide="true" placeholder="country_id" ng-model="shipping.country_id"><br><br>
    <input ng-hide="true" placeholder="state_id" ng-model="shipping.state_id"><br><br> -->

    <!-- <h3>billinging Address</h3>
    <input placeholder="firstname" ng-model="billing.firstname"><br><br>
    <input placeholder="lastname" ng-model="billing.lastname"><br><br>
    <input placeholder="address1" ng-model="billing.address1"><br><br>
    <input placeholder="address2" ng-model="billing.address2"><br><br>
    <input placeholder="city" ng-model="billing.city"><br><br>
    <input placeholder="country" ng-model="billing.country"><br><br>
    <input placeholder="state" ng-model="billing.state"><br><br>
    <input placeholder="zipcode" ng-model="billing.zipcode"><br><br>
    <input placeholder="phone" ng-model="billing.phone"><br><br>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
    <!-- <h3>Shipping Address</h3>
    <input placeholder="firstname" ng-model="shipping.firstname"><br><br>
    <input placeholder="lastname" ng-model="shipping.lastname"><br><br>
    <input placeholder="address1" ng-model="shipping.address1"><br><br>
    <input placeholder="address2" ng-model="shipping.address2"><br><br>
    <input placeholder="city" ng-model="shipping.city"><br><br>
    <input placeholder="country" ng-model="shipping.country"><br><br>
    <input placeholder="state" ng-model="shipping.state"><br><br>
    <input placeholder="zipcode" ng-model="shipping.zipcode"><br><br>
    <input placeholder="phone" ng-model="shipping.phone"><br><br>
  </div>
  <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
    <h2>Order summary</h2>

    <h3>Item Price: {{order_total}}</h3>
    <hr>
    <div class="row">
      <div class="col-md-8 col-sm-8 col-lg-8 col-xs-8">
        <input type="text" placeholder="Gift card or Coupon code" class="form-control" ng-model="coupon_code">
      </div>
      <div class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
        <button class="btn-primary" ng-click="apply_coupon_code()">Apply</button>
      </div>
    </div>

    <hr>
    <!-- <h3>Product price: ${{cartItem.product_price}}</h3> -->
    <!-- <h3 ng-if="cartItem.product_price_after_personalisation">Customisation cost: ${{getCustomisationCost(cartItem.product_price_after_personalisation, cartItem.product_price)}}</h3>
    <h3 ng-if="cartItem.product_price_after_personalisation == undefined">Customisation cost: ${{0*0}}</h3>

    <hr>
    <h3 ng-if="cartItem.product_price_after_personalisation">Total: ${{(cartItem.product_price_after_personalisation * product_quantity).toFixed(2)}}</h3>
    <h3 ng-if="cartItem.product_price_after_personalisation == undefined">Total: ${{(cartItem.product_price * product_quantity).toFixed(2)}}</h3>

    <br><br>
    <button class="btn btn-success" ng-click="proceed_to_checkout_delivery()">save & continue</button>
  </div>



</div>-->
