
  <div id="full-shirt-detail-body" class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="margin-left:1%;">
      <div  id="shirt-detail-desc-part" class="row" style="border-bottom: 1px solid #D7D7D7;">
          <!-- SHIRT DETAIL VIEW IMAGE THUMBNAIL PART  -->

                      <!-- SHIRT DETAIL VIEW DESCRIPTION PART  -->
                </div>
      <div class="row container-fluid" style="text-align:center;margin-top:3%;margin-bottom:3%;">
          <span style="font-size:2.5em;color:#D7D7D7;font-weight:normal;">Make My Own Style</span>
      </div>
      <div class="row container-fluid">
          <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

          </div>-->
          <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="width:100%;height:100%;">
              <div class="row container-fluid" >
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" id="myCarousel2">
                  <div class="carousel-inner" style="margin-left:1%;">
                    <div class="item active" ng-repeat="img in classicShirtObj" style="display:inline-block;float:left;margin-right:1%;">
                        <div class="" style="width:160px;height:160px; border:1px solid #590423; background-color: #9F9F9F;"></div>
                        <div style="text-align:center;font-size:120%;color:#CCCCCC;">Classic</div>
                        <div style="text-align:center;font-size:140%"><span><i class="fa fa-question-circle"></i></span></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
                    <!--<div class="item">
                      <div class="col-md-4"><a href="#"><img src="http://placehold.it/500/CCCCCC&amp;text=2" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                      <div class="col-md-4"><a href="#"><img src="http://placehold.it/500/eeeeee&amp;text=3" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                      <div class="col-md-4"><a href="#"><img src="http://placehold.it/500/f4f4f4&amp;text=4" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                      <div class="col-md-4"><a href="#"><img src="http://placehold.it/500/fcfcfc/333&amp;text=5" class="img-responsive"></a></div>
                    </div>
                    <div class="item">
                      <div class="col-md-4"><a href="#"><img src="http://placehold.it/500/f477f4/fff&amp;text=6" class="img-responsive"></a></div>
                    </div>-->

                  <!--<a class="left carousel-control" href="#myCarousel2" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                  <a class="right carousel-control" href="#myCarousel2" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>-->

              </div>
          </div>
          <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

          </div>-->

      </div>
      <div class="row container-fluid" style="margin-top:3%;">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="border-bottom: 1px solid #D7D7D7;">
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align:center;margin-top:-2%;">
                  <span style="font-size:130%;color:#D7D7D7;">Or<span>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="border-bottom: 1px solid #D7D7D7;">
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
      </div>
      <div class="row container-fluid" style="margin-top:4%;margin-bottom:4%;">
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="margin:0%;padding:0%;">
            <div style="padding: 3% 3% 3% 3%;border:1px solid #DDDCDA;margin-left:4%;">
                <button type="button" class="btn btn-default" style="width:100%;height:3.5em;font-size:140%;background-color:#CCCCCC;border-radius:0px;color:black;">My Present Styles</button>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="margin:0%;padding:0%;">
            <div style="padding: 3% 3% 3% 3%;border:1px solid #DDDCDA;margin-left:4%;">
                <button type="button" class="btn btn-default" style="width:100%;height:3.5em;font-size:140%;background-color:#6D032B;color:#EDEDED;border-radius:0px;color:white;"><span style="margin-right:15%;font-size:140%;"class="glyphicon glyphicon-scissors"></span>Make My Own Style</button>
            </div>
          </div>
          <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
      </div>
      <hr>
      <div id="mesurements-and-fit" class="row" style="margin-top:4%;">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="" style="text-align:center;">
                <span style="font-size:3em;color:#CCCCCC;">Measurements and Fit</span>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>

      </div>
      <div class="row " style="text-align:center; margin-top:4%;">
          <span style="font-size:2em;color:#6D032B;">Or</span>
      </div>
      <div class="row container-fluid" style="margin-top:4%;">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div style="padding: 3% 3% 3% 3%;border:1px solid #DDDCDA;margin-left:4%;">
                    <button type="button" class="btn btn-default" style="width:100%;height:3em;font-size:120%;background-color:#CCCCCC;border-radius:0px;color:black;text-align:center;">Custom Measurements</button>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div style="padding: 3% 3% 3% 3%;border:1px solid #DDDCDA;margin-left:4%;">
                    <button type="button" class="btn btn-default" style="width:100%;height:3em;font-size:120%;background-color:#CCCCCC;border-radius:0px;color:black;text-align:center;">Body Measurements</button>
                </div>
              </div>

        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="text-align:center;padding-top:2%;">
              <span style="font-size:1em;color:#CCCCCC;">Or</span>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-top:2%;">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="" style="border: 1px solid black; width:1.5em; height:1.5em;"></div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <span style="font-size:130%;color:black;">Send Shirt Sample</span>
            </div>
        </div>
      </div>
      <div class="row container-fluid" style="margin-top:7%;">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="border-bottom: 1px solid #D7D7D7;">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align:center;margin-top:-2%;padding:0%;">
                <div style="padding: 3% 3% 3% 3%;border:1px solid #DDDCDA;margin-left:0%;">
                    <button type="button" class="btn btn-default" style="width:100%;height:3.5em;font-size:130%;background-color:#6D032B;color:#EDEDED;border-radius:0px;color:white;">Add To Cart</button>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="border-bottom: 1px solid #D7D7D7;">
            </div>
      </div>

  </div>
