<!DOCTYPE html>
<html>
<head>

<style>

.page-wrap {
     width: 800px;
     margin: 0 auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

/*.active {
    background-color: #4CAF50;
}*/
.invoice-table{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: ;
}
#hidden_div{
  display: none;
}
</style>
<script>
function printDiv(divName) {
         var printContents = document.getElementById(divName).innerHTML;
         console.log(printContents);
         var originalContents = document.body.innerHTML;
         document.body.innerHTML = printContents;
         //var w = window.open("invoicePage.html","_blank");
         //w.print();
         window.print();
         document.body.innerHTML = originalContents;
         location.reload();
    }
</script>
</head>
<body>
<div class="page-wrap">
<div id="printableArea">
<h3>Your order has been placed successfully</h3>
<h1>Order {{invoiceDetailedJson.number}}</h1>
<table class="table table-hover">
	<thead><!--ng-repeat="i in invoiceDetailedJson"-->


		<tr>
			<th>Billing Addres</th>
			<th>Shipping Address</th>
			<th>Shipments</th>
			<th>Payment Information</th>
		</tr>
	</thead>
	<tbody><!-- ng-repeat="invoice in invoiceDetailedJson"-->
		<tr>
      <td>{{invoiceDetailedJson.bill_address.full_name}}<br/>
        {{invoiceDetailedJson.bill_address.address1}}<br/>
        {{invoiceDetailedJson.bill_address.address2}}
        {{invoiceDetailedJson.bill_address.city}} {{invoice.bill_address.state_text}} {{invoice.bill_address.zipcode}}<br/>
        {{invoiceDetailedJson.bill_address.country.iso_name}}<br/>
        Phone {{invoiceDetailedJson.bill_address.phone}}<br/>
      </td>
      <td>{{invoiceDetailedJson.ship_address.full_name}}<br/>
        {{invoiceDetailedJson.ship_address.address1}}<br/>
        {{invoiceDetailedJson.ship_address.address2 ? ','+invoiceDetailedJson.ship_address.address2: ''}}
        {{invoiceDetailedJson.ship_address.city}} {{invoice.ship_address.state_text}} {{invoice.ship_address.zipcode}}<br/>
        {{invoiceDetailedJson.ship_address.country.iso_name}}<br/>
        Phone {{invoiceDetailedJson.ship_address.phone}}<br/>
      </td>

      <td ng-repeat="shipment in invoiceDetailedJson.shipments">
        <!--<div ng-repeat="rate in shipment.shipping_rates">
          {{rate.name}}
        </div-->
        {{shipment.selected_shipping_rate.name}}
      </td>
      <td ng-if="(invoiceDetailedJson.payments.length>0)&&payment.state=='completed'" ng-repeat="payment in invoiceDetailedJson.payments">
        {{payment.payment_method.name}}
      </td>
      <td ng-if="invoiceDetailedJson.payments.length==0">
        Payment due
      </td>
		</tr>


	</tbody>
</table>

<div >
  <legend>Order Details</legend>
  <table class="table">
    <thead >
    <th></th>
    <th>Item</th>
    <th>Price</th>
     <th>Qty</th>
     <th>Total</th>
     <thead>
       <tbody>
         <tr ng-repeat="item in invoiceDetailedJson.line_items">
            <td><img src="{{getImage(item.variant.images[0].mini_url)}}" alt="" /></td>
            <td><h4>{{item.variant.name}}</h4>{{item.variant.description}}</td>
            <td>{{item.single_display_amount}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.display_amount}}</td>
          </tr>
          <tr>
             <td> </td>
             <td>Subtotal:</td>
             <td> </td>
             <td> </td>
             <td>{{invoiceDetailedJson.display_item_total}}</td>
          </tr>
          <tr>
            <td> </td>
            <td></td>
            <td></td>
            <td ng-repeat="shipment in invoiceDetailedJson.shipments">Shipping:{{shipment.shipping_method.name}}</td>
            <td ng-repeat="shipment in invoiceDetailedJson.shipments">{{shipment.display_cost}}</td>
          </tr>
          <tr>
            <td> </td>

            <td></td>
            <td></td>
           <td>Tax:</td>
           <td>{{invoiceDetailedJson.display_tax_total}}</td>
          </tr>
          <div class="table-div">
           <tr>
             <td> </td>

             <td></td>
             <td></td>
             <td>Order Total:</td>
             <td> {{invoiceDetailedJson.display_total}}</td>
           </tr>
         </div>
       </tbody>
  </table>
</div>
</div>
<!-- <div ><h4>Thank you for your business. Please print out a copy of this confirmation page for your records. -->
</h4></div>
<div class="" style="text-align: center">
  <button type="button" ui-sref="customer.home" ui-sref-opts="{reload: true}">Home</button>
  <button type="button" name="button"onclick="printDiv('printableArea')">Print</button>
</div>
<!-- <input type="button" class="btn btn-primary" onclick="printDiv('printableArea')" value="Print" /> -->


</div>
</body>
</html>
