<!--This is for adding a inventory-->
<script type="text/ng-template" id="createProductInventoryModal.html">
        <div class="modal-header">
            <center><h3 class="modal-title">ADD A INVENTORY</h3></center>
            <p style="color:red">Enter valid data for creating the inventory </p>
        </div>
        <hr>
        <div class="modal-body">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <div class="row" style="margin-top:2%;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                            <span> SKU </span>
                            <br>
                            <input type="text" ng-model="modalData.parent_sku_obj" class="form-control">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                            <span>Quantity </span>
                            <input type="number" ng-model="luxireStock.quantity" class="form-control" id="quantity">
                        </div>
                    </div>
                    <div class="row" style="margin-top:3%;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <span>Rack </span>
                          <input type="text" ng-model="luxireStock.rack" class="form-control" id="rack">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" >
                          <span>Threshold </span>
                          <input type="number" ng-model="luxireStock.threshold" class="form-control" id="thresold">
                        </div>
                    </div>
                    <div class="row" style="margin-top:3%;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <span>Measuring unit</span>
                          <div ng-repeat="type in luxireProperties">
                            <select ng-if="type.name == 'Inventory-measuring-unit'" class="form-control" ng-model="luxireStock.measuring_unit" >
                              <option value = "0" label = "Please Select"></option>
                              <option ng-repeat="val in type.value.split(',')" value="{{val}}">
                                  {{val}}
                              </option>
                            </select>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                          <span>Fabric width </span>
                          <input type="number" ng-model="luxireStock.fabricWidth" class="form-control" tooltip-placement="top" uib-tooltip="Enter the value in as per the Measuring unit">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top:4%;">
                          <input type="checkbox" value="" ng-model="luxireStock.backorderable"><span style="padding-left:2%;">Backorderable</span>
                          <span style="padding-left:4%; padding-right: 2%;"><input type="checkbox" ng-model="luxireStock.in_house" name="inhouse"></span><span>Inhouse</span>
                        </div>
                    </div>
                    <div class="row" style="margin-top:3%;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

                </div>

            </div>


            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <center>
                      <button class="btn btn-primary" type="button" ng-click="ok()" style="margin-left:4%;">OK</button>
                      <button class="btn btn-primary" type="button" ng-click="cancel()" style="margin-left:4%;">Cancel</button>
                    </center>
                </div>
            </div>
        </div>
</script>
<!--This is used for editing the inventory-->
<script type="text/ng-template" id="editModalContent.html">
  <div class="modal-header">
    <center>
      <h3 class="modal-title">EDIT A INVENTORY</h3>
    </center>
  </div>
  <hr>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
          <div class="row" style="margin-top:2%;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <span>Quantity </span>
              <input type="text" ng-model="luxireStock.physical_count_on_hands" class="form-control" id="quantity">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="; padding-left:0%;">
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <span>Enter quantity </span>
                <input type="text" class="form-control" ng-model="quantity" id="quantity">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:5%;">
                <button class="btn btn-primary" type="button" ng-click="addQuantity(quantity)" style="margin-left:4%; width:90%;">add</button>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:5%;">
                <button class="btn btn-primary" type="button" ng-click="setQuantity(quantity)" style="margin-left:4%; width:90%;">set</button>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top:3%;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <span>Rack </span>
              <input type="text" ng-model="luxireStock.rack" class="form-control" id="rack">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <span>Thresold </span>
              <input type="text" ng-model="luxireStock.threshold" class="form-control" id="thresold">
            </div>
          </div>
          <div class="row" style="margin-top:3%;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
              <span>Measuring unit</span>
              <div ng-repeat="type in luxireProperties">
                <select ng-if="type.name == 'Inventory-measuring-unit'" class="form-control" ng-model="luxireStock.measuring_unit">
                      <option value = "0" label = "Please Select"></option>
                      <option ng-repeat="val in type.value.split(',')" value="{{val}}">
                          {{val}}
                      </option>
                    </select>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top:4%;">
              <input type="checkbox" value="" ng-model="luxireStock.backorderable"><span style="padding-left:2%;">Backorderable</span>
              <span style="padding-left:4%; padding-right: 2%;"><input type="checkbox" ng-model="luxireStock.in_house" name="inhouse"></span><span>Inhouse</span>
            </div>
          </div>
          <div class="row" style="margin-top:3%;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">

            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">

        </div>

      </div>


    </div>
  </div>
  <div class="modal-footer">
    <div class="container-fluid">
      <div class="row">
        <center>
          <button class="btn btn-primary" type="button" ng-click="ok()" style="margin-left:4%;">OK</button>
          <button class="btn btn-warning" type="button" ng-click="cancel()" style="margin-left:2%">Cancel</button>
        </center>
      </div>
    </div>
  </div>
</script>
<!--This modal is used as datepicker-->
<script type="text/ng-template" id="datePickerModal.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Choose the date</h3>
  </div>
  <hr />
  <div class="modal-body" id="modal-body">
    <div style="display:inline-block;">
      Selected date is: <input type="text" ng-model="date1" style="width=31px;" />
      <hr />
      <div uib-datepicker ng-model="date1" class="well well-sm"></div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>
 <!--This modal is just for confirmation-->
<script type="text/ng-template" id="confirmation.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Warning</h3>
  </div>
  <hr />
  <div class="modal-body">
    <h4 class="modal-body"> Are you sure, you want to exit from creating a product? </h4>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  </div>
</script>
<div class="container-fluid" style="height:100%">
  <div class="row" style="height: 3.3em; line-height: 3.3em; border-bottom: 1px solid #DBDEE0;">
    <div class="col-lg-4 col-md-4" style="text-align: left;font-size: 20px;">
      <i class="fa fa-tag" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:100;color:#928CA2;">Products / <span style="color: black;">Add a product</span></span>
    </div>
    <div class="col-lg-5 col-md-5">

    </div>
    <div class="col-lg-3 col-md-3" style="text-align: right;">
      <!--<button type="button" class="btn btn-default btn-info" ui-sref="admin.product">Home</button>-->
      <button type="button" class="btn btn-default" ui-sref="admin.product" ng-click="activeButton('products')">Cancel</button>
      <button type="button" class="btn btn-default" ng-click="createProduct()" >Create product</button>
    </div>
  </div>
<!-- 22nd march change : add this div -->
<div class="row" ng-show="loading" style="height: 93vh; width: 100%; background-color:white; opacity: 0.6; line-height: 93vh; text-align: center;z-index: 9999; padding: 0; margin: 0; position: absolute;">
  <img src="lib/assets/loader.gif"/>
</div>

  <div class="row" style="height: 93vh;">
    <div class="container-fluid admin-console-content">
      <div class="row">
        <div class="col-lg-8 col-md-8" style="padding-left:2%;">
          <div class="placard">
            <span style="font-size: 13px;" class="required">Title</span>
            <br>
            <input type="text" id="title" ng-model="product.name" class="form-control" placeholder="type product name..."><!-- 18th march change: add placeholder field   @rajib -->
            <br>
            <span style="font-size: 13px;" class="required">Parent sku</span>
            <br>
            <input type="text" id="parentSku" ng-model="luxireProduct.parent_sku" ng-blur="checkParentSku(luxireProduct.parent_sku)" class="form-control" placeholder="Parent SKU..">
            <br>
            <span class="required"style="font-size: 13px;">Handle</span>
            <br>
            <input type="text" id="slug" ng-model="product.slug"  class="form-control" placeholder="handle..">
            <br>
            <span style="font-size: 13px;" class="required">Shipping category id</span>
            <br>
            <!-- <input type="text" ng-model="product.shipping_category_id"  class="form-control" placeholder="shipping category id.."> --> <!-- 21st march changes-->
            <input class="form-control" id="shipping_category_id" type="number"  ng-model="product.shipping_category_id"   ng-blur="checkShippingCatgoryId(product.shipping_category_id)" placeholder="shipping category id.." required> <!-- 21st march changes -->
            <span ng-show="shipping_emp_msg"  style="color:red;">Shipping Category id can not be empty..</span> <!-- 21st march changes add this line-->
            <span ng-show="product.shipping_category_id < 0 " style="color:red;">Shipping Category id can not be negetive..</span> <!-- 21st march changes add this line-->
            <span ng-show="product.shipping_category_id == 0 " style="color:red;">Invalid Shipping Category id..</span> <!-- 21st march changes add this line-->
            <br>
            <span style="font-size: 13px;">Description</span>
            <br>
            <div class="panel panel-default">
              <div class="panel-heading" style="padding: 5px;display: none">
                <div class="btn-group" role="group" aria-label="...">
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="fa fa-font"></span>
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Paragraph</a></li>
                      <li><a href="#">Heading 1</a></li>
                      <li><a href="#">Heading 2</a></li>
                      <li><a href="#">Heading 3</a></li>
                      <li><a href="#">Heading 4</a></li>
                      <li><a href="#">Heading 5</a></li>
                      <li><a href="#">Heading 6</a></li>
                      <li><a href="#">Blockquote</a></li>
                    </ul>
                  </div>
                  <button type="button" class="btn btn-default"><span class="fa fa-bold"></span></button>
                  <button type="button" class="btn btn-default"><span class="fa fa-italic"></span></button>
                </div>
                <div class="btn-group" role="group" aria-label="...">
                  <button type="button" class="btn btn-default" aria-label="Unordered List">
                    <span class="fa fa-list-ul" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-default" aria-label="Ordered List">
                    <span class="fa fa-list-ol" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-default" aria-label="Indent">
                    <span class="fa fa-indent" aria-hidden="true"></span>
                  </button>
                  <button type="button" class="btn btn-default" aria-label="Outdent">
                    <span class="fa fa-outdent" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
              <div class="panel-body">
                <textarea class="description" ng-model="product.description" rows="9" cols="40"></textarea>
              </div>
            </div>
          </div>

          <!-- previous images field -->

          <div class="placard">
            <span style="font-size: 20px;">Pricing</span>
            <br>
            <br>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <span style="font-size: 13px;" class="required">Price</span>
              </div>
              <div class="col-lg-6 col-md-6">
                <span style="font-size: 13px;">Compare at price</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <!-- <input type="text" class="form-control" ng-model="product.price"> --> <!-- 21st march changes commented  this line-->
                <input class="form-control" id="price" type="number" min="0" step="0.25" ng-model="product.price" value="0.00"  required> <!-- 21st march changes add this line-->
                <span ng-show="product.price < 0 " style="color:red;">Product price can not be negetive..</span> <!-- 21st march changes add this line-->
                <span ng-show="product.price == 0 " style="color:red;">Invalid Product price..</span> <!-- 21st march changes add this line-->
              </div>
              <div class="col-lg-6 col-md-6">
                <input type="text" class="form-control" ng-model="luxireProduct.product_compare_at_price">
              </div>
            </div>
            <br>
            <input type="checkbox" ng-model="luxireProduct.product_charge_taxes_flag" value="true"> &nbsp;&nbsp;&nbsp;<span style="font-size: 13px;">Charge taxes on this product</span>
            <hr>
            <span style="font-size: 20px;">Inventory</span>
            <div style="float:right;"><button type="button" class="btn btn-default" ng-disabled="!showEditInventory" ng-click="openEditInventoryModal('lg')">Edit Inventory</button></div>

            <br>
            <br>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <span style="font-size: 13px;">Inventory Policy</span></span>
              </div>
              <div class="col-lg-6 col-md-6">
                <span style="font-size: 13px;">Barcode <span style="color:#95A7B7;">(ISBN, UPC, etc.)</span></span>
              </div>

            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6" >
                <div ng-repeat="type in luxireProperties">
                    <select ng-if="type.name == 'inventory-policy'" class="form-control" ng-model="luxireProduct.product_inventory_policy" >
                      <option value = "0" label = "Please Select"></option>
                      <option ng-repeat="val in type.value.split(',')" value="{{ val }}">
                          {{ val }}
                      </option>
                    </select>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <input type="text" class="form-control" ng-model="luxireProduct.product_barcode">
              </div>

            </div>
            <hr>
          
            <!--<div class="row">
              <div class="col-lg-6 col-md-6">
                <span style="font-size: 13px;">SKU <span style="color:#95A7B7;">(Stock keeping unit)</span></span>
              </div>
              <div class="col-lg-6 col-md-6">
                <span style="font-size: 13px;">Barcode <span style="color:#95A7B7;">(ISBN, UPC, etc.)</span></span>
              </div>
            </div>
            <div class="row">

              <div class="col-lg-6 col-md-6">
                <span style="font-size: 13px;">Inventory Policy</span></span>
              </div>
              <div class="col-lg-6 col-md-6">
                <input type="text" class="form-control" ng-model="productData.barcode">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <input type="text" class="form-control" ng-model="productData.sku">
              </div>
              <div class="col-lg-6 col-md-6">
                <span style="font-size: 13px;"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <select class="form-control" name="">
                  <option value="1">Don't track inventory</option>
                  <option value="2">Spree tracks this product's inventory</option>
                </select>
              </div>
              <div class="col-lg-6 col-md-6">

              </div>
            </div>-->
            <span style="font-size: 20px;">Shipping</span>
            <br>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <span style="font-size: 13px;">Weight</span></span>
              </div>
              <div class="col-lg-6 col-md-6">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <div class="input-group" style="width:90%;">
                    <!-- <input type="text" class="form-control" aria-label="..." value="0.0" ng-model="product.weight"> -->
                    <input class="form-control" type="number" min="0" step="any" ng-model="product.weight"  placeholder="product weight..." required> <!-- 21st march changes add this line-->

                    <div class="input-group-btn" style="width:30%;" >
                      <div ng-repeat="type in luxireProperties">
                        <select ng-if="type.name == 'shipping-weight-unit'" class="form-control" ng-model="luxireProduct.product_shipping_weight_unit" >
                          <option value = "0" label = "Please Select"></option>
                          <option ng-repeat="val in type.value.split(',')" value="{{val}}">
                              {{val}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div><!-- /input-group -->
                <span ng-show="product.weight < 0 " style="color:red;">Product Weight can not be negetive..</span> <!-- 22st march changes add this line-->
                <span ng-show="product.weight == 0 " style="color:red;">Invalid Product Weight..</span> <!-- 22st march changes add this line-->
              </div>
              <div class="col-lg-6 col-md-6">

              </div>
            </div>

            <div> <!-- 22st march changes: add this div -->
              <input type="checkbox" ng-model="luxireProduct.product_requires_shipping" value="true"> &nbsp;&nbsp;&nbsp;<span style="font-size: 13px;">This product requires shipping</span>
            </div>

          </div>
          <div class="placard">
            <h4 style="font-size: 20px;">Images</h4>
            Add New Image
            <input type="file" name="name" ng-file-select ng-file-change="upload_image($files)" value="">
            <div style="padding-top:5%;padding-bottom:5%;"><img id="product_img" src="{{getImage(product.image)}}" alt="" style="width:40%;height:40%"></div>
            <!-- <input type="file" name="name" ng-file-select ng-file-change="upload_product_image($files)" value=""> -->
            <!-- <button class="btn btn-primary" style="margin-top: 2%" ng-click="post_image()" name="button">Update</button> -->
            <img id="product_image" src="" alt="" />
              <!-- <label style="float: right; color: #479ccf;cursor: pointer;" id="uploadImage">Upload Product Image</label> -->
              <!-- <label ng-file-select ng-file-change="uploadSponsorLogo($files)" style="float: right; color: #479ccf;cursor: pointer;" id="uploadImage">Upload image</label> -->
            <br>
            <!-- <label ng-file-select ng-file-change="uploadFile($files)" style="float: right; color: #479ccf;cursor: pointer;" id="uploadImage">Upload File</label> -->

            <div class="drag-drop">
              <img ng-src="{{productImage}}" style="margin: 30px;">
            </div>
          </div>

          <!-- <div class="placard">
            <span style="font-size: 20px;">Images</span>
              <label ng-file-select ng-file-change="uploadSponsorLogo($files)" style="float: right; color: #479ccf;cursor: pointer;" id="uploadImage">Upload image</label>
            <br>
            <label ng-file-select ng-file-change="uploadFile($files)" style="float: right; color: #479ccf;cursor: pointer;" id="uploadImage">Upload File</label>

            <div class="drag-drop">
              <img ng-src="{{productImage}}" style="margin: 30px;">
            </div>
          </div> -->
          <div class="placard" ng-show="true">
            <span style="font-size: 20px;">Swatch</span>
            <br>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <span style="font-size: 13px;">Price</span>
              </div>
              <div class="col-lg-6 col-md-6">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <input type="number" class="form-control" ng-model="swatchPrice" ng-init="swatchPrice">
              </div>
              <div class="col-lg-6 col-md-6">
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-4 col-md-4" style="padding-left:0%; padding-right:2%;">
          <div class="placard-grey" ng-init="calFlag = true">
            <span style="font-size: 20px;">
              Visibility
            </span>
            <hr>
            <div class="row">
              <!--<div class="col-lg-10 col-md-10">
                <input type="checkbox" ng-model="luxireProduct.product_visibility" value="true"> <span style="font-size: 13px;">&nbsp;&nbsp;&nbsp;&nbsp;Online store</span><br>
                <span ng-show="showdate">This Product Will Be Published On : {{ day+", "+dt+" "+mon+" "+yr }}</span>
              </div>
              <div class="col-lg-2 col-md-2" style="text-align: right;">
                <i class="fa fa-calendar-o" style="color: #479CCF; float: right;cursor: pointer;" tooltip="Set a publish date" ng-click="calFlag = !calFlag; showDate()"></i>
              </div>-->
            </div>
            <div class="row" style="-webkit-transition: all linear 0.5s; transition: all linear 0.5s; margin-top: 10px">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Publish This Product On:</span>
                <!--<datetimepicker data-ng-model="luxireProduct.product_publish_date"></datetimepicker>-->
                <p class="input-group">
                  <input type="text" ng-model="date" style="height:31px" /> <button style="margin-left: 5px;" type="button"
                    class="btn btn-default" ng-click="openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                  <span class="input-group-btn">
                   
                   </span>
                </p>
              </div>
            </div>
          </div>
          <div class="placard-grey">
            <span style="font-size: 20px;">
              Organization
            </span>
            <br>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;" class="required">Product type</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <select  id="productType" class="form-control" ng-model="luxireProduct.luxire_product_type_id" autofocus>
                    <option value="">--- Select an option ---</option>
                    <option ng-selected= "value.id == luxireProduct.luxire_product_type_id" ng-repeat="value in allproductType"
                            value="{{value.id}}">{{value.product_type}}
                    </option>
                </select>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;" class="required">Vendor</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <select id="vendor" class="form-control" ng-model="luxireProduct.luxire_vendor_master_id" >
                  <option value="">--- Select an option ---</option>
                  <option ng-repeat="type in luxireVendor" value="{{type.id}}">
                      {{type.name}}
                  </option>
                </select>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span class="required" style="font-size:13px;" class="requried" >Length Required </span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <input type="number" id="lengthRequired" ng-model="luxireProduct.length_required" class="form-control" placeholder="requried length ..">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span class="required" style="font-size: 13px;" class="required">SKU</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <input type="text" id="productSku" class="form-control" aria-label="..." ng-model="product.sku" placeholder="product sku...">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Collections</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <tags-input ng-model="rule" display-property="pretty_name" key-property="id" add-from-autocomplete-only="true"
                      replace-spaces-with-dashes="false" on-tag-added="add_product_tag($tag)" on-tag-removed="remove_product_tag($tag)">
                          <!-- <auto-complete  load-on-down-arrow="true" max-results-to-show="100"   select-first-match="true" source="loadItems($query)"></auto-complete> -->
                           <auto-complete source="loadItems($query)"
                              min-length="0"
                             load-on-focus="true"
                             load-on-empty="true">
                           </auto-complete>
                </tags-input>
              </div>
            </div>
            <br>
            <span style="font-size: 13px; color: #798C9E;">Add this product to a collection so it's easy to find in your store.</span>
            <br>
            <hr>
            <div class="row">
              <div class="col-lg-8 col-md-8">
                <span style="font-size: 13px;">Tags</span>
              </div>
              <div class="col-lg-4 col-md-4" style="text-align: right;">
                <!-- <a href="" style="font-size: 13px">View all tags</a>    TO DO-->
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                 <!-- <tags-input ng-model="tagsarr"></tags-input> -->
                 <tags-input ng-model="selectedTagsArr"
                 display-property="text"
                 replace-spaces-with-dashes="false"
                 placeholder="Add tags...">
                   <auto-complete source="loadAutocomplete($query,'tags')"
                     min-length="0"
                     load-on-focus="true"
                     load-on-empty="true">
                   </auto-complete>
                 </tags-input>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">No of color</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                  <input type="text" ng-model="luxireProduct.no_of_color" class="form-control">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Colors</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                   <!-- <tags-input ng-model="colorTagsArr"></tags-input> -->
                   <tags-input ng-model="selectedColorArr"
                   display-property="text"
                   replace-spaces-with-dashes="false"
                   placeholder="Add colors...">
                     <auto-complete source="loadAutocomplete($query,'color')"
                     min-length="0"
                     load-on-focus="true"
                     load-on-empty="true">
                   </auto-complete>
                   </tags-input>
              </div>
            </div>
            <br>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;" class="">Usage</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <tags-input ng-model="selectedUsageArr"
                display-property="text"
                replace-spaces-with-dashes="false"
                placeholder="Add usage...">
                  <auto-complete source="loadAutocomplete($query,'usage')"
                    min-length="0"
                    load-on-focus="true"
                    load-on-empty="true">
                </auto-complete>
                </tags-input>

              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;" class="">Mill</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div ng-repeat="type in luxireProperties">
                  <select ng-if="type.name == 'mill' && type.value.length >= 1" class="form-control" >
                    <option value = "0" label = "Please Select"></option>
                    <option ng-repeat="val in type.value.split(',')" value="{{val}}">
                        {{val}}
                    </option>
                  </select>
                  <!-- <div ng-if="type.name == 'mill' && type.value.length <= 1">
                    <input type="text" ng-model="luxireProduct.usage" class="form-control">
                  </div> -->
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Country Of Origin</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div ng-repeat="type in luxireProperties">
                  <select ng-if="type.name == 'country-of-origin' && type.value.length >= 1" class="form-control" >
                    <option value = "0" label = "Please Select"></option>
                    <option ng-repeat="val in type.value.split(',')" value="{{val}}">
                        {{val}}
                    </option>
                  </select>
                  <div ng-if="type.name == 'country of origin' && type.value.length <= 1">
                    <input type="text" ng-model="luxireProduct.usage" class="form-control">
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row"> <!-- 28th march add this div -->
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;" class="">Related Fabric</span>
              </div>
            </div>
            <div class="row"> <!-- 28th march add this div -->
              <div class="col-lg-12 col-md-12">
                  <!-- <input type="text" ng-model="luxireProduct.related_fabric" class="form-control"> -->
                  <tags-input ng-model="relatedFabric"
                           display-property="name"
                           placeholder="Add Related Products..."
                           replace-spaces-with-dashes="false">
                        <auto-complete  source="loadRelatedFabric($query)"
                              min-length="0">
                        </auto-complete>
                  </tags-input>
              </div>
            </div>
            <br>
            <div class="row"> <!-- 28th march add this div -->
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;" class="">Construction</span>
              </div>
            </div>
            <div class="row"> <!-- 28th march add this div -->
              <div class="col-lg-12 col-md-12">
                  <input type="text" ng-model="luxireProduct.construction" class="form-control"> <!-- 23rd march add this line-->
              </div>
            </div>
            <br>
            <!-- <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Gift Card</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div ng-repeat="type in luxireProperties">
                  <select ng-if="type.name == 'gift-card'" class="form-control" ng-model="luxireProduct.gift_card_flag" >
                    <option value = "" label = "Please Select"></option>
                    <option  value = "true" >Yes</option>
                    <option  value = "false" >No</option>
                    <option ng-repeat="val in type.value.split(',')" value="{{val}}">
                        {{val}}
                    </option>
                  </select>
              </div>
              </div>
            </div> -->


            <!-- Added on 20/05/16 -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <!-- <span style="font-size: 13px;">Gift Card</span> -->
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                  <select id="giftcard" class="form-control" ng-model="product.is_gift_card" >
                    <option value = "" label = "Please Select"></option>
                    <option  value = "true" >Yes</option>
                    <option  value = "false" >No</option>
                  </select>
            </div>
          </div>
<!-- 22st march changes: add this div -->
          <!-- <div class="row">
              <div class="col-lg-12 col-md-12">
                <input type="checkbox" ng-model="luxireProduct.is_gift_card" value="true"> &nbsp;&nbsp;&nbsp;<span style="font-size: 13px;">Gift card</span>
              </div>
            </div> -->


            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;" class="">GLM</span>
              </div>
            </div>
            <div class="row">
                <!-- <select ng-if="type.name == 'glm' && type.value.length >= 1" class="form-control" >
                  <option value = "0" label = "Please Select"></option>
                  <option ng-repeat="val in type.value.split(',')" value="{{val}}">
                      {{val}}
                  </option>
                </select> -->
                <div class="col-lg-12 col-md-12" >
                  <input type="text" ng-model="luxireProduct.glm" class="form-control">
                </div>
            </div>
            <!--  28th march chnages: commented the technical description part  -->
            <!-- <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;" class="">Technical Description</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <textarea class="description" style="border: 1px solid lightGrey;" ng-model="luxireProduct.technical_description" rows="3" cols=""></textarea>--><!-- 22nd march changes the style property-->
              <!--</div>
            </div>-->
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;" class="">Variant Fullfillment Service</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <!-- <select class="form-control" ng-model="luxireProduct.variant_fullfillment_service">
                  <option value = "0" label = "Please Select"></option>
                  <option >
                  </option>
                </select> -->
                <input type="text" ng-model="luxireProduct.product_fullfillment_service" class="form-control">
              </div>
            </div>
            <br><!-- 22nd march -->
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Weave Type</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div ng-repeat="type in luxireProperties">
                  <select ng-if="type.name == 'weave-type'"class="form-control" ng-model="luxireProduct.product_weave_type" >
                    <option value="">--- Select an option ---</option>
                    <option ng-repeat="val in type.value.split(',')" value="{{val}}">
                        {{val}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Thread Count</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <input class="form-control" type="number" ng-model="luxireProduct.thread_count"  placeholder="Thread count..." required> <!-- 22st march changes add this line-->
                <!-- <input type="text" ng-model="luxireProduct.thread_count" class="form-control"> -->
                <span ng-show="luxireProduct.thread_count < 0 " style="color:red;">Thread Count can not be negetive..</span> <!-- 22st march changes add this line-->
                <span ng-show="luxireProduct.thread_count == 0 " style="color:red;">Invalid Thread Count..</span> <!-- 22st march changes add this line-->
              </div>
            </div>
            <br>
            <!-- <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Required Length</span>
              </div>
            </div> -->
            <!-- <div class="row">
              <div class="col-lg-12 col-md-12"> -->
                <!-- <input class="form-control" type="number" ng-model="luxireProduct.length_required"  placeholder="Required Length..." required> --><!-- 22st march changes add this line-->
                <!-- <input type="text" ng-model="luxireProduct.length_required" class="form-control">

              </div>
            </div> -->
            <!-- 28th march commented material portion -->
            <!-- <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Material</span>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div ng-repeat="type in luxireProperties">
                  <select ng-if="type.name == 'material'" class="form-control" ng-model="luxireProduct.material" >
                    <option value = "0" label = "Please Select"></option>
                    <option ng-repeat="val in type.value.split(',')" value="{{val}}">
                        {{val}}
                    </option>
                  </select>
                </div>
              </div>
            </div> -->
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Wash Care</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <tags-input ng-model="selectedWashCareArr"
                  display-property="text"
                  replace-spaces-with-dashes="false"
                  placeholder="Add wash care...">
                  <auto-complete source="loadAutocomplete($query,'washCare')"
                    min-length="0"
                    load-on-focus="true"
                    load-on-empty="true">
                  </auto-complete>
                </tags-input>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Stiffness</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <div class="input-group">
                    <input type="text" class="form-control" aria-label="..." value="0.0" ng-model="luxireProduct.stiffness">
                    <div class="input-group-btn" style="width:30%;">
                      <div ng-repeat="type in luxireProperties">
                        <select ng-if="type.name == 'stiffness-unit'" class="form-control" ng-model="luxireProduct.stiffness_unit" >
                          <option value = "0" label = "Please Select"></option>
                          <option ng-repeat="val in type.value.split(',')" value="{{val}}">
                              {{val}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--   TO DO: HAVE TO BIND WITH PRODUCT API  -->
            <!-- <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Ounces</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                  <input type="text" ng-model="luxireProduct.ounces" class="form-control">
              </div>
            </div> -->

            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">GSM</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                  <!-- <input type="text" ng-model="luxireProduct.gsm" class="form-control"> -->
                  <input class="form-control" type="number"  ng-model="luxireProduct.gsm"  placeholder="Thread count..." required> <!-- 22st march changes add this line-->
                  <span ng-show="luxireProduct.gsm < 0 " style="color:red;">GSM can not be negetive..</span> <!-- 22st march changes add this line-->
                  <span ng-show="luxireProduct.gsm == 0 " style="color:red;">Invalid GSM..</span> <!-- 22st march changes add this line-->
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Shrinkage</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                  <input type="text" ng-model="luxireProduct.shrinkage" class="form-control">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Pitch Sales</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <!-- <input type="text" ng-model="luxireProduct.pitch_sales" class="form-control"> -->
                <tags-input ng-model="selectedSalesPitchArr"
                display-property="text"
                replace-spaces-with-dashes="false"
                placeholder="Add pitch sales...">
                  <auto-complete source="loadAutocomplete($query,'salesPitch')"
                    min-length="0"
                    load-on-focus="true"
                    load-on-empty="true">
                  </auto-complete>
                </tags-input>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Composition</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <input type="text" ng-model="luxireProduct.composition" class="form-control">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Pattern</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div ng-repeat="type in luxireProperties">
                  <select ng-if="type.name == 'pattern'" class="form-control" ng-model="luxireProduct.pattern" >
                    <option value = "0" label = "Please Select"></option>
                    <option ng-repeat="val in type.value.split(',')" value="{{val}}">
                        {{val}}
                    </option>
                  </select>
              </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Transparency</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div ng-repeat="type in luxireProperties">
                  <select ng-if="type.name == 'transparency'" class="form-control" ng-model="luxireProduct.transparency" >
                    <option value = "0" label = "Please Select"></option>
                    <option ng-repeat="val in type.value.split(',')" value="{{val}}">
                        {{val}}
                    </option>
                  </select>
              </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Wrinkle Resistant</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div ng-repeat="type in luxireProperties">
                  <select ng-if="type.name == 'wrinkle-resistant'" class="form-control" ng-model="luxireProduct.wrinkle_resistance" >
                    <option value = "" label = "Please Select"></option>
                    <option  value = "true" >Yes</option>
                    <option  value = "false" >No</option>
                    <!-- <option ng-repeat="val in type.value.split(',')" value="{{val}}">
                        {{val}}
                    </option> -->
                  </select>
              </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Fabric Width</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <input type="text" ng-model="luxireProduct.width" class="form-control">
                <!-- <input class="form-control" type="number" min="0" step="any" ng-model="luxireProduct.thickness"  placeholder="Thickness..." required> --><!-- 22st march changes add this line-->
                <!--<span ng-show="luxireProduct.thickness < 0 " style="color:red;"> Thickness can not be negetive..</span> --><!-- 22st march changes add this line-->
                <!--<span ng-show="luxireProduct.thickness == 0 " style="color:red;">Invalid Thickness..</span> --> <!-- 22st march changes add this line-->
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Thickness</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <!-- <input type="text" ng-model="luxireProduct.thickness" class="form-control"> -->
                <input class="form-control" type="number" min="0" step="any" ng-model="luxireProduct.thickness"  placeholder="Thickness..." required> <!-- 22st march changes add this line-->
                <span ng-show="luxireProduct.thickness < 0 " style="color:red;"> Thickness can not be negetive..</span> <!-- 22st march changes add this line-->
                <span ng-show="luxireProduct.thickness == 0 " style="color:red;">Invalid Thickness..</span> <!-- 22st march changes add this line-->
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <span style="font-size: 13px;">Season</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <tags-input ng-model="selectedSeasonArr"
                display-property="text"
                replace-spaces-with-dashes="false"
                placeholder="Add season...">
                  <auto-complete source="loadAutocomplete($query,'season')"
                    min-length="0"
                    load-on-focus="true"
                    load-on-empty="true">
                  </auto-complete>
                </tags-input>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="position: absolute;width: 100%;bottom: 0;font-size: 30px;text-align: center; z-index: 3">
    <uib-alert style="margin-bottom: 0px !important"  ng-repeat="alert in alerts" type="{{alert.type}}" close="close_alert($index)" dismiss-on-timeout="3000">{{alert.message}}</uib-alert>
  </div>
</div>
