<div class="admin-sidebar-header2">&nbsp;&nbsp;&nbsp;&nbsp;PRODUCTS</div>
<div class="admin-sidebar-tab" style="font-size:13px;" ui-sref="admin.product">&nbsp;&nbsp;&nbsp;&nbsp;Products</div>
<div class="admin-sidebar-tab" style="font-size:13px;" ui-sref="admin.productTypes">&nbsp;&nbsp;&nbsp;&nbsp;Product Types</div>
<div class="admin-sidebar-tab" style="font-size:13px;" ui-sref="admin.product_attributes">&nbsp;&nbsp;&nbsp;&nbsp;Product Attributes</div>
<div class="admin-sidebar-tab" style="font-size:13px;" ui-sref="admin.styleMasterHome">&nbsp;&nbsp;&nbsp;&nbsp;Product Styles</div>
<div class="admin-sidebar-tab" style="font-size:13px;" ui-sref="admin.inventory">&nbsp;&nbsp;&nbsp;&nbsp;Inventory</div>
<div class="admin-sidebar-tab" style="font-size:13px;" ui-sref="admin.collectionHome">&nbsp;&nbsp;&nbsp;&nbsp;Collections</div>
<div class="admin-sidebar-tab" style="font-size:13px;" ui-sref="admin.giftcard">&nbsp;&nbsp;&nbsp;&nbsp;Gift Card</div>
<div class="admin-sidebar-tab" style="font-size:13px;" ui-sref="admin.luxirePropertiesHome">&nbsp;&nbsp;&nbsp;&nbsp;Product Properties</div>
<div class="admin-sidebar-tab" style="font-size:13px;" ui-sref="admin.standard_sizes">&nbsp;&nbsp;&nbsp;&nbsp;Standard Sizes</div>
<div class="admin-sidebar-tab" style="font-size:13px;" ui-sref="admin.taxonomy">&nbsp;&nbsp;&nbsp;&nbsp;Taxonomy</div>
