<div class="admin-sidebar-header2">&nbsp;&nbsp;&nbsp;&nbsp;PRODUCTS</div>
<div class="admin-sidebar-tab" style="font-size:13px;" ng-click="activeButton('products')">&nbsp;&nbsp;&nbsp;&nbsp;Products</div>
<div class="admin-sidebar-tab" style="font-size:13px;" ui-sref="admin.productTypes">&nbsp;&nbsp;&nbsp;&nbsp;Product Types</div>
<div class="admin-sidebar-tab" style="font-size:13px;" ui-sref="admin.product_attributes">&nbsp;&nbsp;&nbsp;&nbsp;Product Attributes</div>
<div class="admin-sidebar-tab" style="font-size:13px;" ui-sref="admin.styleMasterHome">&nbsp;&nbsp;&nbsp;&nbsp;Product Styles</div>
<div class="admin-sidebar-tab" style="font-size:13px;" ui-sref="admin.inventory">&nbsp;&nbsp;&nbsp;&nbsp;Inventory</div>
<div class="admin-sidebar-tab" style="font-size:13px;" ui-sref="admin.collectionHome">&nbsp;&nbsp;&nbsp;&nbsp;Collections</div>
<div class="admin-sidebar-tab" style="font-size:13px;" ui-sref="admin.giftcard">&nbsp;&nbsp;&nbsp;&nbsp;Gift Card</div>
