<div class="" style="margin: 15% 25%;width: 50%;padding: 3%;color: red;border: solid 1px grey;border-top: solid 2px #800E6F;z-index: 99">
  <div class="row">
    <div class="col col-sm-8 col-md-8 col-lg-8 col-xs-8">
      Payment Failed
    </div>
    <div class="col col-sm-4 col-md-4 col-lg-4 col-xs-4" style="text-align: left; ">
      <button style="background-color: #8A247C;color: white;border-radius: 0px" class="btn btn-lux" ui-sref="customer.checkout_payment">Update payment data</button><br><br>
      <span style="color: #8A247C;cursor: pointer" ui-sref="customer.home"> > Go to Home</span>
    </div>
  </div>

</div>
