<style media="screen">
  .attribute-details{
    font-family: Roboto;
    font-size: 90%;
  }
</style>
<div class="attribute-details">
  <div id="button-down" style="margin: 1%; padding: 1%;border: solid 1px grey">
    <div class="row" style="margin-left: 0px; margin-right: 0px">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <uib-carousel interval="3000" >
          <uib-slide>
            <img style="max-width: 100%" src="assets/images/customer/attributes/collar/button-down.jpg" alt="" />
          </uib-slide>
          <uib-slide>
            <img style="max-width: 100%" src="assets/images/customer/attributes/collar/button-down.jpg" alt="" />
          </uib-slide>
        </uib-carousel>
      </div>
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <div class="" style="text-align: center; font-size: 250%;margin-top: 5%">
          Button Down Collar
        </div>
        <hr>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p class="attr-desc" style="font-weight: 400; color: grey">
            A conservative business and business-casual look with a fused, lightweight interlining for a crisp appearance. It works well open collar with a blazer and looks great with a tie. Definitely an old-school and more conservative look, it’s a great choice if you don’t want to stand out.
          </p>
        </div>
        <hr style="width: 100%">
        <div class="">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <span style="font-weight: 300;color: grey">Suggested Style: </span><span>Casual, Business</span>
            <hr style="margin-top: 5px; margin-bottom: 5px">
            <span  style="font-weight: 300;color: grey">Collar Point Length: </span><span>3"</span>
            <hr style="margin-top: 5px; margin-bottom: 5px">
            <span style="font-weight: 300;color: grey">Spread: </span><span>3"</span>
            <hr style="margin-top: 5px; margin-bottom: 5px">
            <span style="font-weight: 300;color: grey">Front Collar Band Height: </span><span>1"</span>
            <hr style="margin-top: 5px; margin-bottom: 5px">
            <span style="font-weight: 300;color: grey">Rear Collar Band Height: </span><span>1 3/8"</span>
            <hr style="margin-top: 5px; margin-bottom: 5px">
            <span style="font-weight: 300;color: grey">Tie Space: </span><span>3/8"</span>
            <hr style="margin-top: 5px; margin-bottom: 5px">
          </div>
        </div>

      </div>
    </div>
  </div>
  <div id="semi-spread" style="margin: 1%; padding: 1%;border: solid 1px grey">
    <div class="row" style="margin-left: 0px; margin-right: 0px">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <uib-carousel interval="3000" >
          <uib-slide>
            <img style="max-width: 100%" src="assets/images/customer/attributes/collar/semi-spread.jpg" alt="" />
          </uib-slide>
          <uib-slide>
            <img style="max-width: 100%" src="assets/images/customer/attributes/collar/semi-spread.jpg" alt="" />
          </uib-slide>
        </uib-carousel>
      </div>
      <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <div class="" style="text-align: center; font-size: 250%;margin-top: 5%">
          Semi Spread Collar
        </div>
        <hr>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <p class="attr-desc" style="font-weight: 400; color: grey">
            A conservative business and business-casual look with a fused, lightweight interlining for a crisp appearance. It works well open collar with a blazer and looks great with a tie. Definitely an old-school and more conservative look, it’s a great choice if you don’t want to stand out.
          </p>
        </div>
        <hr style="width: 100%">
        <div class="">
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <span style="font-weight: 300;color: grey">Suggested Style: </span><span>Casual, Business</span>
            <hr style="margin-top: 5px; margin-bottom: 5px">
            <span  style="font-weight: 300;color: grey">Collar Point Length: </span><span>3"</span>
            <hr style="margin-top: 5px; margin-bottom: 5px">
            <span style="font-weight: 300;color: grey">Spread: </span><span>3"</span>
            <hr style="margin-top: 5px; margin-bottom: 5px">
            <span style="font-weight: 300;color: grey">Front Collar Band Height: </span><span>1"</span>
            <hr style="margin-top: 5px; margin-bottom: 5px">
            <span style="font-weight: 300;color: grey">Rear Collar Band Height: </span><span>1 3/8"</span>
            <hr style="margin-top: 5px; margin-bottom: 5px">
            <span style="font-weight: 300;color: grey">Tie Space: </span><span>3/8"</span>
            <hr style="margin-top: 5px; margin-bottom: 5px">
          </div>
        </div>

      </div>
    </div>
    <div class="row" style="margin-left: 0px; margin-right: 0px">

    </div>
  </div>

</div>
