<div class="admin-sidebar-header2">&nbsp;&nbsp;&nbsp;&nbsp;SETTINGS</div>
<div class="admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;General</div>
<div class="admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Payments</div>
<div class="admin-sidebar-tab" style="font-size:13px;">&nbsp;&nbsp;&nbsp;&nbsp;Checkout</div>
<div class="admin-sidebar-tab" style="font-size:13px;" ui-sref="admin.shipping_setting">&nbsp;&nbsp;&nbsp;&nbsp;Shipping</div>
<div class="admin-sidebar-tab" style="font-size:13px;" >&nbsp;&nbsp;&nbsp;&nbsp;Taxes</div>
<div class="admin-sidebar-tab" style="font-size:13px;" >&nbsp;&nbsp;&nbsp;&nbsp;Notifications</div>
<div class="admin-sidebar-tab" style="font-size:13px;" >&nbsp;&nbsp;&nbsp;&nbsp;Gift cards</div>
<div class="admin-sidebar-tab" style="font-size:13px;" >&nbsp;&nbsp;&nbsp;&nbsp;Files</div>
<div class="admin-sidebar-tab" style="font-size:13px;" >&nbsp;&nbsp;&nbsp;&nbsp;Account</div>
