<div class="row" style="margin-left: 0px; margin-right: 0px;margin-top: 10%">
  <div  style="border: solid 1px #E1E1E1; padding-left: 0px; padding-right: 0px" class="col col-xs-8 col-xs-offset-2 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
    <uib-tabset active="active" style="font-family: HelveticaNeue;font-size: 100%;text-align: center">
      <uib-tab >
        <uib-tab-heading style="font-family: HelveticaNeue;">
          <span style="font-size: 125%">New Orders</span>
        </uib-tab-heading>
        <div class="row">
          <div class="col col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1" style="margin: 5%">
            <table ng-show="my_orders && my_orders.length"  border="1" cellpadding="10">
              <thead>
                <td>
                  Order Id
                </td>
                <td>
                  Order Date
                </td>
                <td>
                  Order Value
                </td>
                <td>
                  Products
                </td>
                <td>
                  Exp Delivery
                </td>
                <td>
                  Status
                </td>
                <td>
                  Edit
                </td>
              </thead>
              <tbody ng-repeat="order in my_orders">
                <td>
                  <a href="#" ng-click="get_order_details($event, order)">{{order.number}}</a>
                  <!-- <i type="button" uib-popover-html="popover_html" popover-trigger="outsideClick" ng-mouseover="trigger_popover(line_item)" popover-placement="right" popover-append-to-body="false" style="color: #BFBFBF; cursor: pointer" class="fa fa-search"></i> -->

                </td>
                <td>
                  {{get_display_date(order.completed_at)}}
                </td>
                <td>
                  ${{order.total}}
                </td>
                <td>
                  {{order.total_quantity}}
                </td>
                <td>
                  {{}}
                </td>
                <td>
                  {{payment_state==null? 'payment due' : shipment_state}}
                </td>
                <td>
                  Edit | Cancel
                </td>
              </tbody>

            </table>
            <uib-alert ng-hide="my_orders && my_orders.length" style="margin-top: 5%"  type="success">No orders found.</uib-alert>

          </div>
        </div>
      </uib-tab>
      <uib-tab >
        <uib-tab-heading style="font-family: HelveticaNeue;">
          <span style="font-size: 125%">Previous Orders</span>
        </uib-tab-heading>
        <div class="row">
          <div class="col col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1" style="margin: 5%">
            <table ng-show="my_orders && my_orders.length" border="1" cellpadding="10">
              <thead>
                <td>
                  Order Id
                </td>
                <td>
                  Order Date
                </td>
                <td>
                  Order Value
                </td>
                <td>
                  Products
                </td>
                <td>
                  Exp Delivery
                </td>
                <td>
                  Status
                </td>
                <td>
                  Edit
                </td>
              </thead>
              <tbody ng-if="order.shipment_state=='shipped'" ng-repeat="order in my_orders">
                <td>
                  {{order.number}}
                  <i type="button" uib-popover-html="popover_html" popover-trigger="outsideClick" ng-mouseover="trigger_popover(line_item)" popover-placement="right" popover-append-to-body="false" style="color: #BFBFBF; cursor: pointer" class="fa fa-search"></i>

                </td>
                <td>
                  {{get_display_date(order.completed_at)}}
                </td>
                <td>
                  ${{order.total}}
                </td>
                <td>
                  {{order.total_quantity}}
                </td>
                <td>
                  {{}}
                </td>
                <td>
                  {{payment_state==null? 'payment due' : shipment_state}}
                </td>
                <td>
                  Edit | Cancel
                </td>
              </tbody>

            </table>
            <uib-alert ng-hide="my_orders && my_orders.length" style="margin-top: 5%"  type="success">No orders found.</uib-alert>

          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
<div style="margin-top: 30%">
</div>
<div  id="footer" class="row" style="margin-left: 0px; margin-right: 0px;background-color:#000000;color:white;padding-top:1%;padding-bottom:2%;">
  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding-top:5%;padding-bottom:5%;">
    <div id="luxire-logo">
      <img style="max-width: 100%" src="assets/images/customer/luxire_logo_grey.png" >
    </div>
    <div class="footer-copy-right-text" style="margin-top:2%;">
        <span style="color:#D2D2D2;font-size:90%;">All copyrights to Luxire Corporation</span>
    </div>

  </div>
  <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="color:white;margin-top:5%;font-size:90%">
    <span ui-sref="customer.about_us" ><a href="#/about_us" style="color:#D2D2D2;">About Us</a></span><br><br>
    <span ui-sref="customer.shipping_returns" ><a href="#/shipping_returns" style="color:#D2D2D2;">Shipping & Returns</a></span><br><br>
    <span ui-sref="customer.quality" ><a href="#/quality" style="color:#D2D2D2;">Quality and Satisfaction</a></span><br><br>
    <span ui-sref="customer.contact_us" ><a href="#/contact_us" style="color:#D2D2D2;">Contact Us</a></span><br><br>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="color:white;margin-top:5%;font-size:90%;">
    <span ui-sref="customer.privacy_policy"><a href="#/privacy_policy" style="color:#D2D2D2;">Privacy Policy</a></span><br><br>
    <span ui-sref="customer.faqs"><a href="#/faqs" style="color:#D2D2D2;">FAQs</a></span><br><br>
    <span ui-sref="customer.responsible_manufacturing"><a href="#/responsible_manufacturing" style="color:#D2D2D2;">Responsible Manufacturing</a></span><br><br>
  </div>

</div>
