
<div class="container-fluid" style="height:100%" >
  <div class="row" style="height: 3.3em; line-height: 3.3em; border-bottom: 1px solid #DBDEE0;">
    <div class="col-lg-2 col-md-2" style="text-align: center;font-size: 20px;">
      <i class="fa fa-tag" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:100;color:#928CA2;">Products</span>
    </div>
    <div class="col-lg-6 col-md-6">

    </div>
    <div class="col-lg-4 col-md-4" style="text-align: right;">
      <div class="btn-group" role="group" aria-label="...">
        <!--<button type="button" class="btn btn-default">Export</button>-->
        <!--<button type="button" class="btn btn-default" ng-click="importModal('md')">Import</button>-->
      </div>
      <button type="button" class="btn btn-default" ui-sref="admin.inventory">Cancel</button>
    </div>
  </div>

  <div class="row" ng-show="loading" style="height: 93vh; width: 100%; background-color:white; opacity: 0.6; line-height: 93vh; text-align: center;z-index: 9999; padding: 0; margin: 0; position: absolute;">
    <img src="lib/assets/loader.gif"/>
  </div>

  <div class="row" style="height: 93vh;">
    <div class="container-fluid admin-console-content">
      <div class="row" style="margin:0px; background-color: white; border: 1px solid #DBDEE0;">
        <div class="row" style="margin:0px; background-color: white;">
          <div  class="col-lg-1 col-md-1" style="padding:0px; height:6vh; line-height: 6vh; text-align: center; border-right: 1px solid #DBDEE0;">
            <span style="font-size: 12px;">All Products</span>
          </div>
          <div  class="col-lg-11 col-md-11" style="height:6vh;background-color:#F5F6F7; border-bottom: 1px solid #DBDEE0;">

          </div>
        </div>
        <div class="row" style="margin:0px; background-color: white; padding: 20px;">
          <div class="input-group">
            <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Filter Products</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
            </div><!-- /btn-group -->
            <input type="text" ng-model="searchText" class="form-control" aria-label="..." placeholder="Start typing to search for products...">
          </div>
        </div>

        <div  class="row" style="margin:0px; background-color: white; padding: 20px;">
          <div class="row" ng-show="noProductMsg">
            <div class="col-md-9">
              <center><span style="font-size: 150%; color:red;">No product in this inventory </span><center>
            </div>
            <div class="col-md-3" style="float-right;">
              <!-- <button type="button" class="btn btn-default" ui-sref="admin.inventory">Home</button> -->
              <!--<button type="button" class="btn btn-default" ng-click="showEditInventory(parentSku)">Add products</button>--> <!--  30th march  -->

              <!-- <button class="btn-default" ui-sref="admin.inventory">Inventory Home</button> -->
              <!-- <button class="btn-default" ng-click="showEditInventory(parentSku)" >Ad</button> -->
            </div>
          </div>
          <div ng-show="!noProductMsg">
              <table class="table table-hover admin-product-list">
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" name="selectAll" value="">
                    </th>
                    <th>
                      Product
                    </th>
                    <th>
                      Name
                    </th>
                    <th>
                      Type
                    </th>
                    <th>
                      Vendor
                    </th>
                    <th>

                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="product in allInventoryRelatedProducts.product | filter:{name:searchText}">
                    <td>
                      <input type="checkbox" name="selectAll" value="">
                    </td>
                    <td style="width:15%; padding-left:2%;">
                      <!-- <span ng-if="product.master.images[0].mini_url != null"><img src="http://104.215.254.150:3000{{product.master.images[0].mini_url}}" style="width:40px; height:40px;"></span> -->
                      <span ng-if="product.master.images[0].mini_url != null"><img src="http://104.215.254.150:3000{{product.master.images[0].mini_url}}" style="width: 50px; height: 50px"></span>
                      <span ng-if="product.master.images[0].mini_url == null"><img src="lib/assets/no-image-available.jpg" style="width: 50px; height: 50px"></span>
                    </td>
                    <td style="width:40%;">
                      <a  ng-click="showEditProducts(product)">{{product.name}}</a>
                    </td>
                    <td style="width:10%;">
                      Shirts
                    </td>
                    <td style="width:10%;">
                      Luxire
                    </td>
                    <td style="width:5%;"></td>
                    <td>
                      <!-- <button type="button" class="btn btn-info" ng-click="showEditProducts(x)"><i class="fa fa-pencil-square-o" style="color:blue;"></i></button>
                      <button type="button" class="btn btn-danger" ng-click="deleteProducts(x.id,$index)"><i class="fa fa-trash"></i></button> -->
                      <i class="fa fa-pencil-square-o" ng-click="showEditProducts(product)" style="font-size: 24px;color: #3276B1;cursor: pointer"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                      <i class="fa fa-trash-o" ng-click="deleteProducts(product.id,$index)" style="font-size: 24px;color: #F22823;cursor: pointer;"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
