<div class="auth-background">
  <div class="row" style="text-align: center;vertical-align: middle;display:block; color: #48373D;font-family: initial;  font-size: 300%;margin-top: 8%;margin-left: 0;margin-right: 0">
    Luxire
  </div>
  <div class="row" style="text-align: center;vertical-align: middle;display:block;color: #AFABBC;font-size: 125%;margin-left: 0;margin-right: 0">
    Log in to manage your store
  </div>
  <br>
  <br>
  <div class="row" style="text-align: center;vertical-align: middle;display:block;color: #48373D;margin-left: 0;margin-right: 0">
    <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4">
    </div>
    <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <form class="" ng-submit="login()">
        <div class="input-group input-group-lg">
          <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-envelope"></i></span>
          <input type="email" class="form-control" placeholder="Email" ng-model="back_office.user.email" aria-describedby="sizing-addon1" ng-click="error=''">
        </div>

        <div class="input-group input-group-lg" style="padding-top: 2%">
          <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" class="form-control"  placeholder="Password" ng-model="back_office.user.password" aria-describedby="sizing-addon1" ng-click="error=''">
          <span class="input-group-addon" style="background-color: #fff;cursor: pointer" ui-sref="forgot_password">
            <i class="glyphicon glyphicon-question-sign"
            style="font-size: small" uib-popover-template="popover_template"
            popover-placement="bottom" popover-trigger="mouseenter"
            popover-append-to-body="true">
            </i>
          </span>
        </div>
        <uib-alert  ng-if="error != ''" style="margin-bottom: 1% !important; margin-top: 1%" type="danger">{{error}}</uib-alert>
        <div class="row" style="text-align: left;vertical-align: middle;display:block;color: #AFABBC;margin-left: 0;margin-right: 0">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="remember_me"> Remember me
            </label>
          </div>
        </div>
        <button class="btn btn-primary btn-lg" style="width: 100%" type="submit" name="button">Login</button>
      </form>
    </div>
    <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4">
    </div>
  </div>

  <br>

</div>
<script type="text/ng-template" id="forgot_password_popover.html">
    <p>Forgot your password?</p>
</script>
