<div class="auth-background">
  <div class="row" style="text-align: center;
  vertical-align: middle;display:block;
  color: #48373D;font-family: initial;
  font-size: 300%;margin-top: 8%;">
    Luxire
  </div>
  <div class="row" style="text-align: center;vertical-align: middle;display:block;color: #AFABBC;font-size: 125%">
    Reset Password
  </div>
  <br>
  <br>
  <div class="row" style="text-align: center;vertical-align: middle;display:block;color: #48373D">
    <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4">
    </div>
    <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-top:2%;">

      <form class="" ng-submit="submit()">
        <div class="input-group input-group-lg" style="padding-top: 2%">
          <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" class="form-control"  placeholder="New Password" ng-model="passwords.new_password" aria-describedby="sizing-addon1">

        </div>
        <div class="input-group input-group-lg" style="padding-top: 2%">
          <span class="input-group-addon" id="sizing-addon1"><i class="glyphicon glyphicon-lock"></i></span>
          <input type="password" class="form-control"  placeholder="Confirm Password" ng-model="passwords.new_password_confirmation" aria-describedby="sizing-addon1">

        </div>

        <uib-alert  ng-if="error != ''" style="margin-bottom: 1% !important; margin-top: 1%" type="danger">{{error}}</uib-alert>
        <div class="row" style="text-align: left;vertical-align: middle;display:block;color: #AFABBC">

        </div>
        <button class="btn btn-primary btn-lg" style="width: 100%;margin-top:2%;" type="submit" name="button">Submit</button>
      </form>
    </div>
    <div class="col col-xs-4 col-sm-4 col-md-4 col-lg-4">
    </div>
  </div>


  <br>
  <!-- <div class="row" style="text-align: center;vertical-align: middle;display:block;color: #AFABBC">
    <img src="lib/assets/Luxire_logo_collection_page.png" alt="logo" />
  </div> -->
</div>
