<div class="container-fluid" style="background-color:#F7F7F7;height: 100%">
	<div class="row header" style="padding-top:25px; padding-bottom: 7px;">
		<div class="col-md-1 col-lg-1">
		</div>
		<div class="col-md-6 col-lg-6">
			<b>Luxire</b>
		</div>
		<div class="col-md-5 col-lg-5">
			<button type="button" class="btn btn-default btn-lg header-buttons">
  				<span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
			</button>
			<button type="button" class="btn btn-default btn-lg header-buttons">
  				<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Cart
			</button>
			<button type="button" class="btn btn-default btn-lg header-buttons">
  				<span class="glyphicon glyphicon-user" aria-hidden="true"></span> Register or Login
			</button>
		</div>
	</div>
	<div class="container-fluid" style="padding: 0px 45px !important;box-shadow: 1px 1px 1px 1px #B9B9B9;">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<ul class="nav nav-pills nav-justified navlist">
					<li role="presentation"><a href="#">Shirts</a></li>
					<li role="presentation"><a href="#">Pants</a></li>
					<li role="presentation"><a href="#">Jackets</a></li>
					<li role="presentation"><a href="#">Suits</a></li>
					<li role="presentation"><a href="#">Accessories</a></li>
					<li role="presentation"><a href="#">Measurements</a></li>
					<li role="presentation"><a href="#">Reviews</a></li>
					<li role="presentation"><a href="#">How it's made</a></li>
					<li role="presentation"><a href="#">Galleries</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid" style="padding: 15px 85px  !important;">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<ul class="nav nav-pills nav-justified customize-page" style="background-color: transparent;">
  					<li class="active" style="border-left: 1px solid #AEAEAE;border-top: 1px solid #AEAEAE;border-bottom: 1px solid #AEAEAE;">1. Customize</li>
  					<li style="border-left: 1px solid #AEAEAE;border-top: 1px solid #AEAEAE;border-bottom: 1px solid #AEAEAE;">2. Personalize</li>
  					<li style="border-left: 1px solid #AEAEAE;border-top: 1px solid #AEAEAE;border-bottom: 1px solid #AEAEAE;">3. Measurements</li>
  					<li style="border: 1px solid #AEAEAE;">4. Summary</li>
				</ul>
			</div>
		</div>
	</div>
	<div  class="container-fluid" style="padding: 15px 85px  !important;">
		<div class="col-md-8 col-lg-8">
			<div class="container-fluid">
				<div class="customize-acc">
				<!-- <div ng-controller="AccordionDemoCtrl" class="customize-acc"> -->
				  	<accordion close-others="false">
					    <accordion-group is-open="false" ng-repeat="prop in customizeJson.properties[0].desc">
					        <accordion-heading>
					            {{prop.type}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': status.open, 'glyphicon-chevron-down': !status.open}" style="padding-left:25px;"></i><i class="pull-right glyphicon glyphicon-eye-open"></i>
					        </accordion-heading>
					        <div>
					        	<div class="cards" ng-class="{activecard:customizeJson.properties[0].desc[$parent.$index].selectedStyle=={{$parent.$index}}{{$index}}}" ng-click="activate(0,$parent.$index,$index, prop.type, details.name)" ng-repeat="details in prop.styles" style=""><img src="{{details.image_url}}">
					        		<br>
					        		{{details.name}}
					        	</div>
					        </div>
					    </accordion-group>
				  	</accordion>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-lg-4" style="position: fixed;right: 0">
			<div class="container-fluid">
				<div class="summary-card" >
					<div style="text-align: center; font-size: 20px; padding: 20px 0px;">{{cartObject.product_name}}</div>
					<div class="summary-details">
						<div ng-repeat="prop in customizeJson.properties[0].desc" style="border-bottom: 1px solid #DDDDDD; font-size: 16px;padding:5px;display: block">
							<div style="display: inline-block;height: 17px"><b>{{prop.type}}:</b>  {{cartObject['Customize'][prop.type]}}<div>
							<!-- <div>{{cartObject['Customize'][prop.type]}}</div> -->
							<!-- <div>{{customizeJson.desc[$index].selectedTitle}}</div> -->
							<!-- <div style="display: inline-block">{{cartObject['Customize'][prop.type]}}</div> -->
						</div>
					</div>
				</div>
				<button class="luxire-solid-button" ng-click="gotoPersonalize()">Continue</button>
				<div style="padding:10px; text-align: center; font-size: 15px; font-weight: 700;"><a href="#/productdetails" style="color:#9591A0;">Save for later</a></div>
			</div>
		</div>
	</div>
</div>
