<div class="container-fluid" style="height:100%">
  <div class="row" style="margin-left: 0px;margin-right: 0px;height: 3.3em; line-height: 3.3em; border-bottom: 1px solid #DBDEE0;">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align: left;font-size: 20px;">
      <i style="display: inline-block" class="fa fa-cog" style="font-size: 20px;"></i>&nbsp;&nbsp;&nbsp;<span style="font-weight:400;">Settings / Shipping /Real-time carriers</span>
    </div>
  </div>
  <div  style="margin-left: 0px;margin-right: 0px;" class="row admin-console-content" >
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <div class="placard-grey ">
          <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
              <p style="font-size: 18px">FedEx</p>
              <p style="font-size: 13px">FedEx is a leader in global logistics services founded in 1998 and based in the United States.
                FedEx provides both domestic and international shipping services.</p>
              <button type="button" class="btn btn-primary">Activate</button>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            </div>
          </div>
          <hr style="margin-left: -15px; margin-right: -15px;border-top: solid 1px #EBEEF0">
          <p style="font-size: 13px">
            Please provide your FedEx account credentials.
          </p>

          <div class="form-inline">
            <div style="width: 49%" class="form-group">
              <p>Meter Number</p><br>
              <input class="form-control" style="width: 100%" name="fedex_meter_number" ng-model="fedex_meter_number">
            </div>
            <div style="width: 49%;margin-left: 1%" class="form-group">
              <p>Password</p><br>
              <input type="text" style="width: 100%" class="form-control" name="fedex_password" ng-model="fedex_password">
            </div>
          </div>
          <div class="form-inline" style="margin-top: 2%">
            <div style="width: 49%" class="form-group">
              <label for="fedex_authentication_key">Authentication Key</label>
              <input type="text" style="width: 100%" class="form-control" name="fedex_authentication_key" ng-model="fedex_authentication_key">
            </div>
            <div style="width: 49%;margin-left: 1%" class="form-group">
              <label for="fedex_account_number">Account Number</label>
              <input type="text" style="width: 100%" class="form-control" name="fedex_account_number" ng-model="fedex_account_number">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">

      </div>
    </div>

  </div>
</div>
